<div class="container-fluid">
  <div class="row" *ngIf="isMessageShw==true && showRapply==false ">
    <div class="col-xs-12 col-sm-12" *ngIf="isMessageShw==true && showRapply==false">


      <div [ngClass]="classshown">
        <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
        {{messageShown}}
      </div>
    </div>

    <!--./col-sm-12-->
    <!-- <div class="col-xs-12 col-sm-1" *ngIf="showRapply==true">
      <button class="btn btn-primary waves-effect waves-light">Reapply</button>
    </div> -->
  </div>

  <div class="row" *ngIf="isMessageShw==true  && showRapply==true">
    <div class="col-xs-12 col-sm-11" *ngIf="isMessageShw==true  && showRapply==true">


      <div [ngClass]="classshown">
        <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
        {{messageShown}}
      </div>
    </div>

    <!--./col-sm-12-->
    <div class="col-xs-12 col-sm-1" *ngIf="showRapply==true">
      <button class="btn btn-primary waves-effect waves-light" (click)="alertSweet(1)"
        [ladda]="loading">Reapply</button>
    </div>
  </div>
  <!--./row-->
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-0">
        <div class="card-body">
          <div class="custom_steps_nav clearfix">
            <ul class="stepper-custom clearfix">
              <li [ngClass]="step_1_class">
                <i [ngClass]="step_1_icon_class"></i>
                Registration
              </li>
              <li [ngClass]="step_2_class">
                <i [ngClass]="step_2_icon_class"></i>
                Specialities Selection
              </li>
              <li [ngClass]="step_3_class" (click)="navigateToApplicationForm()">
                <i [ngClass]="step_3_icon_class"></i>
                Application
              </li>

              <li [ngClass]="step_4_class" (click)="FeesPayment()">
                <i [ngClass]="step_4_icon_class"></i>
                Fee Submission
              </li>

              <li [ngClass]="step_5_class">
                <i [ngClass]="step_5_icon_class"></i>
                Desktop Assessment
              </li>

              <!-- rrc todo (click)="navigateToApplicationForm()"-->
              <li [ngClass]="step_6_class">
                <i [ngClass]="step_6_icon_class"></i>
                DA NC Reply and Review
              </li>
              <!-- (click)="openActionModal(actionModal)"  for step 7 -->
              <li [ngClass]="step_7_class" (click)="openActionModal(actionModal)">
                <i [ngClass]="step_7_icon_class"></i>
                OA Schedule
              </li>

              <li [ngClass]="step_8_class">
                <i [ngClass]="step_8_icon_class"></i>
                Onsite Assessment
              </li>

              <li [ngClass]="step_9_class">
                <i [ngClass]="step_9_icon_class" (click)="navigatetoOA()"></i>
                OA Feedback
              </li>

              <li [ngClass]="step_10_class">
                <i [ngClass]="step_10_icon_class" (click)="navReply()"></i>
                OA NC Reply and Review
              </li>

              <li [ngClass]="step_11_class">
                <i [ngClass]="step_11_icon_class" (click)="openCCpopup()"></i>
                Committee Verification
              </li>

              <li [ngClass]="step_12_class">
                <i [ngClass]="step_12_icon_class"></i>
                Certified
              </li>
            </ul>




          </div>
          <!--./custom_steps_nav-->
        </div>
      </div>

      <!--./option-first-->

      <!--option-second-->
      <!-- <ul class="steps steps-5">
        <li><a href="#" title=""><em>Step 1: </em><span>Basic Questions</span></a></li>
        <li><a href="#" title=""><em>Step 2: </em><span>Application </span></a></li>
        <li class="current"><a href="#" title=""><em>Step 3: </em><span>Desktop Assessment</span></a></li>
        <li><a href="#" title=""><em>Step 4: </em><span>NC Reply and Review</span></a></li>
        <li><a href="#" title=""><em>Step 5: </em><span>Final Certificate</span></a></li>
      </ul> -->

      <!--./option-second-->



    </div>
  </div>
  <!-- end row -->


  <div class="row mt-4">
    <div class="col-xl-7">
      <div class="hospital-info">
        <div class="GridHospitalDetails">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Organisation Information</h4>

                  <!-- Table -->
                  <div class="table-responsive">
                    <table id="basic-datatable"
                      class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline grid-ayush">
                      <tr>
                        <td class="bg-fill">
                          Reference ID
                        </td>
                        <td>
                          {{hospdata.hosp_id}}
                        </td>

                      </tr>
                      <tr>
                        <td class="bg-fill" style="width: 30%;">
                          Organisation Name
                        </td>
                        <td>
                          {{hospdata.hospital_name}}
                        </td>

                      </tr>
                      <tr>
                        <td class="bg-fill">
                          State
                        </td>
                        <td>
                          {{hospdata.state}}
                        </td>

                      </tr>




                      <tr>
                        <td class="bg-fill">
                          Application Number
                        </td>
                        <td>
                          {{hospdata.application_number}}
                        </td>

                      </tr>



                      <tr>
                        <td class="bg-fill">
                          Application Type
                        </td>
                        <td>
                          {{hospdata.application_type}}
                        </td>

                      </tr>
                    </table>
                  </div>
                  <!-- End table -->

                </div>
              </div>
            </div>
          </div>
        </div>
        <!--./GridHospitalDetails-->



      </div>
      <!--./hospital-info-->

    </div>
    <!--./col-xl-8-->
    <div class="col-xl-5">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Application Stage History</h4>
              <div class="scroll-Hbody">
                <div class="table-responsive">
                  <table class="table table-centered table-stripped table-nowrap">
                    <thead>
                      <tr>
                        <th class="text-center">Stage</th>
                        <th class="text-center">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of this.hospdata.stage_history;let i=index;">
                        <td style="width: 50%">
                          <p class="mb-0 text-center">{{data.stage}}</p>
                        </td>
                        <td>
                          <p class="mb-0 text-center">{{data.creation_date| date:'dd-MMM-yyyy'}}</p>
                        </td>

                      </tr>
                      <!-- 
                      <tr>
                        <td style="width: 50%">
                          <p class="mb-0">Basic Certificate Stage</p>
                        </td>
                        <td>
                          <p class="mb-0 text-right">05-May-2020</p>
                        </td>

                      </tr>


                      <tr>
                        <td style="width: 50%">
                          <p class="mb-0">Pre-registration Stage</p>
                        </td>
                        <td>
                          <p class="mb-0 text-right">05-May-2020</p>
                        </td>

                      </tr>

                      <tr>
                        <td style="width: 50%">
                          <p class="mb-0">Desktop Assessment Stage</p>
                        </td>
                        <td>
                          <p class="mb-0 text-right">05-May-2020</p>
                        </td>

                      </tr> -->

                    </tbody>
                  </table>
                  <!-- <table class="table table-centered table-stripped table-nowrap" *ngIf="this.hospdata.stage_id==20">
                    <thead>
                      <tr>
                        <th class="text-center">Stage</th>
                        <th class="text-center">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of this.hospdata.stage_history;let i=index;">
                        <td style="width: 50%">
                          <p class="mb-0 text-center" *ngIf="data.stage_id<=10">{{data.stage}}</p>
                        </td>
                        <td>
                          <p class="mb-0 text-center" *ngIf="data.stage_id<=10">
                            {{data.creation_date| date:'dd-MMM-yyyy'}}</p>
                        </td>

                      </tr>
                    

                    </tbody>
                  </table> -->
                </div>
              </div>
              <!--./scroll-Hbody-->


            </div>
          </div>
        </div>
      </div>

    </div>
    <!--./col-xl-4-->


  </div><!-- end row -->






</div>
<!-- container-fluid -->



<ng-template #actionModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">On-site Assessment Schedule </h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">

    <div class="row">

      <div class="alert alert-warning  fade show" style="width: 100%; margin-left: 10px; margin-right: 10px;">

        Please note you can accept or reject the date maximum three times. A valid reason should be provided for the
        rejection. The application will be deactivated the fourth time.
      </div>


    </div>
    <div class="row">

      <div class="col-xs-6 col-md-6 col-xl-6">
        <div class="form-group">
          <label><b>Assessment Date</b></label>

          <input type="text" class="form-control" name="assessment_oa_date" id="assessment_oa_date"
            [(ngModel)]="asmt_date_oa" disabled>


        </div>
      </div>

      <div class="col-xs-6 col-md-6 col-xl-6">
        <div class="form-group">
          <label><b>Assessment Type</b></label>

          <input type="text" class="form-control" name="asmt_oa_type" id="asmt_oa_type" [(ngModel)]="asmt_type_oa"
            [disabled]="true">

        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-6 col-md-6 col-xl-6">

        <label><b>Status</b></label>


        <div class="custom-control custom-radio custom-control-inline mr-4 ml-3">
          <input type="radio" id="accept" name="action_status" class="form-check-input" [(ngModel)]="action_status"
            [value]=true>
          <label class="form-check-label" for="accept"> Accept</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline mr-4">
          <input type="radio" id="reject" name="action_status" class="form-check-input" [(ngModel)]="action_status"
            [value]=false>
          <label class="form-check-label" for="reject"> Reject</label>
        </div>

      </div>



    </div>
    <div class="row mt-1" *ngIf="action_status==false">
      <div class="col-xs-12 col-md-12 col-xl-12" *ngIf="this.stageid==110">
        <div class="form-group">
          <label><strong>Remarks</strong></label>



          <textarea id="Remarks" name="Remarks" class="form-control" rows="4" style="resize: none !important;"
            [(ngModel)]="remarks"></textarea>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-xs-12 col-md-12 col-xl-12">

        <label><strong>History</strong></label>





      </div>
    </div>
    <div class="row mt-1">
      <div class="col-xs-12 col-md-12 col-xl-12">
        <div class="table-responsive">
          <table class="table table-centered table-nowrap">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Assessment Date</th>
                <th class="text-center">Assessment Type</th>
                <th class="text-center">Status</th>
                <th class="text-center">Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of oa_AssessemtHistry.ret ;let i=index">
                <td class="text-center" style="width: 25%;">{{data.asmt_date}}</td>

                <td class="text-center" style="width: 25%;">{{data.asmt_type}}</td>
                <td class="text-center" style="width: 25%;">
                  <span *ngIf="data.status==false" rel="tooltip" class="badge badge-success"
                    type="button">Accepted</span>
                  <span *ngIf="data.status==true" rel="tooltip" class="badge badge-danger" type="button">Rejected</span>
                </td>
                <td class="text-center" style="width: 25%;">{{data.remark}}</td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>




  </div>
  <div class="modal-footer" *ngIf="this.stageid==110">

    <button class="btn btn-success" (click)="actionbyhco()">Submit</button>
  </div>

</ng-template>
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Order Details</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <p class="mb-2">
      Product id:
      <span class="text-primary">#SK2540</span>
    </p>
    <p class="mb-4">
      Billing Name:
      <span class="text-primary">Neal Matthews</span>
    </p>
    <div class="table-responsive">
      <table class="table table-centered table-nowrap">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div>
                <img src="assets/images/product/img-7.png" alt class="avatar-sm" />
              </div>
            </th>
            <td>
              <div>
                <h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
                <p class="text-muted mb-0">$ 225 x 1</p>
              </div>
            </td>
            <td>$ 255</td>
          </tr>
          <tr>
            <th scope="row">
              <div>
                <img src="assets/images/product/img-4.png" alt class="avatar-sm" />
              </div>
            </th>
            <td>
              <div>
                <h5 class="text-truncate font-size-14">Phone patterned cases</h5>
                <p class="text-muted mb-0">$ 145 x 1</p>
              </div>
            </td>
            <td>$ 145</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0 text-right">Sub Total:</h6>
            </td>
            <td>$ 400</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0 text-right">Shipping:</h6>
            </td>
            <td>Free</td>
          </tr>
          <tr>
            <td colspan="2">
              <h6 class="m-0 text-right">Total:</h6>
            </td>
            <td>$ 400</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<form #dicisionForm="ngForm">
  <ng-template #ccModel let-modal>
    <div class="modal-header">
      <h4 class="mb-0 font-size-16 ml-3">Committee Review</h4>

      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">

            <fieldset>
              <div class="form-group">

                <label class="mt-2"><b> Reply</b></label>
                <div class="input-group">
                  <input type="text" style="height: 60px;" class="form-control"
                    [(ngModel)]="committeeRespone.hospital_reply" #ncreply="ngModel" id="ncreply" name="ncreply"
                    required>
                </div>
                <div *ngIf="ncreply.invalid">
                  <div *ngIf="ncreply.errors.required" class="text-danger">
                    Required
                  </div>
                </div>
              </div>
              <div class="form-group">

                <label>Document</label>
                <div class="input-group">

                  <input type="file" #myFileInput (change)="getUploadFilesPath($event.target.files)"><br>

                  <label style="font-size: 11px; margin-top: 10px;">NOTE: The following formats are
                    accepted PDF , JPEG , PNG.The maximum file size allowed is 20 MB.</label> <br />
                </div>

                <input hidden type="text" name="ncUploadrepleyDoc_url" #ncUploadrepleyDoc_url="ngModel" required
                  [(ngModel)]="committeeRespone.uploadurl" required>
                <div *ngIf="ncUploadrepleyDoc_url.invalid">
                  <div *ngIf="ncUploadrepleyDoc_url.errors.required" class="text-danger">
                    Required
                  </div>
                </div>

              </div>
              <div class="table-responsive" style="margin-top: -10px;">
                <table class="table table-centered table-bordered table-nowrap">
                  <tbody>

                    <tr *ngFor="let item of arryNcUploadedDocs">
                      <td>
                        <span class="text-primary">{{item.fn}}</span>
                        <i class="fa fa-times ml-3 text-danger" (click)="DeleteCCUpload(item)"></i>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>

            </fieldset>


            <h3 class="card-title custom-inner-title-grey mt-3">Committee Log</h3>
            <div class="row">
              <div class="col-xs-12 col-md-6 col-xl-6">

                <div class="table-responsive mb-1" *ngFor="let item of committeeRespone.ccpening.rows;">
                  <table class="table table-centered table-nowrap nc_log_grid" style="width: 100%;">
                    <thead>
                      <tr>
                        <th colspan="2" class="text-center">Commettee</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td width="25%"><strong>Date</strong> </td>
                        <td>{{item.ccCreateDate | date:'dd-MMM-yyyy, h:mm a'}}</td>
                      </tr>
                      <tr>

                        <td><strong>Remark</strong></td>
                        <td>{{item.remarks}}</td>
                      </tr>


                    </tbody>

                  </table>

                </div>


              </div>

              <div class="col-xs-12 col-md-6 col-xl-6">

                <div class="table-responsive mb-1" *ngFor="let item of committeeRespone.ccpening.rows;">
                  <!-- *ngFor="let item of daNcHospitalOrCenterDetailsItem.rows;" -->
                  <table class="table table-centered table-nowrap nc_log_grid" style="width: 100%;">
                    <thead>
                      <tr>
                        <th colspan="2" class="text-center">Organisation</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td width="25%"><strong>Date</strong> </td>
                        <td>{{item.ccReplyDate | date:'dd-MMM-yyyy, h:mm a'}}</td>
                      </tr>
                      <tr>

                        <td><strong>Reply</strong></td>
                        <td>{{item.reply}}</td>
                      </tr>
                      <tr>
                        <td><strong>Document</strong></td>
                        <td>
                          <div *ngFor="let itm of item.uploadItems" style="float: left; margin-right: 4px">
                            <span class="badge badge-success" style="cursor:pointer"
                              (click)="downloadUploadFile(itm)">{{itm.fn}}</span>
                            <!-- <span class="download-img " (click)="downloadUploadFile(itm)" style="cursor:pointer"><i
                                class="fa fa-download"></i></span> -->
                          </div>
                        </td>
                      </tr>

                    </tbody>

                  </table>

                </div>


              </div>
            </div>




          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer" *ngIf="this.hospdata.stage_id!=206">
      <!-- <button type="button" class="btn btn-primary" (click)="saveCCDecision(1)">Save Draft</button>-->
      <button type="button" class="btn btn-success"
        [disabled]="committeeRespone.hospital_reply ==null || committeeRespone.hospital_reply ==''||committeeRespone.uploadurl=='' || committeeRespone.uploadurl==null "
        (click)="alertSweet2(2)">Submit</button>
    </div>




  </ng-template>




</form>
