<div class="main-content">
  <div class="container-fluid">



    <div class="card">
      <div class="card-body">
        <form #FormBuilderInfoForm="ngForm">
          <div class="row mt-2">

            <div class="col-xs-12 col-md-6 col-xl-4">
              <h4 class="card-title custom-title" style="margin-top: 2%;">&nbsp;Assessment Form Builder </h4>
            </div>

            <div class="col-xs-12 col-md-6 col-xl-2">

            </div>

            <div class="col-xs-12 col-md-6 col-xl-2">


            </div>

            <div class="col-xs-12 col-md-6 col-xl-2">

            </div>

            <div class="col-xs-12 col-md-6 col-xl-2">
              <button class="btn btn-info float-right btn-rounded waves-effect" (click)="createForm(CreateFromModel)"><i
                  class="bx bx-plus mr-1">
                </i>Create Form</button>
            </div>



          </div>
          <div class="table-responsive mt-3">
            <table class="table table-centered table-bordered hospitalTrackGrid">
              <thead class="thead-light">
                <!-- <div class="table-responsive mt-3">
            <table class="table table-centered table-bordered table-striped customTable hospitalTrackGrid">
              <thead class="thead-light"> -->
                <tr>

                  <th class="text-center" style="width: 5%;">#</th>
                  <th>FormName</th>
                  <th class="text-center">Category</th>
                  <th class="text-center">Platform</th>
                  <th class="text-center">Published Date</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Actions</th>

                </tr>
              </thead>
              <tbody>

                <!-- <tr *ngFor="let data of userSearchResponse.rows"> -->
                <tr *ngFor="let item of formBulderInfoList;let i=index">


                  <td class="text-center" style="width: 5%;">{{i+1}}</td>
                  <td>{{item.form_name}}</td>
                  <td class="text-center">{{item.form_category}}</td>
                  <td class="text-center">{{item.platform}}</td>
                  <td class="text-center">{{item.published_date | date:'dd/MM/yyyy'}}</td>
                  <td class="text-center">{{item.status_str | titlecase}}</td>

                  <td class="text-center">
                    <!-- <i class="fa fa-cogs warning"></i> -->
                    <button class="btn" title="Manage Sections" (click)="mangeSections(item)">
                      <i class="far fa-window-restore" style="color: rgb(3, 68, 173);"></i></button>
                    <button class="btn" title="Edit Form Info" (click)="editFromInfo(CreateFromModel,item,i)">
                      <i class="fa fa-edit blueIcon"></i></button>
                    <button class="btn" title="Publish Form" (click)="publishFormBuilder(item)">
                      <i class="fa fa-gavel" style="color: brown;"></i></button>
                    <button class="btn" title="View responses" (click)="showAllocatedHosp(item)">
                      <i class="fa fa-edit blueIcon" style="color: red;"></i></button>


                    <!-- <button class="btn" title="Manage Response" (click)="manageResponse(item.id)">
                      <i class="fa fa-cogs warning"></i></button> -->
                  </td>

                </tr>
              </tbody>
            </table>

            <!-- <div>
            <span>Showing {{minCount}} to {{maxCount}} of {{totalCount}} entries
            </span>
          </div> -->

            <!-- <tfoot style="float: right;">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </tfoot> -->

          </div>
          <!-- ---------------------------- -->
          <fieldset *ngIf="this.formBuilderSection.form_id>0">
            <div class="row mt-2">

              <div class="col-xs-12 col-md-6 col-xl-2">

              </div>

              <div class="col-xs-12 col-md-6 col-xl-2">

              </div>

              <div class="col-xs-12 col-md-6 col-xl-2">


              </div>

              <div class="col-xs-12 col-md-6 col-xl-4">

              </div>

              <div class="col-xs-12 col-md-6 col-xl-2">
                <button class="btn btn-info float-right btn-rounded waves-effect"
                  (click)="openFormSectionModel(addFormSectionModel)"><i class="bx bx-plus mr-1">
                  </i>Add
                  Section</button>
              </div>



            </div>

            <div class="table-responsive mt-3">
              <table class="table table-centered table-bordered hospitalTrackGrid">
                <thead class="thead-light">
                  <tr>

                    <th class="text-center" style="width: 5%;">#</th>
                    <th>Section Name</th>
                    <th class="text-center">Order</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Change order</th>
                    <th class="text-center">Actions</th>

                  </tr>
                </thead>
                <tbody>

                  <!-- <tr *ngFor="let data of userSearchResponse.rows"> -->
                  <tr *ngFor="let item of formBuilderSectionlist;let i=index">


                    <td class="text-center" style="width: 5%;">{{i+1}}</td>
                    <td>{{item.section_name}}</td>
                    <td class="text-center">{{item.section_order}}</td>
                    <td class="text-center">{{item.status_str}}</td>
                    <td class="text-center" style="width: 12%">
                      <div>
                        <!-- [disabled]="this.ProjectSelected.stage.toLowerCase() == 'close' || this.selAsmtSchItem.stage.toLowerCase() == 'publish' " -->
                        <button placement="top" matTooltip="Change Order" class="btnIcon" (click)="sortup(i)"
                          style="background-color:transparent; border: none;color:black">
                          <i style="font-size: 20px;" class="fa fa-sort-up"></i>
                        </button>
                      </div>

                      <div>
                        <!-- [disabled]="this.ProjectSelected.stage.toLowerCase() == 'close' || this.selAsmtSchItem.stage.toLowerCase() == 'publish' " -->
                        <button matTooltip="Change Order" class="btnIcon" (click)="sortdown(i)"
                          style="background-color:transparent; border: none;color:black">
                          <i style="font-size: 20px;" class="fa fa-sort-down"></i>
                        </button>
                      </div>

                    </td>
                    <td class="text-center">
                      <button class="btn" title="Edit Form Info" (click)="editSection(addFormSectionModel,item,i)">
                        <i class="fa fa-edit blueIcon"></i></button>


                      <button class="btn" title="ManageQuestion" (click)="publishSection(item)">
                        <i class="fa fa-gavel" style="color: brown;"></i></button>

                      <button class="btn" title="ManageQuestion" (click)="ManageQuestion(item)">
                        <i class="fa fa-cogs warning"></i></button>

                    </td>

                  </tr>
                </tbody>
              </table>

              <!-- <div>
              <span>Showing {{minCount}} to {{maxCount}} of {{totalCount}} entries
              </span>
            </div> -->

              <tfoot style="float: right;">
                <button class="btn btn-info float-right btn-rounded waves-effect"
                  (click)="updateFormSection()">Save</button>
                <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
              </tfoot>

            </div>
            <!-- ----------------------------- -->
          </fieldset>
        </form>
        <!-- end table -->

      </div>


    </div>
  </div>
</div>





<ng-template #CreateFromModel let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{FormBuilderHeading}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <form #myForm="ngForm">
    <div class="modal-body">



      <div class="row">

        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Form Name</label>
            <!-- 
              #serviceName="ngModel"  -->
            <input type="text" class="form-control" id="form_name" name="form_name"
              [(ngModel)]="formBulderInfo.form_name" #form_name="ngModel" required />
            <div *ngIf="form_name.errors && (form_name.dirty || form_name.touched)" class="text-danger">
              <div *ngIf="form_name.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">
          <div class="form-group mb-3">
            <label>Category</label>

            <select class="form-control" required [(ngModel)]="formBulderInfo.form_category" name="form_category"
              #form_category="ngModel">
              <option Value=null>Select</option>
              <option value="Hospital">Hospital</option>
              <option value="Centre">Centre</option>
            </select>
            <div *ngIf="form_category.invalid">
              <div *ngIf="form_category && form_category.errors.required" class="text-danger">
                Required
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="row">

        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Platform</label>
            <select class="form-control" required [(ngModel)]="formBulderInfo.platform" name="platform"
              #platform="ngModel">
              <option Value=null>Select</option>
              <option Value="Web">Web</option>
              <option Value="Mobile">Mobile</option>
            </select>
            <div *ngIf="platform.invalid">
              <div *ngIf="platform && platform.errors.required" class="text-danger">
                Required
              </div>
            </div>


          </div>

        </div>
        <!--./col-xl-6-->
        <!--./col-xl-6-->
        <!-- <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Status</label>

            <select class="form-control" required [(ngModel)]="formBulderInfo.status" name="status" #status="ngModel">
              <option [ngValue]=null>Select</option>
              <option [ngValue]="false">Draft</option>
              <option [ngValue]="true">Live</option>
            </select>
            <div *ngIf="status.invalid">
              <div *ngIf="status && status.errors.required" class="text-danger">
                Required
              </div>
            </div>

          </div>

        </div> -->
        <!--./col-xl-6-->

      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!myForm.form.valid"
        (click)="addFormBuilder()">Save</button>
    </div>
  </form>
</ng-template>


<ng-template #addFormSectionModel let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{FormBuilderSectionHeading}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <form #myForm1="ngForm">
    <div class="modal-body">



      <div class="row">

        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Section Name</label>
            <input type="text" class="form-control" id="section_name" name="section_name"
              [(ngModel)]="formBuilderSection.section_name" #section_name="ngModel" required />
            <div *ngIf="section_name.errors && (section_name.dirty || section_name.touched)" class="text-danger">
              <div *ngIf="section_name.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">
          <div class="form-group mb-3">
            <label>Order</label>

            <input type="number" class="form-control" id="section_order" name="section_order"
              [(ngModel)]="formBuilderSection.section_order" #section_order="ngModel" required />
            <div *ngIf="section_order.errors && (section_order.dirty || section_order.touched)" class="text-danger">
              <div *ngIf="section_order.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="row">

        <!--./col-xl-6-->
        <!-- <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Status</label>

            <select class="form-control" required [(ngModel)]="formBuilderSection.status" name="sectionstatus"
              #sectionstatus="ngModel">
              <option [ngValue]=null>Select</option>
              <option [ngValue]="false">Draft</option>
              <option [ngValue]="true">Live</option>
            </select>
            <div *ngIf="sectionstatus.invalid">
              <div *ngIf="sectionstatus && sectionstatus.errors.required" class="text-danger">
                Required
              </div>
            </div>

          </div>

        </div> -->
        <!--./col-xl-6-->

      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!myForm1.form.valid"
        (click)="saveFormSection()">Save</button>
    </div>
  </form>
</ng-template>