<div class="card mini-stats-wid">
  <!-- <a routerLink="/superadmin/users"> -->
  <a  [routerLink]=" ['./']" >
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <p class="text-muted font-weight-bold">{{title}}</p>
          <h4 class="mb-0" style="font-size: 18px;">{{value}}</h4>
        </div>
        
          <!-- Satya <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center" >
          <span class="avatar-title">
            <i class="bx {{icon}} font-size-24"></i>
            <i class="bx {{route}} font-size-24" hidden></i>


          </span>

        </div> Satya -->

        <div class="avatar-sm">
          <span class="avatar-title rounded-circle bg-soft-info font-size-18">
          <i class="bx {{icon}} font-size-24"></i>
        </span>
        </div>




      </div>

    </div>

   
  </a>
  <!-- end card-body -->
</div>
<!-- end card -->
