.databox{
    border: 1px;
    border-style:solid;
    border-color: #A9A9A9;
     padding: 10px;
     margin-left: 40px;
     margin-right: 40px;
     margin-top: 10px;
     margin-bottom: 10px;
}


