<div class="main-content">
    <div class="container-fluid">



        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Customers</h4>
                <div class="row">
                    <div class="col-xs-12 col-md-2 col-xl-2">
                        <select class="form-control">
                            <option [ngValue]="10">--show Entries--</option>
                            <option *ngFor="let data of enties" [ngValue]="data">{{data}}</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-2 col-xl-2">
                        <input type="text" class="form-control" placeholder="Customer Name">


                    </div>
                    <div class="col-xs-12 col-md-2 col-xl-2">
                        <input type="text" class="form-control" placeholder="User Id">


                    </div>


                    <div class="col-xs-12 col-md-6 col-xl-6">

                        <button class="btn btn-primary float-right ml-2 btn-rounded waves-effect"><i
                                class="bx bx-file mr-1"></i>Export Data</button>

                        <button class="btn btn-danger float-right btn-rounded waves-effect"><i
                                class="bx bx-reset mr-1"></i>Reset</button>

                    </div>
                </div>

                <div class="mt-3 table-responsive">
                    <table class="table table-centered table-bordered hospitalTrackGrid">
                        <thead class="thead-light">

                            <tr>
                                <th class="text-center">Sr.No.</th>
                                <th class="text-center">Customer Id</th>
                                <th class="text-center">Customer Name</th>
                                <th class="text-center">User Id</th>
                                <th class="text-center">Payment Done (EURO)</th>
                                <th class="text-center">Notification</th>
                                <th class="text-center">Last Login</th>
                                <th class="text-center" style="width: 15%;">Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dummy_datas; let i=index">

                                <td class="text-center">{{i+this.skip+1}}</td>
                                <td class="text-center">{{data.customerid}}</td>
                                <td class="text-center">{{data.customename}}</td>
                                <td class="text-center">{{data.userid}}</td>
                                <td class="text-center">{{data.paymentdone}}</td>
                                <td class="text-center">{{data.notificatn}}</td>
                                <td class="text-center">{{data.lastlogin}}</td>


                                <td class="text-center">

                                    <button type="button" class="button-icon"
                                        (click)="viewdeatils(viewCustomerModel)"><i class="bx bxs-book-content"
                                            title="View User Detail"
                                            style="color:green; font-weight: bolder; font-size: larger;"></i>
                                    </button>
                                    <button type="button" class="button-icon ml-1 mr-1"
                                        (click)="addnotification(addNotificationModel)"><i class="bx bx-bell"
                                            title="Notification"
                                            style="color:red; font-weight: bolder; font-size: larger;"></i>
                                    </button>
                                    <button type="button" class="button-icon ml-1 mr-1"
                                        (click)="paymentHistory(paymentHistoryModel)">
                                        <i class="bx bx-receipt" title="Payment History"
                                            style="color: blue; font-weight: bolder; font-size: larger;"></i>
                                    </button>
                                    <button type="button" class="button-icon ml-1">
                                        <i class="bx bx-rotate-right" title="Session History"
                                            style="color: rgb(64, 64, 110); font-weight: bolder; font-size: larger;"></i>
                                    </button>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <!-- <span>Showing {{minCount}} to {{maxCount}} of {{totalCount}} entries
                        </span> -->
                    </div>

                    <tfoot style="float: right;">
                        <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
                    </tfoot>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewCustomerModel let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{UserModalCaption}}</h5>

        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 mb-2">
                <label>First Name</label>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="col-md-6 mb-2">
                <label>Last Name</label>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="col-md-6 mb-2">
                <label>Login Id</label>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="col-md-6 mb-2">
                <label>Password</label>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="col-md-6">
                <label>Last Login Details</label>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" style="font-size: 15px;" class="btn btn-success"
            (click)="modal.dismiss('Cross click')">OK</button>
    </div>
</ng-template>

<ng-template #paymentHistoryModel let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{UserModalCaption}}</h5>

        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2">
                Customer Name:
            </div>
            <div class="col-md-2">
                ID:
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 mt-3 table-responsive">
                <table class="table table-centered table-bordered hospitalTrackGrid">
                    <thead class="thead-light">

                        <tr>

                            <th class="text-center">Sr.No.</th>
                            <th class="text-center">Pass</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Payment</th>
                            <th class="text-center">Center Type</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Sessions Taken</th>
                            <th class="text-center">Pending</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dummy_data; let i=index">

                            <td class="text-center">{{i+this.skip+1}}</td>
                            <td class="text-center">{{data.pass}}</td>
                            <td class="text-center">{{data.date}}</td>
                            <td class="text-center">{{data.payment}}</td>
                            <td class="text-center">{{data.centertype}}</td>
                            <td class="text-center">{{data.category}}</td>
                            <td class="text-center">{{data.sevicestaken}}</td>
                            <td class="text-center">{{data.pending}}</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <!-- <span>Showing {{minCount}} to {{maxCount}} of {{totalCount}} entries
                        </span> -->
                </div>

                <tfoot style="float: right;">
                    <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
                </tfoot>
            </div>
        </div>
    </div>
</ng-template>

<form #notificationForm="ngForm" novalidate>

    <ng-template #addNotificationModel let-modal>
        <div class="modal-header">
            <h5 class="modal-title mt-0">Notifications</h5>

            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3" style="font-weight: 500;">
                    Send Notification by Email
                </div>
                <div class="col-md-1">
                    <input type="checkbox">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12" style="font-weight: 500;">Notifications:</div>
                <div class="col-md-12 mt-2">
                    <div class="form-group mb-1">
                        <input type="checkbox" id="all" name="all">
                        <label class="ml-2">All</label>
                    </div>
                    <div class="form-group mb-1">
                        <input type="checkbox" id="streaming" name="streaming">
                        <label class="ml-2">Streaming Customers</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="streaming" name="streaming">
                        <label class="ml-2">Daily Entraince</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12" style="font-weight: 500;">
                    Newsletters:
                </div>
                <div class="col-md-12 mt-2">
                    <div class="form-group mb-2">
                        <input type="checkbox" id="weakly" name="weakly">
                        <label class="ml-2">Weakly Newsletters</label>
                    </div>
                    <div class="form-group mb-2">
                        <input type="checkbox" id="monthly" name="monthly">
                        <label class="ml-2">Monthly Newsletters</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cancel</button>
            <button type="button" class="btn btn-info" [disabled]="!notificationForm.form.valid"
              >Save</button>
      
          </div>
    </ng-template>
</form>