/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loginBg_container {
  background: url("../../../../assets/images/ayush-img/login_bg_ayush.jpg") no-repeat;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo_qci a img {
  float: left;
  position: absolute;
  right: 25px;
  top: 15px;
}

.app-title-main {
  width: 100%;
}

.app-title-main h5 {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.account-pages {
  position: relative;
 
}

.trans-bg {
  background-color: rgba(255, 255, 255, .9);
  margin-bottom: 5px;
}

.btn-green {
  color: #fff;
  background-color: #34c38f;
  border-color: #34c38f;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
  color: #fff;
  background-color: #148f62;
  border-color: #148f62;
}

.ft-text {
  font-size: 13px;
  color: #343a40;
  font-weight: 600;
  text-shadow: 8px 13px 15px #ffffff;
  margin-bottom: 0;
}

.form-group label {
  font-weight: bold;
  font-size: 12px;
}

.nabh_logo
{
  position: absolute;
  top: 15px;
  left:25px ;
  
}
.support_dropdown
{
  position: absolute;
  top: 38px;
  right:100px ;
  font-weight: bolder;
  
  
}

.app-title-main label {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.custom-invalid{
  border-color: #f46a6a;
  box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.25);
}
//ng-select.custom-invalids .ng-select-container {
  // position: relative !important;
  // top: 0;
  // border-color: transparent !important;
  //border-bottom-color: red !important;
  // border-bottom-width: 0custom-invalidy.0625rem !important;
  // background-color: transparent !important;
  // border-radius: 0px;
  //border-color: red;
  //}
.custom-error-msg
{
  color: #f46a6a;
  font-weight: normal;
}
::ng-deep .tooltip-inner  {
  width: 400px;
  background-color: white ;
  color: black;
  border-right: 1px solid  #E5E7E9;
  border-top: 1px solid  #E5E7E9;
  border-bottom: 1px solid  #E5E7E9;
  border-left: 1px solid  #E5E7E9;
  
}

