<div class="card-body p-0">
  <form #centerHumanresourceForm="ngForm">

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="media">
          <div class="mr-3"><b>1.</b></div>

          <div class="media-body">
            {{cenhospitalPagesQueBank.cenhumanresource.manpower_details?.ques_text}}</div>
        </div>
        <div class=" col-sm-4">
          <div class="text-sm-right">


            <button type="button"
              *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.manpower_details:'')|DaNcBtnHideShow:Stage_id"
              [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.manpower_details:'')|DaNcbtnColorPipe"
              (click)="openNcModel('cenhumanresource','manpower_details',cenhospitalPagesQueBank.cenhumanresource.manpower_details)">NC
              {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.manpower_details?.nc_cycle_count:''}}
            </button>

          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-8 offset-md-2">
        <div class="table-responsive">
          <table class="table table-bordered  customTable mb-0" id="staff-table">
            <thead class="bg-teal">
              <tr class="text-center">
                <th style="width: 40%">Group</th>
                <th>Number</th>
                <th>Remark</th>
                <th *ngIf="this.currUsrRole != 5">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of cenhumanresource.group_list;let i=index" class="text-center">
                <td *ngIf="i< this.checklength">{{data.group}}</td>
                <td *ngIf="i>= this.checklength">
                  <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                    <input type="text" name="group{{i}}" #group="ngModel" [(ngModel)]="data.group" placeholder="Text"
                      class="form-control table-text" type="text" required>
                    <div *ngIf="group.invalid">
                      <div *ngIf="cenhumanresourceformSubmitted && group.errors.required" class="text-danger">
                        Required
                      </div>
                    </div>
                  </fieldset>

                </td>
                <td style="width: 200px;">
                  <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                    <input (keypress)="onlyNumberKey($event)" maxlength="10" name="number{{i}}" #groupnumb="ngModel"
                      placeholder="Number" [(ngModel)]="data.number" type="text" class="form-control table-text"
                      required>
                    <div *ngIf="groupnumb.invalid">
                      <div *ngIf="cenhumanresourceformSubmitted && groupnumb.errors.required" class="text-danger">
                        Required
                      </div>
                    </div>
                  </fieldset>

                </td>
                <td>
                  <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                    <input name="groupremark{{i}}" #groupremark="ngModel" [(ngModel)]="data.remark" type="text"
                      placeholder="Text" class="form-control table-text">

                  </fieldset>

                </td>
                <td class="text-center" *ngIf="this.currUsrRole != 5">
                  <a *ngIf="i>= this.checklength && cenhospitalPages.isFinalSubmit!=true" (click)="RemoveGroup(data)">
                    <i class="bx bx-x-circle text-danger box-icon"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-right mt-2">
            <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button" (click)="AddMoreGroup()"
              class="btn btn-info btn-rounded btn-sm waves-effect waves-light mr-1" id="add-staff"><i
                class="bx bx-plus mr-1"></i>Add</button>
            <!-- <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button" *ngIf=" cenhumanresource.group_list?.length>=11" class="btn btn-danger btn-rounded btn-sm waves-effect waves-light " (click)="RemoveGroup()">Remove</button> -->
          </div>
        </div>
      </div>
    </div>


    <hr class="form-seprator" />

    <!--Question start region end-->
    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>2.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.cenhumanresource.doctors_along_with_qualification_specialisation?.ques_text}}
            <br>
            <small class="pl-1 text-info"><i><b>Note:</b> In Excel Template, under "Type" field kindly mention if the
                Doctor is
                Full Time/Part
                Time/Visiting.</i></small>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="text-sm-right">
          <!-- <a target="_self" href="{{Tmplte_DoctorStaff}}" download="TmplteDoctor_dwnld" style="color:white"
            class="btn btn-primary  btn-rounded btn-sm waves-effect waves-light mr-1">
            <i class="fa fa-download"></i> Download Template
          </a> -->
          <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button"
            (click)="openFileUpload('doctors_staff',uploadExcelModel)"
            class="btn btn-primary btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="far fa-file-excel mr-1"></i> Upload Excel</button>
          <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button"
            (click)="addStaff(addStaffModel,'Doctor')"
            class="btn btn-info btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="bx bx-plus mr-1"></i>Add</button>
          <button type="button"
            *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.doctors_along_with_qualification_specialisation:'')|DaNcBtnHideShow: Stage_id"
            [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.doctors_along_with_qualification_specialisation:'')|DaNcbtnColorPipe"
            (click)="openNcModel('cenhumanresource','doctors_along_with_qualification_specialisation',cenhospitalPagesQueBank.cenhumanresource.doctors_along_with_qualification_specialisation)">NC
            {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.doctors_along_with_qualification_specialisation?.nc_cycle_count:''}}
          </button>
        </div>
      </div>


    </div>
    <br>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered  customTable mb-0" ngModelGroup="doctor_staff_list"
            #doctorStaffList="ngModelGroup" appMinOneTableRecord
            [tabledata]="cenhumanresource.doctors_along_with_qualification_specialisation?.doctor_details">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Designation</th>
                <th class="text-center">Qualification/Specialisation</th>
                <th class="text-center">Type</th>

                <th class="text-center">Experience</th>
                <th class="text-center">Council of Registration</th>
                <th class="text-center">Registration Number</th>
                <th class="text-center">Area/Department of Working</th>
                <th class="text-center">Date of Joining</th>
                <th class="text-center">Aadhar Card Number</th>
                <th class="text-center">PAN Card Number</th>


                <th class="text-center" *ngIf="this.currUsrRole != 5">Actions</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngIf="doctorStaffList.invalid">
                <td *ngIf="cenhumanresourceformSubmitted && doctorStaffList.errors?.minOneTableEntry"
                  class="text-center table-danger" colspan="13" style="width:100% ;">
                  Minimum One Record Required
                </td>

              </tr>
              <tr
                *ngFor="let item of cenhumanresource.doctors_along_with_qualification_specialisation?.doctor_details;let i=index">
                <td hidden><input name="doctorstaff{{i}}" [(ngModel)]="item.staff_name" type="text"></td>
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{item.staff_name}}</td>
                <td class="text-center">{{item.designation}}</td>
                <td class="text-center">{{item.qualification}}</td>
                <td class="text-center">{{item.type}}</td>
                <td class="text-center">{{item.expirience}}</td>
                <td class="text-center">{{item.council_of_reg}}</td>
                <td class="text-center">{{item.registrataion_no}}</td>
                <td class="text-center">{{item.dept_of_working}}</td>
                <td class="text-center">{{item.date_of_join| ngbDateFrmt}}</td>
                <td class="text-center">{{item.adhar}}</td>
                <td class="text-center">{{item.pan}}</td>
                <td class="text-center" *ngIf="this.currUsrRole != 5">
                  <!-- (click)="loadProject(list.id)" -->
                  <span>
                    <!-- (click)="Edit(list)"
                (click)="confirmtodeluser(list)" -->
                    <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="edit"
                      (click)="editStaff(addStaffModel,'Doctor',item,i)">
                      <i class="fa fa-edit blueIcon"></i></button>

                  </span>
                  <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="delete"
                    (click)="RemoveDoctor(item)">
                    <i class="fa fa-trash redIcon"></i></button>


                </td>



              </tr>



            </tbody>

          </table>
          <!-- <div *ngIf=" HospitalStaffingForm.nurses?.length==0" class="text-danger">
       Please enter Nurse details
    </div> -->
        </div>
      </div>
    </div>




    <hr class="form-seprator" />
    <!--Question start region end-->

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>3.</b></div>
          <div class="media-body">{{cenhospitalPagesQueBank.cenhumanresource.list_of_all_the_nurses?.ques_text}}
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="text-sm-right">
          <!-- <a target="_self" href="{{Tmplte_NursePancharikaStaff}}" download="TmplteNurse_dwnld" style="color:white"
            class="btn btn-primary  btn-rounded btn-sm waves-effect waves-light mr-1">
            <i class="fa fa-download"></i> Download Template
          </a> -->
          <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button"
            (click)="openFileUpload('nurse_staff',uploadExcelModel)"
            class="btn btn-primary btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="far fa-file-excel mr-1"></i> Upload Excel</button>
          <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button"
            (click)="addStaff(addStaffModel,'Nurses')"
            class="btn btn-info btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="bx bx-plus mr-1"></i>Add</button>
          <button type="button"
            *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.list_of_all_the_nurses:'')|DaNcBtnHideShow: Stage_id"
            [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.list_of_all_the_nurses:'')|DaNcbtnColorPipe"
            (click)="openNcModel('cenhumanresource','list_of_all_the_nurses',cenhospitalPagesQueBank.cenhumanresource.list_of_all_the_nurses)">NC
            {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.list_of_all_the_nurses?.nc_cycle_count:''}}
          </button>
        </div>
      </div>

    </div>
    <br>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered  customTable mb-0" ngModelGroup="nurse_staff_list"
            #nurseStaffList="ngModelGroup" appMinOneTableRecord
            [tabledata]="cenhumanresource.list_of_all_the_nurses?.staff_details">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Designation</th>
                <th class="text-center">Qualification</th>
                <th class="text-center">Experience</th>
                <th class="text-center">Certification Body</th>
                <th class="text-center">Registration Number</th>
                <th class="text-center">Area/Department of Working</th>
                <th class="text-center">Date of Joining</th>
                <th class="text-center">Aadhar Card Number</th>
                <th class="text-center">PAN Card Number</th>

                <th class="text-center" *ngIf="this.currUsrRole != 5">Actions</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngIf="nurseStaffList.invalid">
                <td *ngIf="cenhumanresourceformSubmitted && nurseStaffList.errors?.minOneTableEntry"
                  class="text-center table-danger" colspan="10" style="width:100% ;">
                  Minimum One Record Required
                </td>

              </tr>
              <tr *ngFor="let item of cenhumanresource.list_of_all_the_nurses?.staff_details;let i=index">

                <td hidden><input name="nursestaff{{i}}" [(ngModel)]="item.staff_name" type="text"></td>
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{item.staff_name}}</td>
                <td class="text-center">{{item.designation}}</td>
                <td class="text-center">{{item.qualification}}</td>
                <td class="text-center">{{item.expirience}}</td>
                <td class="text-center">{{item.certific_body}}</td>
                <td class="text-center">{{item.registrataion_no}}</td>
                <td class="text-center">{{item.dept_of_working}}</td>
                <td class="text-center">{{item.date_of_join| ngbDateFrmt}}</td>
                <td class="text-center">{{item.adhar}}</td>
                <td class="text-center">{{item.pan}}</td>
                <td class="text-center" *ngIf="this.currUsrRole != 5">
                  <!-- (click)="loadProject(list.id)" -->
                  <span>
                    <!-- (click)="Edit(list)"
                (click)="confirmtodeluser(list)" -->
                    <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="edit"
                      (click)="editStaff(addStaffModel,'Nurses',item,i)">
                      <i class="fa fa-edit blueIcon"></i></button>

                  </span>
                  <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="delete"
                    (click)="RemoveNurse(item)">
                    <i class="fa fa-trash redIcon"></i></button>


                </td>



              </tr>



            </tbody>

          </table>
          <!-- <div *ngIf=" HospitalStaffingForm.nurses?.length==0" class="text-danger">
       Please enter Nurse details
    </div> -->
        </div>
      </div>
    </div>


    <hr class="form-seprator" />
    <!--Question start region end-->

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>4.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.cenhumanresource.list_of_paricharika_therapist?.ques_text}}
          </div>
        </div>


      </div>

      <div class="col-sm-4">
        <div class="text-sm-right">
          <!-- <a target="_self" href="{{Tmplte_NursePancharikaStaff}}" download="TmpltePancharika_dwnld" style="color:white"
            class="btn btn-primary  btn-rounded btn-sm waves-effect waves-light mr-1">
            <i class="fa fa-download"></i> Download Template
          </a> -->
          <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button"
            (click)="openFileUpload('paricharika_staff_central_hosp',uploadExcelModel)"
            class="btn btn-primary btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="far fa-file-excel mr-1"></i> Upload Excel</button>
          <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button"
            (click)="addStaff(addStaffModel,'Paricharika/Therapist')"
            class="btn btn-info btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="bx bx-plus mr-1"></i>Add</button>
          <button type="button"
            *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.list_of_paricharika_therapist:'')|DaNcBtnHideShow: Stage_id"
            [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.list_of_paricharika_therapist:'')|DaNcbtnColorPipe"
            (click)="openNcModel('cenhumanresource','list_of_paricharika_therapist',cenhospitalPagesQueBank.cenhumanresource.list_of_paricharika_therapist)">NC
            {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.list_of_paricharika_therapist?.nc_cycle_count:''}}
          </button>
        </div>
      </div>

    </div>
    <br>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered  customTable mb-0" ngModelGroup="pancharika_staff_list"
            #pancharikaStaffList="ngModelGroup" appMinOneTableRecord
            [tabledata]="cenhumanresource.list_of_paricharika_therapist?.staff_details">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Designation</th>
                <th class="text-center">Qualification</th>
                <th class="text-center">Experience</th>
                <!-- <th class="text-center">Certification Body</th> -->
                <!-- <th class="text-center">Registration Number</th> -->
                <th class="text-center">Area/Department of Working</th>
                <th class="text-center">Date of Joining</th>


                <th class="text-center" *ngIf="this.currUsrRole != 5">Actions</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngIf="pancharikaStaffList.invalid">
                <td *ngIf="cenhumanresourceformSubmitted && pancharikaStaffList.errors?.minOneTableEntry"
                  class="text-center table-danger" colspan="12" style="width:100% ;">
                  Minimum One Record Required
                </td>

              </tr>
              <tr *ngFor="let item of cenhumanresource.list_of_paricharika_therapist?.staff_details;let i=index">

                <td hidden><input name="pancharikastaff{{i}}" [(ngModel)]="item.staff_name" type="text"></td>
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{item.staff_name}}</td>
                <td class="text-center">{{item.designation}}</td>
                <td class="text-center">{{item.qualification}}</td>
                <td class="text-center">{{item.expirience}}</td>
                <!-- <td class="text-center">{{item.certific_body}}</td> -->
                <!-- <td class="text-center">{{item.registrataion_no}}</td> -->
                <td class="text-center">{{item.dept_of_working}}</td>
                <td class="text-center">{{item.date_of_join| ngbDateFrmt}}</td>
                <td class="text-center" *ngIf="this.currUsrRole != 5">
                  <!-- (click)="loadProject(list.id)" -->
                  <span>
                    <!-- (click)="Edit(list)"
                (click)="confirmtodeluser(list)" -->
                    <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="edit"
                      (click)="editStaff(addStaffModel,'Paricharika/Therapist',item,i)">
                      <i class="fa fa-edit blueIcon"></i></button>

                  </span>
                  <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="delete"
                    (click)="RemoveParicharikaStaff(item)">
                    <i class="fa fa-trash redIcon"></i></button>


                </td>



              </tr>



            </tbody>

          </table>
          <!-- <div *ngIf=" HospitalStaffingForm.nurses?.length==0" class="text-danger">
       Please enter Nurse details
    </div> -->
        </div>
      </div>
    </div>
    <hr class="form-seprator" />
    <!--Question start region end-->
    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>5.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.cenhumanresource.list_of_all_the_paramedic_staff?.ques_text}}
          </div>
        </div>


      </div>
      <div class="col-sm-4">
        <div class="text-sm-right">
          <!-- <a target="_self" href="{{Tmplte_ParamedicAdminStaff}}" download="TmplteParamedic_dwnld" style="color:white"
            class="btn btn-primary  btn-rounded btn-sm waves-effect waves-light mr-1">
            <i class="fa fa-download"></i> Download Template
          </a> -->
          <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button"
            (click)="openFileUpload('paramedic_staff',uploadExcelModel)"
            class="btn btn-primary btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="far fa-file-excel mr-1"></i> Upload Excel</button>
          <button [disabled]="cenhospitalPages.isFinalSubmit==true" type="button"
            (click)="addStaff(addStaffModel,'Paramedic Staff')"
            class="btn btn-info btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="bx bx-plus mr-1"></i>Add</button>
          <button type="button"
            *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.list_of_all_the_paramedic_staff:'')|DaNcBtnHideShow: Stage_id"
            [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.list_of_all_the_paramedic_staff:'')|DaNcbtnColorPipe"
            (click)="openNcModel('cenhumanresource','list_of_all_the_paramedic_staff',cenhospitalPagesQueBank.cenhumanresource.list_of_all_the_paramedic_staff)">NC
            {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.list_of_all_the_paramedic_staff?.nc_cycle_count:''}}
          </button>
        </div>
      </div>

    </div>
    <br>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered  customTable mb-0" ngModelGroup="paramedic_staff_list"
            #paramedicStaffList="ngModelGroup" appMinOneTableRecord
            [tabledata]="cenhumanresource.list_of_all_the_paramedic_staff?.staff_details">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Designation</th>
                <th class="text-center">Qualification</th>
                <th class="text-center">Experience</th>
                <!-- <th class="text-center">Council of Registration</th>
            <th class="text-center">Registration Number</th> -->
                <th class="text-center">Area/Department of Working</th>
                <th class="text-center">Date of Joining</th>


                <th class="text-center" *ngIf="this.currUsrRole != 5">Actions</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngIf="paramedicStaffList.invalid">
                <td *ngIf="cenhumanresourceformSubmitted && paramedicStaffList.errors?.minOneTableEntry"
                  class="text-center table-danger" colspan="8" style="width:100% ;">
                  Minimum One Record Required
                </td>

              </tr>
              <tr *ngFor="let item of cenhumanresource.list_of_all_the_paramedic_staff?.staff_details;let i=index">
                <td hidden><input name="paramedicstaff{{i}}" [(ngModel)]="item.staff_name" type="text"></td>
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{item.staff_name}}</td>
                <td class="text-center">{{item.designation}}</td>
                <td class="text-center">{{item.qualification}}</td>
                <td class="text-center">{{item.expirience}}</td>
                <!-- <td class="text-center">{{item.council_of_reg}}</td>
            <td class="text-center">{{item.registrataion_no}}</td> -->
                <td class="text-center">{{item.dept_of_working}}</td>
                <td class="text-center">{{item.date_of_join| ngbDateFrmt}}</td>
                <td class="text-center" *ngIf="this.currUsrRole != 5">
                  <!-- (click)="loadProject(list.id)" -->
                  <span>
                    <!-- (click)="Edit(list)"
                (click)="confirmtodeluser(list)" -->
                    <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="edit"
                      (click)="editStaff(addStaffModel,'Paramedic Staff',item,i)">
                      <i class="fa fa-edit blueIcon"></i></button>

                  </span>
                  <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="delete"
                    (click)="RemoveParamedicStaff(item)">
                    <i class="fa fa-trash redIcon"></i></button>


                </td>



              </tr>



            </tbody>

          </table>
          <!-- <div *ngIf=" HospitalStaffingForm.nurses?.length==0" class="text-danger">
       Please enter Nurse details
    </div> -->
        </div>
      </div>
    </div>
    <hr class="form-seprator" />
    <!--Question start region end-->
    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>6.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.cenhumanresource.administrative_and_support_staff?.ques_text}}
          </div>
        </div>


      </div>

      <div class="col-sm-4">
        <div class="text-sm-right">
          <!-- <a target="_self" href="{{Tmplte_ParamedicAdminStaff}}" download="TmplteAdmin_dwnld" style="color:white"
            class="btn btn-primary  btn-rounded btn-sm waves-effect waves-light mr-1">
            <i class="fa fa-download"></i> Download Template
          </a> -->
          <button type="button" [disabled]="cenhospitalPages.isFinalSubmit==true"
            (click)="openFileUpload('admin_staff',uploadExcelModel)"
            class="btn btn-primary btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="far fa-file-excel mr-1"></i> Upload Excel</button>
          <button type="button" [disabled]="cenhospitalPages.isFinalSubmit==true"
            (click)="addStaff(addStaffModel,'Administrative and Support Staff')"
            class="btn btn-info btn-rounded btn-sm waves-effect waves-light mr-1"><i
              class="bx bx-plus mr-1"></i>Add</button>
          <button type="button"
            *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.administrative_and_support_staff:'')|DaNcBtnHideShow: Stage_id"
            [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.administrative_and_support_staff:'')|DaNcbtnColorPipe"
            (click)="openNcModel('cenhumanresource','administrative_and_support_staff',cenhospitalPagesQueBank.cenhumanresource.administrative_and_support_staff)">NC
            {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.administrative_and_support_staff?.nc_cycle_count:''}}
          </button>
        </div>
      </div>
      <!-- <div class="col-sm-1 text-center">
   
    </div> -->


    </div>
    <br>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered  customTable mb-0" ngModelGroup="admin_staff_list"
            #adminStaffList="ngModelGroup" appMinOneTableRecord
            [tabledata]="cenhumanresource.administrative_and_support_staff?.staff_details">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Designation</th>
                <th class="text-center">Qualification</th>
                <th class="text-center">Experience</th>
                <!-- <th class="text-center">Council of Registration</th>
            <th class="text-center">Registration Number</th> -->
                <th class="text-center">Area/Department of Working</th>
                <th class="text-center">Date of Joining</th>


                <th class="text-center" *ngIf="this.currUsrRole != 5">Actions</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngIf="adminStaffList.invalid">
                <td *ngIf="cenhumanresourceformSubmitted && adminStaffList.errors?.minOneTableEntry"
                  class="text-center table-danger" colspan="8" style="width:100% ;">
                  Minimum One Record Required
                </td>

              </tr>
              <tr *ngFor="let item of cenhumanresource.administrative_and_support_staff?.staff_details;let i=index">

                <td hidden><input name="adminstaff{{i}}" [(ngModel)]="item.staff_name" type="text"></td>
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{item.staff_name}}</td>
                <td class="text-center">{{item.designation}}</td>
                <td class="text-center">{{item.qualification}}</td>
                <td class="text-center">{{item.expirience}}</td>
                <!-- <td class="text-center">{{item.council_of_reg}}</td>
            <td class="text-center">{{item.registrataion_no}}</td> -->
                <td class="text-center">{{item.dept_of_working}}</td>
                <td class="text-center">{{item.date_of_join| ngbDateFrmt}}</td>
                <td class="text-center" *ngIf="this.currUsrRole != 5">
                  <!-- (click)="loadProject(list.id)" -->
                  <span>
                    <!-- (click)="Edit(list)"
                (click)="confirmtodeluser(list)" -->
                    <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="edit"
                      (click)="editStaff(addStaffModel,'Administrative and Support Staff',item,i)">
                      <i class="fa fa-edit blueIcon"></i></button>

                  </span>
                  <button [disabled]="cenhospitalPages.isFinalSubmit==true" class="btn" title="delete"
                    (click)="RemoveSupportStaff(item)">
                    <i class="fa fa-trash redIcon"></i></button>


                </td>



              </tr>



            </tbody>

          </table>
          <!-- <div *ngIf=" HospitalStaffingForm.nurses?.length==0" class="text-danger">
       Please enter Nurse details
    </div> -->
        </div>
      </div>
    </div>


    <hr class="form-seprator" />
    <!--Question start region end-->

    <!--Question  start region-->

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>7.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.cenhumanresource.doctors_masseurs_and_support_staff?.ques_text}}
          </div>
        </div>


      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">

        <select class="form-control" required
          [(ngModel)]="cenhumanresource.doctors_masseurs_and_support_staff.ques_selected_opt"
          name="doctsuppstaffselection" #doctsuppstaffselection="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <div *ngIf="doctsuppstaffselection.invalid">
          <div *ngIf="cenhumanresourceformSubmitted && doctsuppstaffselection.errors.required" class="text-danger">
            Required
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">





      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.doctors_masseurs_and_support_staff:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.doctors_masseurs_and_support_staff:'')|DaNcbtnColorPipe"
          (click)="openNcModel('cenhumanresource','doctors_masseurs_and_support_staff',cenhospitalPagesQueBank.cenhumanresource.doctors_masseurs_and_support_staff)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.doctors_masseurs_and_support_staff?.nc_cycle_count:''}}
        </button>
      </div>


    </div>
    <hr class="form-seprator" />
    <!--Question start region end-->
    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>8.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.cenhumanresource.centre_allotted_specified_jobs_description?.ques_text}}
          </div>
        </div>



      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">

        <select class="form-control" required
          [(ngModel)]="cenhumanresource.centre_allotted_specified_jobs_description.ques_selected_opt"
          name="cntralltspcjobselection" #cntralltspcjobselection="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <div *ngIf="cntralltspcjobselection.invalid">
          <div *ngIf="cenhumanresourceformSubmitted && cntralltspcjobselection.errors.required" class="text-danger">
            Required
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset [hidden]="cenhumanresource.centre_allotted_specified_jobs_description.ques_selected_opt!=true">

          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(cenhumanresource.centre_allotted_specified_jobs_description,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc1
            (change)="previewImage(doc1,$event.target.files,cenhumanresource.centre_allotted_specified_jobs_description,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,cenhumanresource.centre_allotted_specified_jobs_description,'ques_doc_url')">
            <!-- (click)="openUploadedDocsModal(ceninfectioncontrol.does_international_guidelines_for_hand_hygiene,'ques_doc_url')" -->
            <i
              [ngClass]="(cenhumanresource.centre_allotted_specified_jobs_description!=null?cenhumanresource.centre_allotted_specified_jobs_description.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="centallocdoc" #centallocdoc="ngModel" required
            [disabled]="cenhumanresource.centre_allotted_specified_jobs_description.ques_selected_opt!=true"
            [(ngModel)]="cenhumanresource.centre_allotted_specified_jobs_description.ques_doc_url" required>
          <div *ngIf="centallocdoc.invalid">
            <div *ngIf="cenhumanresourceformSubmitted && centallocdoc.errors.required" class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.centre_allotted_specified_jobs_description:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.centre_allotted_specified_jobs_description:'')|DaNcbtnColorPipe"
          (click)="openNcModel('cenhumanresource','centre_allotted_specified_jobs_description',cenhospitalPagesQueBank.cenhumanresource.centre_allotted_specified_jobs_description)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.centre_allotted_specified_jobs_description?.nc_cycle_count:''}}
        </button>
      </div>


    </div>
    <hr class="form-seprator" />
    <!--Question start region end-->
    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>9.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.cenhumanresource.specific_job_and_responsibilities_and_adherence?.ques_text}}
          </div>

        </div>
      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">

        <select class="form-control" required
          [(ngModel)]="cenhumanresource.specific_job_and_responsibilities_and_adherence.ques_selected_opt"
          name="spcjobrspnsselection" #spcjobrspnsselection="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <div *ngIf="spcjobrspnsselection.invalid">
          <div *ngIf="cenhumanresourceformSubmitted && spcjobrspnsselection.errors.required" class="text-danger">
            Required
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">



        <fieldset [hidden]="cenhumanresource.specific_job_and_responsibilities_and_adherence.ques_selected_opt!=true">

          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(cenhumanresource.specific_job_and_responsibilities_and_adherence,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc2
            (change)="previewImage(doc2,$event.target.files,cenhumanresource.specific_job_and_responsibilities_and_adherence,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,cenhumanresource.specific_job_and_responsibilities_and_adherence,'ques_doc_url')">
            <!-- (click)="openUploadedDocsModal(ceninfectioncontrol.does_international_guidelines_for_hand_hygiene,'ques_doc_url')" -->
            <i
              [ngClass]="(cenhumanresource.specific_job_and_responsibilities_and_adherence!=null?cenhumanresource.specific_job_and_responsibilities_and_adherence.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="spcjobdoc" #spcjobdoc="ngModel" required
            [disabled]="cenhumanresource.specific_job_and_responsibilities_and_adherence.ques_selected_opt!=true"
            [(ngModel)]="cenhumanresource.specific_job_and_responsibilities_and_adherence.ques_doc_url" required>
          <div *ngIf="spcjobdoc.invalid">
            <div *ngIf="cenhumanresourceformSubmitted && spcjobdoc.errors.required" class="text-danger">
              Required
            </div>
          </div>



        </fieldset>


      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.specific_job_and_responsibilities_and_adherence:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource.specific_job_and_responsibilities_and_adherence:'')|DaNcbtnColorPipe"
          (click)="openNcModel('cenhumanresource','specific_job_and_responsibilities_and_adherence',cenhospitalPagesQueBank.cenhumanresource.specific_job_and_responsibilities_and_adherence)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.cenhumanresource?.specific_job_and_responsibilities_and_adherence?.nc_cycle_count:''}}
        </button>
      </div>


    </div>
    <hr class="form-seprator" />
    <!--Question start region end-->




  </form>
</div>


<ng-template #addStaffModel let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{staffModelHeading}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <form #myForm="ngForm">
    <div class="modal-body">



      <div class="row">

        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Name</label>

            <!-- 
                #serviceName="ngModel"  -->
            <input type="text" class="form-control" id="stfname" name="stfname"
              [(ngModel)]="staffdetatlsmodal.staff_name" #stfname="ngModel" required />
            <div *ngIf="stfname.errors && (stfname.dirty || stfname.touched)" class="text-danger">
              <div *ngIf="stfname.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">
          <div class="form-group mb-3">
            <label>Designation</label>
            <!-- [(ngModel)]="ListofMoUsmonitoringservice.agencyName" #agencyName="ngModel"  -->
            <input type="text" class="form-control" id="dsngn" [(ngModel)]="staffdetatlsmodal.designation"
              #dsngn="ngModel" name="dsngn" required />

            <div *ngIf="dsngn.errors && (dsngn.dirty || dsngn.touched)" class="text-danger">
              <div *ngIf="dsngn.errors.required">
                required
              </div>
            </div>
          </div>

        </div>
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Qualification</label>

            <!-- [(ngModel)]="ListofMoUsmonitoringservice.available"  -->

            <input type="text" class="form-control" id="qlfnc" [(ngModel)]="staffdetatlsmodal.qualification"
              #qlfnc="ngModel" name="qlfnc" required />


            <div *ngIf="qlfnc.errors && (qlfnc.dirty || qlfnc.touched)" class="text-danger">
              <div *ngIf="qlfnc.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6" *ngIf="staffModelHeading=='Doctor'">

          <div class="form-group mb-3">
            <label>Type</label>



            <select class="form-control" required [(ngModel)]="staffdetatlsmodal.type" id="Type" name="Type"
              #type="ngModel">
              <option [ngValue]=null>Select</option>
              <option value="Full Time">Full Time</option>
              <option value="Part Time">Part Time</option>
              <option value="Visiting">Visting</option>
            </select>
            <div *ngIf="type.errors && (type.dirty || type.touched)" class="text-danger">
              <!-- <div *ngIf="type.invalid"> -->
              <div *ngIf="type && type.errors?.required" class="text-danger">
                Required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Experience</label>
            <small class="pl-1">(In months)</small>
            <!-- [(ngModel)]="ListofMoUsmonitoringservice.available"  -->

            <input type="text" class="form-control" id="exprnc" (keypress)="onlyNumberKey($event)"
              [(ngModel)]="staffdetatlsmodal.expirience" #exprnc="ngModel" name="exprnc" required />


            <div *ngIf="exprnc.errors && (exprnc.dirty || exprnc.touched)" class="text-danger">
              <div *ngIf="exprnc.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <!--./col-xl-6-->
        <!-- <div class="col-xs-12 col-md-6 col-xl-6" *ngIf="staffModelHeading=='Doctor'">

          <div class="form-group mb-3">
            <label>Specialization</label>
         

            <input type="text" class="form-control" id="spefc" [(ngModel)]="staffdetatlsmodal.specialization"
              #spefc="ngModel" name="spefc" required />


            <div *ngIf="spefc.errors && (spefc.dirty || spefc.touched)" class="text-danger">
              <div *ngIf="spefc.errors.required">
                required
              </div>
            </div>

          </div>

        </div> -->
        <!--./col-xl-6-->
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6" *ngIf="staffModelHeading=='Doctor'">

          <div class="form-group mb-3">
            <label>Council of Registration</label>
            <!-- [(ngModel)]="ListofMoUsmonitoringservice.available"  -->

            <input type="text" class="form-control" id="cnclreg" [(ngModel)]="staffdetatlsmodal.council_of_reg"
              #cnclreg="ngModel" name="cnclreg" required />


            <div *ngIf="cnclreg.errors && (cnclreg.dirty || cnclreg.touched)" class="text-danger">
              <div *ngIf="cnclreg.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6" *ngIf="staffModelHeading=='Nurses'">
          <!-- *ngIf="staffModelHeading=='Nurses' ||staffModelHeading=='Paricharika/Therapist'" -->
          <div class="form-group mb-3">
            <label>Certification Body</label>
            <!-- [(ngModel)]="ListofMoUsmonitoringservice.available"  -->

            <input type="text" class="form-control" id="certbody" [(ngModel)]="staffdetatlsmodal.certific_body"
              #certbody="ngModel" name="certbody" required />


            <div *ngIf="certbody.errors && (certbody.dirty || certbody.touched)" class="text-danger">
              <div *ngIf="certbody.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <!--./col-xl-6-->
        <div *ngIf="staffModelHeading=='Doctor'||staffModelHeading=='Nurses'" class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Registration Number</label>
            <!-- [(ngModel)]="ListofMoUsmonitoringservice.available"  -->

            <input type="text" class="form-control" id="regno" [(ngModel)]="staffdetatlsmodal.registrataion_no"
              #regno="ngModel" name="regno" required />


            <div *ngIf="regno.errors && (regno.dirty || regno.touched)" class="text-danger">
              <div *ngIf="regno.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->
        <!--./col-xl-6-->
        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Area/Department of Working</label>
            <!-- [(ngModel)]="ListofMoUsmonitoringservice.available"  -->

            <input type="text" class="form-control" id="deptwrk" [(ngModel)]="staffdetatlsmodal.dept_of_working"
              #deptwrk="ngModel" name="deptwrk" required />


            <div *ngIf="deptwrk.errors && (deptwrk.dirty || deptwrk.touched)" class="text-danger">
              <div *ngIf="deptwrk.errors.required">
                required
              </div>
            </div>

          </div>

        </div>
        <!--./col-xl-6-->

        <div class="col-xs-12 col-md-6 col-xl-6">
          <div class="form-group mb-3">
            <label>Date of Joining</label>

            <div class="input-group clockpicker">
              <input required [(ngModel)]="staffdetatlsmodal.date_of_join" name="doj" #doj="ngModel" ngbDatepicker
                class="form-control" readonly placeholder="DD/MM/YYYY" [minDate]="{year: 1950, month:1, day: 1}"
                #d8="ngbDatepicker">
              <div class="input-group-append" (click)="d8.toggle()">
                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
              </div>
            </div>


            <div *ngIf="doj.errors && (doj.dirty || doj.touched)" class="text-danger" required>
              <div *ngIf="doj.errors.required">
                required
              </div>
            </div>
          </div>

        </div>
        <!--./col-xl-6-->

        <div *ngIf="staffModelHeading=='Doctor'||staffModelHeading=='Nurses'" class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>Aadhar Card Number</label>
            <!-- [(ngModel)]="ListofMoUsmonitoringservice.available"  -->

            <input type="text" class="form-control" id="adhar" [(ngModel)]="staffdetatlsmodal.adhar" #adhar="ngModel"
              (keypress)="onlyNumberKey($event)" maxlength="12" pattern="^([0-9]){12}$" name="adhar" required />

            <div *ngIf="adhar.errors && (adhar.dirty || adhar.touched)" class="text-danger">
              <div [hidden]="!adhar.errors.required">
                required
              </div>
              <div [hidden]="!adhar.errors.pattern" class="text-danger">
                Invalid Aadhar Number
              </div>
            </div>
            <!-- <div *ngIf="adhar.errors && (adhar.dirty || adhar.touched)" class="text-danger">
              <div *ngIf="adhar.errors.required">
                required
              </div>
            </div> -->

          </div>

        </div>

        <div *ngIf="staffModelHeading=='Doctor'||staffModelHeading=='Nurses'" class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group mb-3">
            <label>PAN Card Number</label>
            <!-- [(ngModel)]="ListofMoUsmonitoringservice.available"  -->

            <input type="text" class="form-control" id="pan" [(ngModel)]="staffdetatlsmodal.pan" #pan="ngModel"
              name="pan" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" required />

            <div *ngIf="pan.errors && (pan.dirty || pan.touched)" class="text-danger">
              <div [hidden]="!pan.errors.required">
                required
              </div>
              <div [hidden]="!pan.errors.pattern" class="text-danger">
                Invalid PAN Number
              </div>
            </div>
            <!-- <div *ngIf="pan.errors && (pan.dirty || pan.touched)" class="text-danger">
              <div *ngIf="pan.errors.required">
                required
              </div>
            </div> -->

          </div>

        </div>
      </div>




    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" [disabled]="!myForm.form.valid" (click)="addStaffData()">Save</button>
    </div>
  </form>
</ng-template>

<!-- Excel Upload in Hospital Staffing-->
<form #uploadFormExcel="ngForm">


  <ng-template #uploadExcelModel let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Upload Excel</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <!-- <div class="modal-header">

      <h4 class="modal-title text-center">Upload Excel</h4>

      <div>


        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

    </div> -->
    <!-- edit -->

    <!-- --- -->
    <div class="modal-body">
      <div class="row mt-2">

        <h5 style="margin-left: 10px;"><strong>Document</strong></h5>

      </div>

      <div class="row mt-2">

        <input style="margin-left: 10px;" type="file" #myFileInput
          (change)="handleExcelFileInput($event.target.files)" />

      </div>
      <div class="row mt-2">

        <label style="margin-left: 10px;"><b>Note: </b>Kindly upload excel (.xlsx) file as per the template. Only valid
          file as per template will be accepted.</label>

      </div>

      <div class="row">
        <br>
      </div>
      <div class="row mt-2">

        <div class="alert alert-success  fade show" style="width: 100%;"
          *ngIf="uploadResult.message!=null && uploadResult.message!='' ">
          {{uploadResult.message}}
          <!-- The file has been successfully imported -->
        </div>

      </div>
      <!-- <div class="row">

        <div class="col-sm-12">
          <div class="form-group">
            <label style="font-weight: bold" for="file">Choose only .xlsx file to upload Hospital
              Staffing</label>

            <label style="color: red; font-weight: bold; font-size: 8pt;" for="file">
              <i>Note: Only valid .xlsx file (file which is as per provided template) will be upload into
                the
                system for
                importing data of Hospital Staffing</i>
            </label>
           

            <input class="form-control" #myFileInput type="file" id="file"
              (change)="handleExcelFileInput($event.target.files)">

            <span> {{filename}}</span>
          </div>

        </div>
      
        <span style="color: red;padding-left: 20px; font-weight: bold; font-size: 10pt;">{{this.excelMgs}}
        </span>


      </div> -->


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn btn-primary">
        <a target="_self" href="{{templatename}}" download="{{templatenameDownload}}" style="color:white">
          Download Template
        </a>
      </button>
      <button type="button" [disabled]="!fileToUpload" class="btn btn btn-success"
        (click)="UploadExcel()">Upload</button>
      <!-- <button type="button" [disabled]="!fileToUpload" class="btn btn-sm btn-info"
        (click)="UploadExcel()">Upload</button> -->

    </div>

    <!-- <div *ngIf="!(uploadResult===null || uploadResult===undefined)" class="row">

      <div class="col-sm-12">
        <span
          [ngClass]="(uploadResult?(uploadResult.isSuccess?uploadResult.isSuccess:false):false)?'text-success':'text-danger'">{{uploadResult.message}}</span>
      </div>

    </div> -->

    <div *ngIf="!(uploadResult?(uploadResult.isSuccess?uploadResult.isSuccess:false):false)" class="row">
      <div class="col-sm-12">

        <div class="table-responsive ScrollNcLogs">
          <table class="table table-sm" class="table table-bordered  customTable">
            <thead>
              <tr>
                <th>Row No.</th>
                <th>Error</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let genduty of uploadResult?uploadResult.bad:[]; let i=index">
                <td>{{genduty.rowNo}}</td>
                <td>

                  <p [innerHTML]="genduty.excelparseerror"></p>
                </td>

              </tr>
            </tbody>


          </table>
        </div>

      </div>



    </div>
  </ng-template>
</form>

<!-- image view model -->
<ng-template #uploadViewModel role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Uploaded doc(s)</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <!-- ------ -->
    <div *ngIf="!(ary_uploadedDocs===null || ary_uploadedDocs===undefined)" class="table-responsive">


      <table class="table table-bordered  customTable">
        <thead>
          <tr>
            <th class="text-center"> Name </th>
            <th class="text-center">Action </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ary_uploadedDocs">
            <td class="text-center">{{item.fn}}</td>
            <td class="text-center">

              <a class="text-success mouse-pointer" title="Download file" (click)="downloadUploadFile(item)">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>

              <a style="margin-left: 10px;" class="text-danger mouse-pointer" title="Delete file"
                (click)="deleteUploadFile(item)" *ngIf="this.currUsrRole ==3 && Stage_id ==20">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>



    </div>


  </div>

</ng-template>
<!-- image view model -->
<ng-template #documentuploadModel role="document" let-modal>

  <div class="modal-header">
    <h5 class="modal-title mt-0">Upload Document</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <!-- <div class="row mt-2">
      <ngb-progressbar *ngIf="showUploadMsg!=null" [value]="this.progress" type="progress-bar" showValue="true"
        style="width: 100%;">
      </ngb-progressbar>
    </div> -->
    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <h5 style="margin-left: 10px;"><strong>Document</strong></h5>

    </div>

    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <input style="margin-left: 10px;" type="file" #myFileInput (change)="handleFileInput($event.target.files)" />

    </div>
    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <label style="margin-left: 10px;"><b>Note: </b>The following formats are accepted: PDF, JPG, JPEG, PNG. The
        maximum file size allowed in 20 MB.</label>

    </div>
    <div class="row">
      <br>
    </div>
    <div class="row mt-2">
      <!--  -->
      <div class="alert alert-success  fade show" style="width: 100%;" *ngIf="showUploadMsg==true">

        The file has been successfully uploaded
      </div>

      <!-- <ngb-progressbar *ngIf="showUploadMsg==true" type="warning" [value]="100" height="40px"
        style="width: 100%; background-color:#caeeda !important; ">
        The file has been successfully
        uploaded </ngb-progressbar> -->

      <!-- <div class="card" style="width: 100%;  margin-left: 10px;margin-right: 10px;"> -->
      <!-- <div class="card-body" *ngIf="showUploadMsg==true"
        style="width: 100%;height: 50px; margin-left: 10px;margin-right: 10px; background-color:#ddf4e7 !important;text-align: justify; ">
        The file has been successfully uploaded
      </div> -->
      <!-- </div> -->

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="Upload2(myFileInput)">Upload</button>
  </div>
</ng-template>
