<div class="card-body p-0">
  <form #ceninfectioncontrolform="ngForm">

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>1.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.ceninfectioncontrol.does_international_guidelines_for_hand_hygiene.ques_text}}
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="ceninfectioncontrol.does_international_guidelines_for_hand_hygiene.ques_selected_opt"
          name="does_international_guidelines_for_hand_hygiene"
          #does_international_guidelines_for_hand_hygiene="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>

      </div>
      <div *ngIf="does_international_guidelines_for_hand_hygiene.invalid">
        <div *ngIf="ceninfectionformSubmitted && does_international_guidelines_for_hand_hygiene.errors.required"
          class="text-danger">
          Required
        </div>
      </div>
      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset [hidden]="ceninfectioncontrol.does_international_guidelines_for_hand_hygiene.ques_selected_opt!=true">

          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(ceninfectioncontrol.does_international_guidelines_for_hand_hygiene,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc1
            (change)="previewImage(doc1,$event.target.files,ceninfectioncontrol.does_international_guidelines_for_hand_hygiene,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,ceninfectioncontrol.does_international_guidelines_for_hand_hygiene,'ques_doc_url')">
            <!-- (click)="openUploadedDocsModal(ceninfectioncontrol.does_international_guidelines_for_hand_hygiene,'ques_doc_url')" -->
            <i
              [ngClass]="(ceninfectioncontrol.does_international_guidelines_for_hand_hygiene!=null?ceninfectioncontrol.does_international_guidelines_for_hand_hygiene.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="does_international_guidelines_for_hand_hygiene_doc"
            #does_international_guidelines_for_hand_hygiene_doc="ngModel" required
            [disabled]="ceninfectioncontrol.does_international_guidelines_for_hand_hygiene.ques_selected_opt!=true"
            [(ngModel)]="ceninfectioncontrol.does_international_guidelines_for_hand_hygiene.ques_doc_url" required>
          <div *ngIf="does_international_guidelines_for_hand_hygiene_doc.invalid">
            <div *ngIf="ceninfectionformSubmitted && does_international_guidelines_for_hand_hygiene_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.does_international_guidelines_for_hand_hygiene:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.does_international_guidelines_for_hand_hygiene:'')|DaNcbtnColorPipe"
          (click)="openNcModel('ceninfectioncontrol','does_international_guidelines_for_hand_hygiene',cenhospitalPagesQueBank.ceninfectioncontrol.does_international_guidelines_for_hand_hygiene)">
          NC{{ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol?.does_international_guidelines_for_hand_hygiene?.nc_cycle_count:''}}</button>

      </div>


    </div>

    <hr class="form-seprator" />
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>2.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.ceninfectioncontrol.cleaning_disinfection_and_sterilization.ques_text}}
          </div>
        </div>

      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="ceninfectioncontrol.cleaning_disinfection_and_sterilization.ques_selected_opt"
          name="cleaning_disinfection_and_sterilization" #cleaning_disinfection_and_sterilization="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>

      </div>
      <div *ngIf="cleaning_disinfection_and_sterilization.invalid">
        <div *ngIf="ceninfectionformSubmitted && cleaning_disinfection_and_sterilization.errors.required"
          class="text-danger">
          Required
        </div>
      </div>
      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset [hidden]="ceninfectioncontrol.cleaning_disinfection_and_sterilization.ques_selected_opt!=true">
          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(ceninfectioncontrol.cleaning_disinfection_and_sterilization,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>
          <!-- <input hidden type="file" #doc2
            (change)="previewImage(doc2,$event.target.files,ceninfectioncontrol.cleaning_disinfection_and_sterilization,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,ceninfectioncontrol.cleaning_disinfection_and_sterilization,'ques_doc_url')">

            <i
              [ngClass]="(ceninfectioncontrol.cleaning_disinfection_and_sterilization!=null?ceninfectioncontrol.cleaning_disinfection_and_sterilization.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="cleaning_disinfection_and_sterilization_doc"
            #cleaning_disinfection_and_sterilization_doc="ngModel" required
            [disabled]="ceninfectioncontrol.cleaning_disinfection_and_sterilization.ques_selected_opt!=true"
            [(ngModel)]="ceninfectioncontrol.cleaning_disinfection_and_sterilization.ques_doc_url" required>
          <div *ngIf="cleaning_disinfection_and_sterilization_doc.invalid">
            <div *ngIf="ceninfectionformSubmitted && cleaning_disinfection_and_sterilization_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.cleaning_disinfection_and_sterilization:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.cleaning_disinfection_and_sterilization:'')|DaNcbtnColorPipe"
          (click)="openNcModel('ceninfectioncontrol','cleaning_disinfection_and_sterilization',cenhospitalPagesQueBank.ceninfectioncontrol.cleaning_disinfection_and_sterilization)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol?.cleaning_disinfection_and_sterilization?.nc_cycle_count:''}}
        </button>


      </div>
    </div>

    <hr class="form-seprator" />

    <!--Question start region end-->

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>3.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose.ques_text}}
          </div>
        </div>

      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose.ques_selected_opt"
          name="disinfectant_for_cleaning_sterilization_purpose"
          #disinfectant_for_cleaning_sterilization_purpose="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>

      </div>
      <div *ngIf="disinfectant_for_cleaning_sterilization_purpose.invalid">
        <div *ngIf="ceninfectionformSubmitted && disinfectant_for_cleaning_sterilization_purpose.errors.required"
          class="text-danger">
          Required
        </div>
      </div>
      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset
          [hidden]="ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose.ques_selected_opt!=true">
          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc3
            (change)="previewImage(doc3,$event.target.files,ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose,'ques_doc_url')">

            <i
              [ngClass]="(ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose!=null?ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="disinfectant_for_cleaning_sterilization_purpose_doc"
            #disinfectant_for_cleaning_sterilization_purpose_doc="ngModel" required
            [disabled]="ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose.ques_selected_opt!=true"
            [(ngModel)]="ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose.ques_doc_url" required>
          <div *ngIf="disinfectant_for_cleaning_sterilization_purpose_doc.invalid">
            <div
              *ngIf="ceninfectionformSubmitted && disinfectant_for_cleaning_sterilization_purpose_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose:'')|DaNcbtnColorPipe"
          (click)="openNcModel('ceninfectioncontrol','disinfectant_for_cleaning_sterilization_purpose',cenhospitalPagesQueBank.ceninfectioncontrol.disinfectant_for_cleaning_sterilization_purpose)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol?.disinfectant_for_cleaning_sterilization_purpose?.nc_cycle_count:''}}
        </button>


      </div>
    </div>
    <hr class="form-seprator" />

    <!--Question start region end-->

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>4.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes.ques_text}}
          </div>
        </div>

      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes.ques_selected_opt"
          name="maintain_Infection_control_and_prevention_programmes"
          #maintain_Infection_control_and_prevention_programmes="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>

      </div>
      <div *ngIf="maintain_Infection_control_and_prevention_programmes.invalid">
        <div *ngIf="ceninfectionformSubmitted && maintain_Infection_control_and_prevention_programmes.errors.required"
          class="text-danger">
          Required
        </div>
      </div>
      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset
          [hidden]="ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes.ques_selected_opt!=true">
          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc4
            (change)="previewImage(doc4,$event.target.files,ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes,'ques_doc_url')">

            <i
              [ngClass]="(ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes!=null?ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="maintain_Infection_control_and_prevention_programmes_doc"
            #maintain_Infection_control_and_prevention_programmes_doc="ngModel" required
            [disabled]="ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes.ques_selected_opt!=true"
            [(ngModel)]="ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes.ques_doc_url"
            required>
          <div *ngIf="maintain_Infection_control_and_prevention_programmes_doc.invalid">
            <div
              *ngIf="ceninfectionformSubmitted && maintain_Infection_control_and_prevention_programmes_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes:'')|DaNcbtnColorPipe"
          (click)="openNcModel('ceninfectioncontrol','maintain_Infection_control_and_prevention_programmes',cenhospitalPagesQueBank.ceninfectioncontrol.maintain_Infection_control_and_prevention_programmes)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol?.maintain_Infection_control_and_prevention_programmes?.nc_cycle_count:''}}
        </button>


      </div>
    </div>

    <hr class="form-seprator" />

    <!--Question start region end-->

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>5.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing.ques_text}}
          </div>
        </div>

      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing.ques_selected_opt"
          name="staff_ensure_weekly_rigorous_cleaning_scrubbing"
          #staff_ensure_weekly_rigorous_cleaning_scrubbing="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>

      </div>
      <div *ngIf="staff_ensure_weekly_rigorous_cleaning_scrubbing.invalid">
        <div *ngIf="ceninfectionformSubmitted && staff_ensure_weekly_rigorous_cleaning_scrubbing.errors.required"
          class="text-danger">
          Required
        </div>
      </div>
      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset
          [hidden]="ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing.ques_selected_opt!=true">
          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc5
            (change)="previewImage(doc5,$event.target.files,ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing,'ques_doc_url')">

            <i
              [ngClass]="(ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing!=null?ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="staff_ensure_weekly_rigorous_cleaning_scrubbing_doc"
            #staff_ensure_weekly_rigorous_cleaning_scrubbing_doc="ngModel" required
            [disabled]="ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing.ques_selected_opt!=true"
            [(ngModel)]="ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing.ques_doc_url" required>
          <div *ngIf="staff_ensure_weekly_rigorous_cleaning_scrubbing_doc.invalid">
            <div
              *ngIf="ceninfectionformSubmitted && staff_ensure_weekly_rigorous_cleaning_scrubbing_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing:'')|DaNcbtnColorPipe"
          (click)="openNcModel('ceninfectioncontrol','staff_ensure_weekly_rigorous_cleaning_scrubbing',cenhospitalPagesQueBank.ceninfectioncontrol.staff_ensure_weekly_rigorous_cleaning_scrubbing)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol?.staff_ensure_weekly_rigorous_cleaning_scrubbing?.nc_cycle_count:''}}
        </button>


      </div>
    </div>
    <hr class="form-seprator" />

    <!--Question start region end-->


    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>6.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling.ques_text}}
          </div>
        </div>

      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling.ques_selected_opt"
          name="practicesof_staff_respect_biomedical_waste_handling"
          #practicesof_staff_respect_biomedical_waste_handling="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>

      </div>
      <div *ngIf="practicesof_staff_respect_biomedical_waste_handling.invalid">
        <div *ngIf="ceninfectionformSubmitted && practicesof_staff_respect_biomedical_waste_handling.errors.required"
          class="text-danger">
          Required
        </div>
      </div>
      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset
          [hidden]="ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling.ques_selected_opt!=true">
          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc6
            (change)="previewImage(doc6,$event.target.files,ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling,'ques_doc_url')">

            <i
              [ngClass]="(ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling!=null?ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="practicesof_staff_respect_biomedical_waste_handling_doc"
            #practicesof_staff_respect_biomedical_waste_handling_doc="ngModel" required
            [disabled]="ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling.ques_selected_opt!=true"
            [(ngModel)]="ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling.ques_doc_url" required>
          <div *ngIf="practicesof_staff_respect_biomedical_waste_handling_doc.invalid">
            <div
              *ngIf="ceninfectionformSubmitted && practicesof_staff_respect_biomedical_waste_handling_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling:'')|DaNcbtnColorPipe"
          (click)="openNcModel('ceninfectioncontrol','practicesof_staff_respect_biomedical_waste_handling',cenhospitalPagesQueBank.ceninfectioncontrol.practicesof_staff_respect_biomedical_waste_handling)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol?.practicesof_staff_respect_biomedical_waste_handling?.nc_cycle_count:''}}
        </button>


      </div>
    </div>
    <hr class="form-seprator" />

    <!--Question start region end-->

    <!--Question  start region-->
    <div class="row mt-2">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>7.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.ceninfectioncontrol.biomedical_waste_sufficient_personal_protective.ques_text}}
          </div>
        </div>

      </div>



      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="ceninfectioncontrol.biomedical_waste_sufficient_personal_protective.ques_selected_opt"
          name="biomedical_waste_sufficient_personal_protective"
          #biomedical_waste_sufficient_personal_protective="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>

      </div>
      <div *ngIf="biomedical_waste_sufficient_personal_protective.invalid">
        <div *ngIf="ceninfectionformSubmitted && biomedical_waste_sufficient_personal_protective.errors.required"
          class="text-danger">
          Required
        </div>
      </div>
      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset
          [hidden]="ceninfectioncontrol.biomedical_waste_sufficient_personal_protective.ques_selected_opt!=true">
          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(ceninfectioncontrol.biomedical_waste_sufficient_personal_protective,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc7
            (change)="previewImage(doc7,$event.target.files,ceninfectioncontrol.biomedical_waste_sufficient_personal_protective,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,ceninfectioncontrol.biomedical_waste_sufficient_personal_protective,'ques_doc_url')">

            <i
              [ngClass]="(ceninfectioncontrol.biomedical_waste_sufficient_personal_protective!=null?ceninfectioncontrol.biomedical_waste_sufficient_personal_protective.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="biomedical_waste_sufficient_personal_protective_doc"
            #biomedical_waste_sufficient_personal_protective_doc="ngModel" required
            [disabled]="ceninfectioncontrol.biomedical_waste_sufficient_personal_protective.ques_selected_opt!=true"
            [(ngModel)]="ceninfectioncontrol.biomedical_waste_sufficient_personal_protective.ques_doc_url" required>
          <div *ngIf="biomedical_waste_sufficient_personal_protective_doc.invalid">
            <div
              *ngIf="ceninfectionformSubmitted && biomedical_waste_sufficient_personal_protective_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.biomedical_waste_sufficient_personal_protective:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol.biomedical_waste_sufficient_personal_protective:'')|DaNcbtnColorPipe"
          (click)="openNcModel('ceninfectioncontrol','biomedical_waste_sufficient_personal_protective',cenhospitalPagesQueBank.ceninfectioncontrol.biomedical_waste_sufficient_personal_protective)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.ceninfectioncontrol?.biomedical_waste_sufficient_personal_protective?.nc_cycle_count:''}}
        </button>


      </div>
    </div>
    <hr class="form-seprator" />

    <!--Question start region end-->

    <!--Question  start region-->


    <!--Question start region end-->



  </form>
  <!-- image view model -->
  <ng-template #uploadViewModel role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Uploaded doc(s)</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <!-- ------ -->
      <div *ngIf="!(ary_uploadedDocs===null || ary_uploadedDocs===undefined)" class="table-responsive">


        <table class="table table-bordered table-striped customTable">
          <thead>
            <tr>
              <th class="text-center"> Name </th>
              <th class="text-center">Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ary_uploadedDocs">
              <td class="text-center">{{item.fn}}</td>
              <td class="text-center">

                <a class="text-success mouse-pointer" title="Download file" (click)="downloadUploadFile(item)">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </a>

                <a style="margin-left: 10px;" class="text-danger mouse-pointer" title="Delete file"
                  (click)="deleteUploadFile(item)" *ngIf="this.currUsrRole ==3 && Stage_id ==20">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>



      </div>


    </div>

  </ng-template>
  <!-- image view model -->

</div>

<ng-template #documentuploadModel role="document" let-modal>

  <div class="modal-header">
    <h5 class="modal-title mt-0">Upload Document</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <!-- <div class="row mt-2">
      <ngb-progressbar *ngIf="showUploadMsg!=null" [value]="this.progress" type="progress-bar" showValue="true"
        style="width: 100%;">
      </ngb-progressbar>
    </div> -->
    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <h5 style="margin-left: 10px;"><strong>Document</strong></h5>

    </div>

    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <input style="margin-left: 10px;" type="file" #myFileInput (change)="handleFileInput($event.target.files)" />

    </div>
    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <label style="margin-left: 10px;"><b>Note: </b>The following formats are accepted: PDF, JPG, JPEG, PNG. The
        maximum file size allowed in 20 MB.</label>

    </div>
    <div class="row">
      <br>
    </div>
    <div class="row mt-2">
      <!--  -->
      <div class="alert alert-success  fade show" style="width: 100%;" *ngIf="showUploadMsg==true">

        The file has been successfully uploaded
      </div>

      <!-- <ngb-progressbar *ngIf="showUploadMsg==true" type="warning" [value]="100" height="40px"
        style="width: 100%; background-color:#caeeda !important; ">
        The file has been successfully
        uploaded </ngb-progressbar> -->

      <!-- <div class="card" style="width: 100%;  margin-left: 10px;margin-right: 10px;"> -->
      <!-- <div class="card-body" *ngIf="showUploadMsg==true"
        style="width: 100%;height: 50px; margin-left: 10px;margin-right: 10px; background-color:#ddf4e7 !important;text-align: justify; ">
        The file has been successfully uploaded
      </div> -->
      <!-- </div> -->

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="Upload2(myFileInput)">Upload</button>
  </div>
</ng-template>
