<div class="main-content">
  <div class="container-fluid">



    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Assessment Allocated </h4>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="showEntitity" [(ngModel)]="limit" (change)="showEnteries()">
              <option [ngValue]="10">--Show Entries--</option>
              <option *ngFor="let data of enties" [ngValue]="data">{{data}}</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <input type="text" class="form-control" (change)="getHospitalListDa()" [(ngModel)]="SearchTerms"
              placeholder="Search" name="searchEntitity">
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchState" (change)="getHospitalListDa()" [(ngModel)]="SearchState">
              <option [ngValue]="0">Select State</option>
              <option *ngFor="let data of stateDropdown" [ngValue]="data.value">{{data.text}}</option>


            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchtype" [(ngModel)]="SearchType" (change)="getHospitalListDa()">
              <option [ngValue]="null">Select Type</option>
              <option value="centre">Centre</option>
              <option value="hospital">Hospital</option>
            </select>
          </div>
          <!-- <div class="col-xs-12 col-md-6 col-xl-3" *ngIf="isdisplay==true">
            <select class="form-control" name="searchassessmentType" [(ngModel)]="searchAssessmentType"
              (ngModelChange)="AssmtTypeChange()" (change)="getHospitalListDa()">
              <option [ngValue]="null">Select Assessment Type</option>
              <option [ngValue]="1">DA</option>
              <option [ngValue]="2">OA</option>
            </select>
          </div> -->



          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchStage" [(ngModel)]="SearchStage" (change)="getHospitalListDa()">
              <option [ngValue]="0">Select Stage</option>
              <option *ngFor="let data of stageDropdown" [ngValue]="data.value">



                {{data.text}}


              </option>

            </select>
          </div>

          <button class="btn btn-danger  btn-rounded waves-effect pull-right"><i class="bx bx-reset mr-1"
              style="margin-left: -5px;" (click)="searchReset()"></i>Reset</button>






        </div>


        <!-- <app-transaction [transactions]="transactions"></app-transaction> -->

        <div class="table-responsive mt-3">
          <table class="table table-centered table-bordered hospitalTrackGrid">
            <thead class="thead-light">
              <tr>

                <th class="text-center" style="width: 5%;">#</th>
                <th class="text-center">Reference ID</th>
                <th>Organisation Name</th>
                <th class="text-center">State</th>
                <th class="text-center">Type</th>
                <th class="text-center">Application No</th>
                <th class="text-center">Assessment Date</th>
                <!-- <th class="text-center" style="width: 10%;">Desktop Assessor</th> -->
                <th class="text-center">Stage</th>

                <th class="text-center">View</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of hospitalList.rows |paginate: { itemsPerPage: limit, currentPage: hospitalList.current, totalItems: hospitalList.total };let i=index">
                <td class="text-center" style="width: 5%;">{{i+1}}</td>
                <td class="text-center">{{data.reference_id}}</td>
                <td>{{data.org_name}}</td>
                <td class="text-center">{{data.state}}</td>
                <td class="text-center">{{data.type}}</td>
                <td class="text-center">{{data.application_no}}</td>
                <td class="text-center">{{data.assessment_date|date: 'dd/MM/yyyy'}}</td>
                <!-- <td class="text-center" style="width: 10%;">{{data.current_da}}</td> -->
                <td class="text-center">{{data.stage}}</td>

                <td class="text-center">

                  <!-- class="bx bx-bus-school" -->
                  <button type="button" class="button-icon" *ngIf="data.stage_id==113"
                    (click)="openActionModal(actionModal,data.hosp_id)"> <i
                      style="color:  rgb(124, 226, 124); font-size: 28px;" class=" bx bx-checkbox-checked"></i>
                  </button>
                  <button type="button" class="button-icon" *ngIf="data.stage_id>=40"
                    (click)='DA_Action(data,otpModal,sorryModal)'> <i
                      style="color: green; font-weight: bolder; font-size: larger;" class="bx bx-chalkboard"></i>
                  </button>
                  <button type="button" class="button-icon" *ngIf="data.stage_id>=130"
                    (click)="openassessmentForm(data)"> <i style="color: blue; font-weight: bolder; font-size: larger;"
                      class="bx bx-mobile"></i>
                  </button>
                  <button type="button" class="button-icon" *ngIf="data.stage_id>202"> <i
                      style="color: orange; font-weight: bolder; font-size: larger;" class="bx bx-user-check"></i>
                  </button>



                </td>

              </tr>
              <!-- <tr *ngFor="let data of userSearchResponse.rows">
            
                <td>{{data.fullname}}</td>
                <td>{{data.email}}</td>
                <td>{{data.userpassword}}</td>
                <td>{{data.rolename}}</td>
                <td>
                 
                  <span *ngIf="data.isactive==true"
                    class="badge badge-pill badge-soft-success font-size-12">Active</span>
                  <span *ngIf="data.isactive==false"
                    class="badge badge-pill badge-soft-danger font-size-12">Inactive</span>
                </td>
                <td>{{data.creationdate | date:'dd-MMM-yyyy'}}</td>
                
                <td>
                 
                  <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="Edit(data)">Edit
                  </button> &nbsp;
                  <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="Delete(data)">Delete
                  </button>
                
                </td>
              </tr> -->
            </tbody>
          </table>


          <div>
            <span>Showing {{minCount}} to {{maxCount}} of {{totalCount}} entries
            </span>
          </div>

          <tfoot style="float: right;">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </tfoot>


        </div>


        <!-- end table -->
      </div>
    </div>


  </div>
</div>

<ng-template #otpModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">OTP Verification</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-xs-12 col-md-12 col-xl-12">
        <div class="form-group">
          <label>Enter OTP</label>
          <input [(ngModel)]="mobileOtp" name="mobileOtp" class="form-control">


        </div>

      </div>



    </div>






  </div>
  <div class="modal-footer">
    <button class="btn btn-success" *ngIf="mobileOtp!=null && mobileOtp.length==6 && mobileOtp.trim()!=''"
      (click)='verifyOtp()'>Submit</button>
    <button class="btn btn-info" (click)="reGenrateOtp()">Re-Generate OTP</button>
  </div>

</ng-template>

<ng-template #sorryModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Message</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="alert alert-warning  fade show" style="width: 100%; margin-left: 10px; margin-right: 10px;">

        The desktop assessment can be started on the assessment date only from 9AM to 9PM. Kindy open on the date of
        assessment between the stipulated time.
      </div>



    </div>






  </div>
  <div class="modal-footer">

    <button class="btn btn-primary" (click)="modal.dismiss('Cross click')">Ok</button>
  </div>

</ng-template>

<ng-template #actionModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">On-site Assessment Schedule </h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">

    <div class="row mb-1">
      <div class="col-xs-12 col-md-8 col-xl-8">
        <label>Name :</label>&nbsp; {{oa_AssessemtHistry.hospital_name}}
      </div>
      <div class="col-xs-12 col-md-4 col-xl-4">
        <label>Type :</label>&nbsp; {{oa_AssessemtHistry.hosp_type}}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-xs-12 col-md-4 col-xl-4">
        <label>Bed Strength :</label>&nbsp; {{oa_AssessemtHistry.bedstrength}}
      </div>
      <div class="col-xs-12 col-md-4 col-xl-4">
        <label>State :</label>&nbsp; {{oa_AssessemtHistry.state}}
      </div>
      <div class="col-xs-12 col-md-4 col-xl-4">
        <label>District :</label>&nbsp; {{oa_AssessemtHistry.district}}
      </div>
    </div>
    <div class="row">

      <div class="col-xs-6 col-md-6 col-xl-6">
        <div class="form-group">
          <label><b>Assessment Date</b></label>

          <input type="text" class="form-control" name="assessment_oa_date" id="assessment_oa_date"
            [(ngModel)]="asmt_date_oa" disabled>


        </div>
      </div>

      <div class="col-xs-6 col-md-6 col-xl-6">
        <div class="form-group">
          <label><b>Assessment Type</b></label>

          <input type="text" class="form-control" name="asmt_oa_type" id="asmt_oa_type" [(ngModel)]="asmt_type_oa"
            [disabled]="true">

        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-6 col-md-6 col-xl-6">

        <label><b>Status</b></label>


        <div class="custom-control custom-radio custom-control-inline mr-4 ml-3">
          <input type="radio" id="accept" name="action_status" class="form-check-input" [(ngModel)]="action_status"
            [value]=true>
          <label class="form-check-label" for="accept"> Accept</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline mr-4">
          <input type="radio" id="reject" name="action_status" class="form-check-input" [(ngModel)]="action_status"
            [value]=false>
          <label class="form-check-label" for="reject"> Reject</label>
        </div>

      </div>



    </div>
    <div class="row mt-1" *ngIf="action_status==false">
      <div class="col-xs-12 col-md-12 col-xl-12" *ngIf="this.stageid==113">
        <div class="form-group">
          <label><strong>Remarks</strong></label>



          <textarea id="Remarks" name="Remarks" class="form-control" rows="4" style="resize: none !important;"
            [(ngModel)]="remarks"></textarea>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-xs-12 col-md-12 col-xl-12">

        <label><strong>History</strong></label>





      </div>
    </div>
    <div class="row mt-1">
      <div class="col-xs-12 col-md-12 col-xl-12">
        <div class="table-responsive">
          <table class="table table-centered table-nowrap">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Assessment Date</th>
                <th class="text-center">Assessment Type</th>
                <th class="text-center">Status</th>
                <th class="text-center">Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of oa_AssessemtHistry.ret ;let i=index">
                <td class="text-center" style="width: 25%;">{{data.asmt_date}}</td>

                <td class="text-center" style="width: 25%;">{{data.asmt_type}}</td>
                <td class="text-center" style="width: 25%;">
                  <span *ngIf="data.status==false" rel="tooltip" class="badge badge-success"
                    type="button">Accepted</span>
                  <span *ngIf="data.status==true" rel="tooltip" class="badge badge-danger" type="button">Rejected</span>
                </td>
                <td class="text-center" style="width: 25%;">{{data.remark}}</td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>




  </div>
  <div class="modal-footer" *ngIf="this.stageid==113">

    <button class="btn btn-success" (click)="actionbyhco()">Submit</button>
  </div>

</ng-template>
