.custom-invalid{
    border-color: #f46a6a;
    box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.25);
  }

  .forgotpassbgContainer_container {
     background: url("../../../../assets/images/ayush-img/login_bg_ayush.jpg") no-repeat;
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
     background-size: cover;
     background-position: center;
     overflow-x: hidden;
     overflow-y: auto;
   }