<style>
  ::ng-deep .myCustomModalClass .modal-dialog {
    max-width: 80%;
    width: 80%;
  }

</style>

<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">OA Allocation </h4>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="showEntitity" [(ngModel)]="FilterRow.limit" (change)="showEnteries()">
              <option [ngValue]="10">--Show Entries--</option>
              <option *ngFor="let data of enties" [ngValue]="data">{{data}}</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <input type="text" class="form-control" (change)="getHospitalList_Allocation()"
              [(ngModel)]="FilterRow.SearchTerms" placeholder="Search" name="searchEntitity">
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchState" (change)="getHospitalList_Allocation()"
              [(ngModel)]="FilterRow.SearchState">
              <option [ngValue]="0">Select State</option>
              <option *ngFor="let data of stateDropdown" [ngValue]="data.value">{{data.text}}</option>


            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchtype" (change)="getHospitalList_Allocation()"
              [(ngModel)]="FilterRow.SearchType">
              <option [ngValue]="null">Select Type</option>
              <option value="centre">Centre</option>
              <option value="hospital">Hospital</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" (change)="getHospitalList_Allocation()" name="searchAppType"
              [(ngModel)]="FilterRow.SearchApplicationType">
              <option [ngValue]="null">Select Application Type</option>
              <option [ngValue]="0">A1</option>
              <option [ngValue]="1">RA</option>
              <option [ngValue]="2">RN</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-1 col-xl-1 pr-0">

            <span class="input-group clockpicker" (click)="d1.toggle()">
              <input name="datefrom" [(ngModel)]="SearchFrom" (ngModelChange)="getHospitalList_Allocation()"
                ngbDatepicker class="form-control dateControlL" placeholder="Date From" #d1="ngbDatepicker">
            </span>



          </div>


          <div class="col-xs-12 col-md-1 col-xl-1 pl-0">
            <span class="input-group clockpicker" (click)="d2.toggle()">
              <input name="dateto" [(ngModel)]="SearchTo" (ngModelChange)="getHospitalList_Allocation()" ngbDatepicker
                class="form-control dateControlR" placeholder="Date To" #d2="ngbDatepicker">
            </span>
          </div>

        </div>

        <div class="row mb-2 mt-2">

          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="SearchPrincipalAssessor" [(ngModel)]="FilterRow.SearchPrincipalAssessor"
              (change)="getHospitalList_Allocation()">
              <option [ngValue]="0">Select Principal Assessor</option>
              <option *ngFor="let data of FilterDropdown_Asr_1" [ngValue]="data.value">{{data.text}}</option>
            </select>
          </div>

          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="SearchAssessor" [(ngModel)]="FilterRow.SearchAssessor"
              (change)="getHospitalList_Allocation()">
              <option [ngValue]="0">Select Assessor</option>
              <option *ngFor="let data of FilterDropdown_nonPrincipalAsr" [ngValue]="data.value">{{data.text}}</option>
            </select>
          </div>

          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchStage" [(ngModel)]="FilterRow.SearchStage"
              (change)="getHospitalList_Allocation()">
              <option [ngValue]="0">Select Stage</option>
              <option *ngFor="let data of stageDropdown" [ngValue]="data.value">{{data.text}}</option>

            </select>
          </div>

          <div class="col-xs-12 col-md-8 col-xl-6">
            <button class="btn btn-primary float-right ml-2 btn-rounded waves-effect" (click)="exportData()"><i
                class="bx bx-file mr-1"></i>Export Data</button>
            <button class="btn btn-danger float-right btn-rounded waves-effect" (click)="searchReset()">
              <i class="bx bx-reset mr-1"></i>Reset</button>
          </div>

        </div>

        <div class="table-responsive mt-3">
          <table class="table table-centered table-bordered hospitalTrackGrid">
            <thead class="thead-light">
              <tr>

                <th class="text-center" style="width: 5%;">#</th>
                <th class="text-center">Reference ID</th>
                <th>Organisation Name</th>
                <th class="text-center">State</th>
                <th class="text-center">Type</th>
                <th class="text-center">Application Number</th>
                <th class="text-center">Assessment Date</th>
                <th class="text-center">Assessor 1</th>
                <th class="text-center">Assessor 2</th>
                <th class="text-center">Stage</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of hospitalList.rows |paginate: { itemsPerPage: FilterRow.limit, currentPage: hospitalList.current, totalItems: hospitalList.total };let i=index">
                <td class="text-center" style="width: 5%;">{{i + this.skip + 1}}</td>
                <td class="text-center">{{data.reference_id}}</td>
                <td>{{data.org_name}}</td>
                <td class="text-center">{{data.state}}</td>
                <td class="text-center">{{data.type}}</td>
                <td class="text-center">{{data.application_no}}</td>
                <td class="text-center" (click)="openAssessmentDateModal(data,asmthystryModel)">
                  {{data.oa_asmtdate|date: 'dd-MMM-yyyy'}}</td>
                <td class="text-center" (click)="OpenAssesorHystry(data,AsrhystryModel,1)">{{data.principaloa}}</td>
                <td class="text-center" (click)="OpenAssesorHystry(data,AsrhystryModel,2)">{{data.oa}}</td>
                <td class="text-center">{{data.stage}}</td>

                <td class="text-center">

                  <button type="button" (click)="OpenModal_AllocateOA(data,allocateOaModel)" class="button-icon"> <i
                      style="color: blue; font-weight: bolder; font-size: larger;" class="bx bxs-user"></i>
                  </button>

                  <button type="button" title="OA" class="button-icon">
                    <i style="color: green; font-weight: bolder; font-size: larger;" class="bx bx-mobile"></i>
                  </button>

                </td>

              </tr>

            </tbody>
          </table>


          <div>
            <span>Showing {{minCount}} to {{maxCount}} of {{totalCount}} entries
            </span>
          </div>

          <tfoot style="float: right;">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </tfoot>

        </div>

      </div>
    </div>


  </div>
</div>


<!-- <ng-template #allocateOaModel_org let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">OA Allocation</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-xs-4 col-md-4 col-xl-4">

        <div class="form-group">
          <label>Assessment Date</label>
          <div class="input-group clockpicker">
            <input name="assmtdate" [(ngModel)]="SelectedHospAsmtDate" ngbDatepicker class="form-control"
              placeholder="Assessment Date" #d3="ngbDatepicker">
            <div class="input-group-append" (click)="d3.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </div>


      </div>

      <div class="col-xs-4 col-md-4 col-xl-4">
        <div class="form-group">
          <label>Principal Assessor</label>          

          <select class="form-control" name="SearchPrincipalAsr" [(ngModel)]="selectedAsrId_1"
            (change)="assessorSelection($event)">
            <option [ngValue]="0">Select Principal Assessor</option>
            <option *ngFor="let data of assessorFilterDropdown" [ngValue]="data.value">{{data.text}}</option>
          </select>

        </div>
      </div>

      <div class="col-xs-4 col-md-4 col-xl-4">
        <div class="form-group">
          <label>Assessor</label>          

          <select class="form-control" name="SearchNonPrincipalAsr" [(ngModel)]="selectedAsrId_2"
            (change)="assessorSelection($event)">
            <option [ngValue]="0">Select Assessor</option>
            <option *ngFor="let data of assessorFilterDropdown" [ngValue]="data.value">{{data.text}}</option>
          </select>

        </div>
      </div>


    </div>


  </div>
  <div class="modal-footer" style="margin-top: -15px;">
    <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-danger">Cancel</button>
    <button *ngIf="selectedAsrId_1 != 0 && selectedAsrId_2 != 0 && SelectedHospAsmtDate != null"
      type="button" class="btn btn-success" (click)="allocateOAnow()" [ladda]="daalloc_loading">Allocate</button>
  </div>
</ng-template> -->


<form #allocForm="ngForm" novalidate>

  <ng-template #allocateOaModel role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">OA Allocation</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>

    <div class="modal-body">

      <div class="row">

        <div class="col-xs-12 col-md-9 col-xl-9">
          <label class="label-bold" for="name">Name: </label>
          <span style="color: gray;"> {{this.currRow.org_name}}</span>
        </div>

        <div class="col-xs-12 col-md-3 col-xl-3">
          <label class="label-bold" for="Country">Type: </label>
          <span style="color: gray;"> {{this.currRow.application_type}}</span>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-md-4 col-xl-4">
          <label class="label-bold" for="email">Bed Strength: </label>
          <span style="color: gray;"> {{this.currRow.total_bed_strength}}</span>
        </div>

        <div class="col-xs-12 col-md-5 col-xl-5">
          <label class="label-bold" for="Country">State: </label>
          <span style="color: gray;"> {{this.currRow.state}}</span>
        </div>

        <div class="col-xs-12 col-md-3 col-xl-3">
          <label class="label-bold" for="district">District: </label>
          <span style="color: gray;"> {{this.currRow.district}}</span>
        </div>

      </div>

      <hr>

      <div class="row">

        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group">
            <label>Assessment Date</label>
            <div class="input-group clockpicker">
              <input name="assmtdate" [(ngModel)]="SelectedHospAsmtDate" ngbDatepicker class="form-control"
                placeholder="Assessment Date" #d3="ngbDatepicker" required [minDate]="minDate"
                [ngClass]="{ 'custom-invalid' : !SelectedHospAsmtDate }">
              <div class="input-group-append" (click)="d3.toggle()">
                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xs-12 col-md-6 col-xl-6">

          <div class="form-group">
            <label>Assessment Type</label>
            <select class="form-control" name="asmttype" [(ngModel)]="selectedAsmtType" #asmttype="ngModel" required
              [ngClass]="{ 'custom-invalid' : (selectedAsmtType == null || selectedAsmtType == undefined || 
                                                     (selectedAsmtType != null && selectedAsmtType == 0) ) }">
              <option [ngValue]="0">Select</option>
              <option *ngFor="let itm of asmtTypeLst" [ngValue]="itm.id">{{itm.name}}</option>
            </select>

          </div>

        </div>

      </div>


      <div class="row">

        <div class="col-xs-12 col-md-6 col-xl-6">

          <h4 class="text-success" style="font-size: 14px; font-weight: bold;">Assessor 1</h4>
          <hr class=" mt-0 ">

          <div class="row">

            <div class="col-xs-6 col-md-6 col-xl-6">
              <label for="capacityy1" class="txtbold">Capacity</label>
              <select class="form-control" id="capacity1" [(ngModel)]="capacity_1" #capacity1="ngModel" name="capacity1"
                required [ngClass]="{ 'custom-invalid' : (capacity_1 == null || capacity_1 == undefined || 
                                                   (capacity_1 != null && capacity_1 == 0) ) }">
                <option [ngValue]="0">Select</option>
                <option [ngValue]="opt.id" *ngFor="let opt of asrCapacityLst"> {{opt.name}}
              </select>
            </div>

            <div class="col-xs-6 col-md-6 col-xl-6">
              <div class="form-group">
                <label>Assessor Name</label>

                <select class="form-control" name="asr1" [(ngModel)]="selectedAsrId_1" #asr1="ngModel"
                  (change)="asrSelection_1($event)" required [ngClass]="{ 'custom-invalid' : (selectedAsrId_1 == null || selectedAsrId_1 == undefined || 
                                                     (selectedAsrId_1 != null && selectedAsrId_1 == 0) ) }">
                  <option [ngValue]="0">Select</option>
                  <option *ngFor="let data of assessorFilterDropdown" [ngValue]="data.value">{{data.text}}</option>
                </select>

              </div>
            </div>

          </div>

        </div>

        <div class="col-xs-12 col-md-6 col-xl-6">

          <h4 class="text-success" style="font-size: 14px; font-weight: bold;">Assessor 2</h4>
          <hr class=" mt-0 ">

          <div class="row">

            <div class="col-xs-6 col-md-6 col-xl-6">
              <label for="capacityy2" class="txtbold">Capacity</label>
              <select class="form-control" id="capacity2" [(ngModel)]="capacity_2" #capacity1="ngModel"
                name="capacity2">
                <option [ngValue]="0">Select</option>
                <option [ngValue]="opt.id" *ngFor="let opt of asrCapacityLst"> {{opt.name}}
              </select>
            </div>

            <div class="col-xs-6 col-md-6 col-xl-6">
              <div class="form-group">
                <label>Assessor Name</label>

                <select class="form-control" name="asr2" [(ngModel)]="selectedAsrId_2" #asr1="ngModel"
                  (change)="asrSelection_2($event)">
                  <option [ngValue]="0">Select</option>
                  <option *ngFor="let data of assessorFilterDropdown" [ngValue]="data.value">{{data.text}}</option>
                </select>

              </div>
            </div>

          </div>

        </div>

      </div>


      <div class="row">

        <div class="col-xs-12 col-md-6 col-xl-6">
          <!-- *ngIf="selectedAsrId_1 != null && selectedAsrId_1 != undefined && selectedAsrId_1 > 0" -->

          <h4 class="text-primary" style="font-size: 14px; font-weight: bold;">Profile</h4>

          <div class="table-responsive mb-0">
            <table class="table table-centered table-bordered table-nowrap">
              <tbody>
                <tr>
                  <td rowspan="5" width="25%">
                    <img width=100% style="margin-top: -20px;" [src]="Imgurl1">
                  </td>
                  <td width="25%"><strong>OA Complete</strong> </td>
                  <td>{{SelectedAsrDets_1.oa_completed_count}}</td>
                </tr>
                <tr>

                  <td><strong>Qualification</strong></td>
                  <td>{{SelectedAsrDets_1.qualification}}</td>
                </tr>
                <tr>

                  <td><strong>Specialities</strong></td>
                  <td>{{SelectedAsrDets_1.specilities}}</td>
                </tr>
                <tr>

                  <td><strong>Experience</strong></td>
                  <td>{{SelectedAsrDets_1.experience}}</td>
                </tr>
                <tr>

                  <td><strong>Location</strong></td>
                  <td>{{SelectedAsrDets_1.city}}, {{SelectedAsrDets_1.state}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        <div class="col-xs-12 col-md-6 col-xl-6">
          <!-- *ngIf="selectedAsrId_2 != null && selectedAsrId_2 != undefined && selectedAsrId_2 > 0" -->

          <h4 class="text-primary" style="font-size: 14px; font-weight: bold;">Profile</h4>

          <div class="table-responsive mb-0">
            <table class="table table-centered table-bordered table-nowrap">
              <tbody>
                <tr>
                  <td rowspan="5" width="25%">
                    <img width=100% style="margin-top: -20px;" [src]="Imgurl2">
                  </td>
                  <td width="25%"><strong>OA Complete</strong> </td>
                  <td>{{SelectedAsrDets_2.da_completed_count}}</td>
                </tr>
                <tr>

                  <td><strong>Qualification</strong></td>
                  <td>{{SelectedAsrDets_2.qualification}}</td>
                </tr>
                <tr>

                  <td><strong>Specialities</strong></td>
                  <td>{{SelectedAsrDets_2.specilities}}</td>
                </tr>
                <tr>

                  <td><strong>Experience</strong></td>
                  <td>{{SelectedAsrDets_2.experience}}</td>
                </tr>
                <tr>

                  <td><strong>Location</strong></td>
                  <td>{{SelectedAsrDets_2.city}}, {{SelectedAsrDets_2.state}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>


      </div>


    </div>
    <div class="modal-footer" style="margin-top: -15px;">
      <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-danger">Cancel</button>
      <button type="button" class="btn btn-success" (click)="allocateOAnow()"
        [ladda]="daalloc_loading">Allocate</button>
      <!-- *ngIf="selectedAsmtType > 0 && capacity_1 > 0 && selectedAsrId_1 > 0 && SelectedHospAsmtDate != null" -->
    </div>
  </ng-template>

</form>

<ng-template #asmthystryModel role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Assessment Date History</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="table-responsive mt-3">
        <table class="table table-centered table-bordered hospitalTrackGrid">
          <thead class="thead-light">
            <tr>


              <th class="text-center">Assessment Date</th>

              <th class="text-center">Assessment Type</th>
              <th class="text-center">Allocated By</th>
              <th class="text-center">Allocation Date</th>
              <th class="text-center">Status</th>
              <th class="text-center">Organisation Remarks</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of alochistry ;let i=index">
              <td class="text-center">{{data.asmt_date}}</td>

              <td class="text-center">{{data.asmt_type}}</td>

              <td class="text-center">{{data.allocated_by}}</td>
              <td class="text-center">{{data.allocation_Date}}</td>
              <td class="text-center">

                <span *ngIf="data.status==false" rel="tooltip" class="badge badge-success" type="button">Accepted</span>
                <span *ngIf="data.status==true" rel="tooltip" class="badge badge-danger" type="button">Rejected</span>
              </td>

              <td class=" text-center">{{data.remark}}</td>




            </tr>

          </tbody>
        </table>



      </div>
    </div>


  </div>

</ng-template>

<ng-template #AsrhystryModel role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{Asrheader}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="table-responsive mt-3">
        <table class="table table-centered table-bordered hospitalTrackGrid">
          <thead class="thead-light">
            <tr>


              <th class="text-center">Assessor Name</th>

              <th class="text-center">Capacity</th>
              <th class="text-center">Allocated By</th>
              <th class="text-center">Allocation Date</th>
              <th class="text-center">Status</th>
              <th class="text-center">Assessor Remarks</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of alochistry ;let i=index">
              <td class="text-center">{{data.assessorname}}</td>

              <td class="text-center" *ngIf="data.capacity==1"> Principal Assessor</td>
              <td class="text-center" *ngIf="data.capacity==2"> Assessor</td>
              <td class="text-center" *ngIf="data.capacity<1"> </td>
              <td class="text-center">{{data.allocated_by}}</td>
              <td class="text-center">{{data.allocation_Date}}</td>
              <td class="text-center">

                <span *ngIf="data.status==false" rel="tooltip" class="badge badge-success" type="button">Accepted</span>
                <span *ngIf="data.status==true" rel="tooltip" class="badge badge-danger" type="button">Rejected</span>
              </td>

              <td class=" text-center">{{data.remark}}</td>




            </tr>

          </tbody>
        </table>



      </div>
    </div>


  </div>

</ng-template>
