<div class="main-content">
  <div class="container-fluid">



    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title mb-4 text-center">AYUSH ENTRY LEVEL CERTIFICATION GUIDELINES </h4> -->




        <div class="row">
          <div class="col-md-12">
            <label class="mt-2 text-center"> <strong>ASSESSMENT CRITERIA AND FEE STRUCTURE</strong>
            </label>
          </div>
        </div>





        <div class="table-responsive mt-3">
          <table class="table table-bordered">
            <!-- <thead> -->
            <tr>
              <th class="text-center" rowspan="2" style="width: 15%; vertical-align: middle;">Type of organisation
              </th>
              <th class="text-center" rowspan="2" style="width: 15%; vertical-align: middle;">Size of Hospitals</th>
              <th class="text-center" colspan="2" style="width: 30%;">Assessment Criteria</th>
              <th class="text-center" colspan="2" style="width: 30%;">Fees</th>
              <!-- <th class="text-center">Payment Date</th> -->
            </tr>
            <tr>
              <th class="text-center">Desktop-assessment</th>
              <th class="text-center">Onsite-Assessment</th>
              <th class="text-center" colspan="2">Application Fee + 2 Year Annual Fee</th>
              <!-- <th class="text-center">Fees</th> -->
            </tr>
            <tr>
              <th rowspan="2" style="text-align: center !important; vertical-align: middle">Hospital</th>
              <th class="text-center">Less than or equal to 50 beds</th>
              <th class="text-center">One-man day (1X1)</th>
              <th class="text-center">One-man day (1X1)</th>
              <th class="text-center" colspan="2"><span style="font-size: 1rem !important;">&#8377;</span> 21,000 +
                18% GST</th>
            </tr>
            <tr>

              <th class="text-center">51 beds and above</th>
              <th class="text-center">One-man day (1X1)</th>
              <th class="text-center">Two-man days (2x1)</th>
              <th class="text-center" colspan="2"> <span style="font-size: 1rem !important;">&#8377;</span> 52,000 +
                18% GST</th>
            </tr>
            <tr>

              <th class="text-center">Centre</th>
              <th class="text-center">OPD</th>
              <th class="text-center">One-man day (1X1)</th>
              <th class="text-center">One-man day (1X1)</th>
              <th class="text-center">
                <span style="font-size: 1rem !important;">&#8377;</span> 11,000 + 18% GST
              </th>
            </tr>
            <!-- </thead> -->

          </table>
        </div>
        <div class="row  mt-3 ml-1">
          <p><b>Note -</b>The man-days given above for certification are indicative and may change depending on the
            facilities and size of the hospital.</p>
        </div>
        <div class="row  mt-3 ml-1">
          <b>GUIDANCE NOTES</b>
          <div class="row  mt-3 ml-1">

            <ol>
              <li>
                <p>Fees to be paid through online/bank transfer using this technology portal only. Fees will be
                  calculated based on the number of sanctioned beds and the fee paid by the organisation will be
                  non-refundable.</p>
              </li>
              <li>
                <p> The application fee plus annual fee mentioned in the above table(s) does not include expenses on
                  travel, lodging or boarding of assessors in case of physical assessment, which will be borne by the
                  applicant organisation on an actual basis.</p>
              </li>
              <li>
                <p> The certification once granted will be valid for two years. The organisation may apply for renewal
                  as per NABH policy.</p>
              </li>
              <li>
                <p> The application fee plus a two-year annual fee is payable before Desktop Assessment and after
                  submission of the application form on the technology portal.</p>
              </li>
              <li>
                <p> NABH may call for an unannounced visit, which could be a Surprise Assessment or based on any concern
                  or any serious incident reported upon by any individual or organisation or media.</p>
              </li>
              <li>
                <p> Please refer to the NABH certification timeline on the NABH website.</p>
              </li>
              <li>
                <p> The application should be completed and submitted within 30 days from the date of registration. The
                  application will be deactivated if not completed within the timelines and the organisation will have
                  to reapply.</p>
              </li>
              <li>
                <p> The number of days is calculated as per the calendar days and includes weekends and weekdays.</p>
              </li>
              <li>
                <p> All the Questions in the Application Form are Mandatory.</p>
              </li>
              <li>
                <p> The documents that are uploaded by the organisation as evidence must be clear and readable.</p>
              </li>
              <li>
                <p> The organisation can log in only on one browser at a time.</p>
              </li>
              <li>
                <p> The user must be connected to an active internet connection while uploading documents to avoid any
                  type of data loss.</p>
              </li>
              <li>
                <p> The details entered by the organisation in the application form cannot be edited once submitted
                  (except the details of the certification officer).</p>
              </li>
              <li>
                <p> The organisation has to ensure that the details are filled accurately with appropriate documents.
                </p>
              </li>
              <li>
                <p> The concealing of information or intentionally filling in the wrong information may lead to the
                  cancellation of Registration.</p>
              </li>
              <li>
                <p> The application fee will be forfeited if the application is rejected.</p>
              </li>
              <li>
                <p> The following file formats can be uploaded:</p>

                <ol>
                  <li> Image – JPG, JPEG, PNG</li>
                  <li> Document - PDF</li>
                </ol>
              </li>

            </ol>
          </div>
        </div>

        <div class="row  mt-3 ml-1">
          <b>APPLICATION FORM</b>
          <div class="row  mt-3 ml-1">
            A. <b class="ml-3"> Under General Information: </b>
            <ol class="mt-1">
              <li>
                <p>In Split locations - This pertains to all units which are a part of the organisation for example -
                  outreach clinics, etc. </p>
              </li>
              <li>
                <p>In Operational Beds - please state the number of beds currently in operation. For example, the
                  hospital may have approval for 250 beds (called sanctioned beds) but presently if only 100 beds are
                  operational, please mention only 100. However, the hospital shall inform NABH of any increase in
                  operational beds within 15 days of making the additional operational beds </p>
              </li>
            </ol>
          </div>
          <div class="row  mt-3 ml-1">
            B. <b class="ml-3"> Under the Scope of services: : </b>
            <ol class="mt-1">
              <li>
                <p>Please indicate “Yes” only if at least one consultant is holding a recognized degree managing a
                  single department. Please ensure that there are OPD & IPD services (if applicable) for all the ticked
                  specialities.</p>
                <p><b>Note -</b> Provision of Emergency Services in concerned departments shall be available (if
                  applicable).</p>
              </li>
              <li>
                <p>Please note that this list of specialities is based on the recognized AYUSH medical courses by the
                  Central Council of Indian Medicine/ Central Council of Homoeopathy. </p>
                <p><b>Note -</b> The scope of certification shall be transcribed as per the filled online application
                  ONLY.  </p>
              </li>
            </ol>
          </div>
          <div class="row  mt-3 ml-1">
            C. <b class="ml-3"> Under Statutory Compliance : </b>
            <ol class="mt-1">
              <li>
                <p>In the detail of licenses, please select licenses applicable to the organization for example -
                  Clinical Establishment Act, Shops and Establishments Registration Act, etc. Please mention if any
                  license is expired and details as to how it is being addressed. Please upload the supporting documents
                  in the attachment.</p>

              </li>

            </ol>
          </div>

        </div>
      </div>
    </div>
  </div>
