<div class="ChangePassbgContainer_container">
  <header id="page-topbar">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->


        <div class="navbar-brand-box" style="width: auto;">


          <a href="https://www.nabh.co/" target="_blank">
            <span class="logo-lg logo-nabh">
              <img src="assets/images/ayush-img/nabh_logo_top.png" />
            </span>
            <h3 class="title-nabh">ReEnergy Pass Application</h3>
          </a>
        </div>

        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" (click)="toggleMenubar()">
          <i class="fa fa-fw fa-bars"></i>
        </button>


      </div>

      <div class="d-flex">



        <div class="dropdown d-inline-block customDrop" ngbDropdown>
          <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle
            style="background-color:  #009688 !important;">
            <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.png" alt="Header Avatar">
            <span class="d-none d-xl-inline-block ml-1"
              style="font-size: 14px; color: #fff; position: relative; top:2px">{{username}}</span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"
              style="position: relative; top: 4px; margin-left: 3px;"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>


            <a class="dropdown-item text-dark" href="javascript: void(0);" (click)="logout()"><i
                class=" bx bx-power-off font-size-16 align-middle mr-1 text-red"></i> Logout</a>
          </div>
        </div>


      </div>
    </div>
  </header>
  <div class="account-pages my-5 pt-sm-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5 col-lg-5 col-xl-5">
          <div class="card overflow-hidden mb-3">
            <div class="bg-soft-warning">
              <div class="row">
                <div class="app-title-main  p-3">
                  &nbsp;&nbsp; Please change your password
                </div>
              </div>
            </div>
          </div>
          <div class="card overflow-hidden trans-bg">

            <div class="card-body pt-2 ">
              <div class="p-2">
                <form #passwordchange="ngForm" class="needs-validation" novalidate>

                  <!-- <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert> -->

                  <div class="form-group mb-3">
                    <label for="email" style="font-weight: bold;font-size: 12px;">New Password</label>

                    <div class="input-group">
                      <input required
                        pattern="(?=^.{6,15}$)(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
                        type="password" name="passw" [(ngModel)]="password" #passw="ngModel" class="form-control"
                        id="password" [ngClass]="{ 'custom-invalid': submitted && passw.errors }"
                        placeholder="Enter Password" #x />

                      <div class="input-group-append">
                        <span class="input-group-text"><i
                            (click)="(x.type=x.type=='password'?'text':'password'); addEvent(x);" data-toggle="tooltip"
                            placement="top" ngbTooltip="{{x.select?'Show':'Hide'}}" aria-hidden="true" class="fa"
                            [ngClass]="{'fa-eye': x.select, 'fa-eye-slash': !(x.select)}"></i></span>
                      </div>
                    </div>

                    <div *ngIf="submitted && passw.errors" class="text-danger loginErrorText mt-2">
                      <div *ngIf="passw.errors.required">
                        Required
                      </div>
                      <div *ngIf="passw.errors.pattern">
                        Invalid Password
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label for="email" style="font-weight: bold;font-size: 12px;">Confirm Password</label>

                    <div class="input-group">
                      <input required type="password" name="confpassw" pattern="{{password}}"
                        [(ngModel)]="confirm_password" #confpassw="ngModel" class="form-control"
                        [ngClass]="{ 'custom-invalid': submitted && confpassw.errors }" placeholder="Confirm Password"
                        #x1 />

                      <div class="input-group-append">
                        <span class="input-group-text"><i
                            (click)="(x1.type=x1.type=='password'?'text':'password'); addEvent(x1);"
                            data-toggle="tooltip" placement="top" ngbTooltip="{{x1.select?'Show':'Hide'}}"
                            aria-hidden="true" class="fa"
                            [ngClass]="{'fa-eye': x1.select, 'fa-eye-slash': !(x1.select)}"></i></span>
                      </div>
                    </div>

                    <div *ngIf="submitted && confpassw.errors" class="text-danger loginErrorText mt-2">
                      <div *ngIf="confpassw.errors.pattern">
                        New Password and Confirm Password must be same
                      </div>
                      <div *ngIf="confpassw.errors.required">
                        Required
                      </div>
                    </div>
                  </div>
                  <h6 style="font-weight: bold;font-size: 13px;color:#009688">PASSWORD POLICY</h6>
                  <hr class="form-seprator" style="margin-top: -5px;" />
                  <div class="row">
                    <ul>
                      <li style="margin-left: -15px;font-size: 12px;">Password should contain atleast one Upper-case
                        letter,Number and Special Character</li>
                      <li style="margin-left: -15px;font-size: 12px;">Password length should be greater than 5 character
                      </li>
                      <li style="margin-left: -15px;font-size: 12px;">Password length should be Maximum 15 character
                      </li>
                    </ul>
                  </div>
                  <button *ngIf="this.saveForAsr == false" [ladda]="loading" class="form-control btn btn-primary"
                    (click)="ChangePassword()">Submit</button>
                  <button *ngIf="this.saveForAsr ==true" [ladda]="loading" class="form-control btn btn-primary"
                    (click)="ChangePasswordforAsr()">Submit</button>
                  <!-- <div class="form-group mb-0 row">
                      <div class="col-12 text-right">
                        <a routerLink="/account/login" class="text-primary mr-3"><i class="fa fa-arrow-left"></i> Back to
                          Login</a>
                        <button class="btn btn-primary w-md" type="submit">Reset</button>
  
                      </div>
                    </div> -->
                </form>
              </div>

            </div> <!-- end card-body-->
          </div>
          <!-- end card -->
          <div class="text-center">
            © 2021 NABH. All Rights Reserved.

          </div>



        </div> <!-- end col -->
      </div>
      <!-- end row -->
    </div>

    <!-- end container -->
  </div>
  <!-- end page -->




</div>
