.alabelfone {
  font-size: 5px;
}



.ChangePassbgContainer_container {
  //  background: url("../../../../assets/images/ayush-img/login_bg_ayush.jpg") no-repeat;
  background: #f2f2f2;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
}
