<div class="main-content">
  <div class="container-fluid">



    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">DA Allocation </h4>

        <div class="row">
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="showEntitity" [(ngModel)]="limit" (change)="showEnteries()">
              <option [ngValue]="10">--Show Entries--</option>
              <option *ngFor="let data of enties" [ngValue]="data">{{data}}</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <input type="text" class="form-control" (change)="getHospitalList()" [(ngModel)]="SearchTerms"
              placeholder="Search" name="searchEntitity">
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchState" (change)="getHospitalList()" [(ngModel)]="SearchState">
              <option [ngValue]="0">Select State</option>
              <option *ngFor="let data of stateDropdown" [ngValue]="data.value">{{data.text}}</option>


            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchtype" [(ngModel)]="SearchType" (change)="getHospitalList()">
              <option [ngValue]="null">Select Type</option>
              <option value="centre">Centre</option>
              <option value="hospital">Hospital</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" (change)="getHospitalList()" name="searchAppType"
              [(ngModel)]="SearchApplicationType">
              <option [ngValue]="null">Select Application Type</option>
              <option [ngValue]="0">A1</option>
              <option [ngValue]="1">RA</option>
              <option [ngValue]="2">RN</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-1 col-xl-1 pr-0">

            <span class="input-group clockpicker" (click)="d1.toggle()">
              <input name="datefrom" [(ngModel)]="SearchFrom" (ngModelChange)="getHospitalList()" ngbDatepicker
                class="form-control dateControlL" placeholder="Date From" #d1="ngbDatepicker">
            </span>



          </div>


          <div class="col-xs-12 col-md-1 col-xl-1 pl-0">
            <span class="input-group clockpicker" (click)="d2.toggle()">
              <input name="dateto" [(ngModel)]="SearchTo" (ngModelChange)="getHospitalList()" ngbDatepicker
                class="form-control dateControlR" placeholder="Date To" #d2="ngbDatepicker">
            </span>
          </div>

        </div>

        <div class="row mb-2 mt-2">

          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="SearchAssessor" [(ngModel)]="SearchAssessor"
              (change)="getHospitalList()">
              <option [ngValue]="0">Select Desktop Assessor</option>
              <option *ngFor="let data of assessorFilterDropdown" [ngValue]="data.value">{{data.text}}</option>


            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="searchStage" [(ngModel)]="SearchStage" (change)="getHospitalList()">
              <option [ngValue]="0">Select Stage</option>
              <option *ngFor="let data of stageDropdown" [ngValue]="data.value">{{data.text}}</option>

            </select>
          </div>
          <!-- <div class="col-xs-12 col-md-6 col-xl-1" style="padding-right: 0px;">

          <span class="input-group clockpicker">
            <input  
              name="datefrom" 
              [(ngModel)]="SearchFrom"
              (ngModelChange)="getHospitalList()"
              ngbDatepicker class="form-control" placeholder="From" #d1="ngbDatepicker">
            <div class="input-group-append" (click)="d1.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </span>
       
         
              
        </div> -->



          <!-- <div class="col-xs-12 col-md-6 col-xl-1" style="padding-left: 0px;">
          <span class="input-group clockpicker">
            <input  
              name="dateto" 
              [(ngModel)]="SearchTo"
              (ngModelChange)="getHospitalList()"
              ngbDatepicker class="form-control" placeholder="To" #d2="ngbDatepicker">
            <div class="input-group-append" (click)="d2.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </span>
        </div> -->
          <!-- <div class="col-xs-12 col-md-6 col-xl-2">
          
        </div>
        <div class="col-xs-12 col-md-6 col-xl-2">
           
        </div>
        <div class="col-xs-12 col-md-6 col-xl-1">
        </div> -->

          <div class="col-xs-12 col-md-8 col-xl-8">
            <button class="btn btn-primary float-right ml-2 btn-rounded waves-effect" (click)="exportData()"><i
                class="bx bx-file mr-1"></i>Export Data</button>
            <button class="btn btn-danger float-right btn-rounded waves-effect" (click)="searchReset()"><i
                class="bx bx-reset mr-1"></i>Reset</button>
            <!-- <button class="btn btn-danger float-right btn-rounded waves-effect"><i class="bx bx-reset" (click)="searchReset()"></i>Reset</button>
              <button class="btn btn-primary float-right ml-2 btn-rounded waves-effect"><i class="bx bxs-file-doc"></i>Export Data</button> -->
          </div>

        </div>


        <!-- <app-transaction [transactions]="transactions"></app-transaction> -->

        <div class="table-responsive mt-3">
          <table class="table table-centered table-bordered hospitalTrackGrid">
            <thead class="thead-light">
              <tr>

                <th class="text-center" style="width: 5%;">#</th>
                <th class="text-center">Reference ID</th>
                <th>Organisation Name</th>
                <th class="text-center">State</th>
                <th class="text-center">Type</th>
                <th class="text-center">Application No</th>
                <th class="text-center">Assessment Date</th>
                <th class="text-center">Desktop Assessor</th>
                <th class="text-center">Stage</th>

                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of hospitalList.rows |paginate: { itemsPerPage: limit, currentPage: hospitalList.current, totalItems: hospitalList.total };let i=index">
                <td class="text-center" style="width: 5%;">{{i + this.skip + 1}}</td>
                <td class="text-center">{{data.reference_id}}</td>
                <td>{{data.org_name}}</td>
                <td class="text-center">{{data.state}}</td>
                <td class="text-center">{{data.type}}</td>
                <td class="text-center">{{data.application_no}}</td>
                <td class="text-center">{{data.assessment_date|date: 'dd-MMM-yyyy'}}</td>
                <td class="text-center">{{data.current_da}}</td>
                <td class="text-center">{{data.stage}}</td>

                <td class="text-center">


                  <button type="button" (click)="daAllocate(data,allocateDaModel)" class="button-icon"> <i
                      style="color: blue; font-weight: bolder; font-size: larger;" class="bx bxs-user"></i>
                  </button>



                </td>

              </tr>
              <!-- <tr *ngFor="let data of userSearchResponse.rows">
            
                <td>{{data.fullname}}</td>
                <td>{{data.email}}</td>
                <td>{{data.userpassword}}</td>
                <td>{{data.rolename}}</td>
                <td>
                 
                  <span *ngIf="data.isactive==true"
                    class="badge badge-pill badge-soft-success font-size-12">Active</span>
                  <span *ngIf="data.isactive==false"
                    class="badge badge-pill badge-soft-danger font-size-12">Inactive</span>
                </td>
                <td>{{data.creationdate | date:'dd-MMM-yyyy'}}</td>
                
                <td>
                 
                  <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="Edit(data)">Edit
                  </button> &nbsp;
                  <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="Delete(data)">Delete
                  </button>
                
                </td>
              </tr> -->
            </tbody>
          </table>


          <div>
            <span>Showing {{minCount}} to {{maxCount}} of {{totalCount}} entries
            </span>
          </div>

          <tfoot style="float: right;">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </tfoot>


        </div>


        <!-- end table -->
      </div>
    </div>


  </div>
</div>

<ng-template #allocateDaModel let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">DA Allocation</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row mb-1">
      <div class="col-xs-12 col-md-8 col-xl-8">
        <label>Name :</label>&nbsp; {{name}}
      </div>
      <div class="col-xs-12 col-md-4 col-xl-4">
        <label>Type :</label>&nbsp; {{type}}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-xs-12 col-md-4 col-xl-4">
        <label>Sanctioned Bed :</label>&nbsp; {{senction_beds}}
      </div>
      <div class="col-xs-12 col-md-4 col-xl-4">
        <label>State :</label>&nbsp; {{state}}
      </div>
      <div class="col-xs-12 col-md-4 col-xl-4">
        <label>District :</label>&nbsp; {{district}}
      </div>
    </div>
    <div class="row">

      <div class="col-xs-12 col-md-6 col-xl-6">

        <div class="form-group">
          <label>Assessment Date</label>
          <div class="input-group clockpicker">
            <input name="assmtdate" [(ngModel)]="SelectedHospAssessmentDate" ngbDatepicker class="form-control"
              placeholder="Assessment Date" #d3="ngbDatepicker">
            <div class="input-group-append" (click)="d3.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </div>


      </div>

      <div class="col-xs-12 col-md-6 col-xl-6">
        <div class="form-group">
          <label>Desktop Assessor</label>

          <select class="form-control" [(ngModel)]="SelectedAssessorId" (change)="assessorSelection($event)">
            <option [ngValue]="0">--Select Assessor--</option>
            <option [ngValue]="dd.assr_id" *ngFor="let dd of assessorDropdown">{{dd.assr_name}}</option>

          </select>

        </div>
      </div>



    </div>

    <!-- <div class="row" *ngIf="SelectedAssessorDetails!=null && SelectedAssessorDetails!=undefined">
      <div class="col-xs-12 col-md-12 col-xl-12">
        <h4 class="text-success">Desktop Assessor Profile</h4>
      </div>   
    </div> -->
    <div class="row" *ngIf="SelectedAssessorDetails!=null && SelectedAssessorDetails!=undefined">




      <div class="col-xs-12 col-md-12 col-xl-12">

        <h4 class="text-primary" style="font-size: 14px; font-weight: bold;">Desktop Assessor Profile</h4>

        <div class="table-responsive mb-0">
          <table class="table table-centered table-bordered table-nowrap">
            <tbody>
              <tr>
                <td rowspan="5" width="25%">
                  <img width=100% style="margin-top: -20px;" [src]="Imgurl">
                </td>
                <td width="25%"><strong>DA Complete</strong> </td>
                <td>{{SelectedAssessorDetails.da_completed_count}}</td>
              </tr>
              <tr>

                <td><strong>Qualification</strong></td>
                <td>{{SelectedAssessorDetails.qualification}}</td>
              </tr>
              <tr>

                <td><strong>Specialities</strong></td>
                <td>{{SelectedAssessorDetails.specilities}}</td>
              </tr>
              <tr>

                <td><strong>Experience</strong></td>
                <td>{{SelectedAssessorDetails.experience}}</td>
              </tr>
              <tr>

                <td><strong>Location</strong></td>
                <td>{{SelectedAssessorDetails.city}},{{SelectedAssessorDetails.state}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>


    </div>


  </div>
  <div class="modal-footer" style="margin-top: -15px;">
    <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-danger">Cancel</button>
    <button *ngIf="SelectedAssessorId!=0 && SelectedHospAssessmentDate!=null" type="button" class="btn btn-success"
      (click)="allocateDa()" [ladda]="daalloc_loading">Allocate</button>
  </div>
</ng-template>
