<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Assessors List
          <!-- <button type="button" style="margin-left: 85%;"
              class="btn btn-primary btn-sm btn-rounded pull-right">
              Add User</button> -->
        </h4>
        <!-- (click)="addUser(addUserModel)" -->
        <!-- search control row -->

        <div class="row">

          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" name="showEntitity" [(ngModel)]="this.asrFilter.limit"
              (change)="showEnteries()">
              <option [ngValue]="10">Show Entries</option>
              <option *ngFor="let data of enties" [ngValue]="data">{{data}}</option>
            </select>
          </div>

          <div class="col-xs-12 col-md-6 col-xl-2">
            <input type="text" class="form-control" (change)="getAssessorData()" [(ngModel)]="this.asrFilter.searchtext"
              placeholder="Search" name="searchEntitity">
          </div>

          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control customSelect" placeholder="Select State" id="state" (change)="getAssessorData()"
              #state="ngModel" name="state" [(ngModel)]="this.asrFilter.stateid" required>
              <option [ngValue]="0">Select State</option>
              <option [ngValue]="data.id" *ngFor="let data of statelist">
                {{data.statename}}</option>
            </select>

          </div>

          <div class="col-xs-12 col-md-6 col-xl-2">
            <input type="text" class="form-control" (change)="getAssessorData()" [(ngModel)]="this.asrFilter.city"
              placeholder="City" name="city">
          </div>

          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" id="capacity" [(ngModel)]="this.asrFilter.capacity" #capacity="ngModel"
              (change)="getAssessorData()" name="capacity">
              <option value="0">Select Capacity</option>
              <option [ngValue]="opt.id" *ngFor="let opt of asrCapacityLst"> {{opt.name}}
            </select>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-2">
            <select class="form-control" id="profile" [(ngModel)]="this.asrFilter.profile" #profile="ngModel"
              (change)="getAssessorData()" name="profile">
              <option value="null">Select Profile</option>
              <option [ngValue]=true>Submitted </option>
              <option [ngValue]=false>Pending</option>
            </select>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-xs-12 col-md-6 col-xl-10" style="padding-left: 0;">
          </div>
          <div class="col-xs-12 col-md-2 col-xl-2" style="padding-left: 0;">

            <span *ngIf="this.currUsrRoleId == 1 || this.currUsrRoleId == 2">
              <button class="btn btn-primary float-right btn-rounded waves-effect" (click)="exportData()"><i
                  class="bx bx-file mr-1"></i>Export Data</button>
            </span>

            <button class="btn btn-danger float-right btn-rounded waves-effect" style="margin-right: 5px;"
              (click)="searchReset()"><i class="bx bx-reset"></i>Reset</button>
            <!-- <button class="btn btn-danger" (click)="searchReset()"><i class="bx bx-reset"></i>Reset </button> &nbsp;
      <button class="btn btn-primary"><i class="bx bxs-file-doc"></i>Export </button> -->
          </div>
        </div>




        <div class="table-responsive mt-3">
          <table class="table table-centered table-bordered hospitalTrackGrid">
            <thead class="thead-light">
              <tr>

                <th class="text-center" style="width: 5%;">#</th>
                <th>Name</th>
                <th class="text-center">State</th>
                <th class="text-center">City</th>
                <th class="text-center">Email</th>
                <!-- <th class="text-center">Contact Number</th> -->
                <th class="text-center">Mobile Number</th>
                <th class="text-center">Capacity</th>
                <!-- <th class="text-center">Experience</th> -->
                <th class="text-center">Profile</th>
                <th class="text-center">View</th>

              </tr>
            </thead>
            <tbody>

              <!-- <tr *ngFor="let data of userSearchResponse.rows"> -->
              <tr
                *ngFor="let data of asrSearchResponse.rows |paginate: { itemsPerPage: this.asrFilter.limit, currentPage: asrSearchResponse.current, totalItems: asrSearchResponse.total };let i=index">


                <td class="text-center" style="width: 5%;">{{i + this.skip + 1}}</td>
                <td>{{data.asrname}}</td>
                <td class="text-center">{{data.statename}}</td>
                <td class="text-center">{{data.city}}</td>
                <td class="text-center">{{data.email}}</td>
                <td class="text-center">{{data.mobileno1}}</td>
                <td class="text-center">{{data.capacityname}}</td>
                <!-- <td class="text-center">{{data.totalworkexp}}</td> -->
                <td class="text-center">
                  <span *ngIf="data.is_profile_submitted==true" rel="tooltip" class="badge badge-success"
                    type="button">Submitted</span>
                  <span *ngIf="data.is_profile_submitted==false" rel="tooltip" class="badge badge-warning"
                    type="button">Pending</span>
                </td>

                <td class="text-center">
                  <button *ngIf="data.is_profile_submitted==true" type="button" class="button-icon"> <i
                      style="color: blue; font-weight: bolder; font-size: larger;" class="bx bxs-user"
                      (click)="viewassessor(data)"></i>
                  </button>

                </td>

              </tr>
            </tbody>
          </table>

          <div>
            <span>Showing {{minCount}} to {{maxCount}} of {{totalCount}} entries
            </span>
          </div>

          <tfoot style="float: right;">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </tfoot>

        </div>


        <!-- end table -->

      </div>


    </div>
  </div>
</div>
<ng-template #assessorModel let-modal>
  <div class="modal-header">
    <h4 class="mb-0 font-size-16 ml-3">Assessor Profile</h4>

    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">


          <ul ngbNav #customNav="ngbNav" class="nav-tabs nav-tabs-custom" [destroyOnHide]="false" role="tablist">
            <li [ngbNavItem]="1">
              <a ngbNavLink class="border-left-0">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block" style="font-size: 13px">
                  General Information
                  
                </span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="gernrl_informatn"></ng-template>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink class="border-left-0">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block" style="font-size: 13px">
                  Qualification
                  
                </span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="qualifctn"></ng-template>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink class="border-left-0">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block" style="font-size: 13px">
                  Location
            
                </span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="location"></ng-template>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink class="border-left-0">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block" style="font-size: 13px">
                  Bank Details
            
                </span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="bank_detals"></ng-template>
              </ng-template>
            </li>
          </ul>
          <div class="p-3" [ngbNavOutlet]="customNav"></div>


        </div>
      </div>

    </div>
  </div>
  <ng-template #gernrl_informatn>
    <form #generalInfoForm="ngForm">
      <div class="row">
        <div class="col-md-2">
          <img class=" rounded-circle" [src]="imageurl" height="150" width="150"/>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-4">
              <label>Name</label>
              <input type="text" class="form-control" id="asrname" #asrname="ngModel" disabled name="asrname" [(ngModel)]="asrData.asrname">
            </div>
            <div class="col-md-4">
              <label>Email ID</label>
              <input type="text" class="form-control" id="email" #email="ngModel" disabled name="email" [(ngModel)]="asrData.email">
            </div>  
            <div class="col-md-4">
              <label>Mobile Number</label>
              <input type="text" class="form-control" id="mobileno1" #mobileno1="ngModel" disabled name="mobileno1" [(ngModel)]="asrData.mobileno1">
            </div>
            <div class="col-md-4 mt-3">
              <label>Alternate Mobile Number</label>
              <input type="text" class="form-control" id="mobileno2" #mobileno2="ngModel" disabled name="mobileno2" [(ngModel)]="asrData.mobileno2">
            </div>
            <div class="col-md-4 mt-3">
              <label>Date of Birth</label>
              <div class="input-group clockpicker">
                <input ngbDatepicker class="form-control" autoClose="false" readonly placeholder="DD/MM/YYYY"  [minDate]="{year: 1950, month:1, day: 1}"
                  #date="ngbDatepicker" id="dob_struct" name="dob_struct" [(ngModel)]="asrData.dob_struct">
                <div class="input-group-append" (click)="date.toggle()">
                  <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                </div>
              </div> 
            </div>
            <div class="col-md-4 mt-3">
              <label>Aadhaar Number</label>
              <input type="text" class="form-control" id="aadharnumber" #aadharnumber="ngModel" disabled name="aadharnumber" [(ngModel)]="asrData.aadharnumber">
            </div>          
          </div>
        </div>
         
      </div>
    </form>
  </ng-template>
  <ng-template #qualifctn>
    <div class="row">

      <div class="col-xs-12 col-md-4 col-xl-12">
        <div class="form-group  mb-3">

          <label for="example-text-input">Specialities</label>

          <div class="custom-control custom-checkbox mb-1">
            <div class="form-check mb-1" style="display: inline; padding-right: 1.2em"
              *ngFor="let dd of specialitiesids;let i=index">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="dd.isselected" disabled
                #spcl="ngModel" name="spcl" name="dd{{i}}" id="dd{{i}}">
              <label class="custom-control-label" for="dd{{i}}"> {{ dd.name }}</label>
            </div>

          </div>


        </div>
      </div>



    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-xl-12">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-xl-6">
            <div class="form-group  mb-3">
              <label for="example-text-input"> Qualification</label>
              
              <input class="form-control" type="text" id="qualificationid" disabled name="qualificationid"
              #qualificationid="ngModel" [(ngModel)]="asrData.qualificationid">
              

      

            </div>
          </div>


          <div class="col-xs-12 col-md-8 col-xl-6">
            <div class="form-group  mb-3" *ngIf="this.asrData.qualificationid == 51">
              <label for="example-text-input">Other</label>
              

              <input class="form-control" type="text" id="otherqualification"
                #otherqualification="ngModel" disabled
                name="otherqualification"  [(ngModel)]="asrData.otherqualification">

            </div>


          </div>

        </div>



        <div class="row">

          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">Experience</label>
              

              <input class="form-control" type="number" id="totalworkexp" #totalworkexp="ngModel"
                 name="totalworkexp" [(ngModel)]="asrData.totalworkexp" disabled>

            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">Current Organisation</label>
              

              <input class="form-control" type="text" name="currentorg" #currentorg="ngModel"
                [(ngModel)]="asrData.currentorg" disabled
                id="currentorg">
            </div>
          </div>

          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">Designation</label>
              

              <input class="form-control" type="text" id="designation" #designation="ngModel"
                name="designation" [(ngModel)]="asrData.designation" disabled
                >
              
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-xl-12">
            <div class="form-group  mb-3">
              <label for="example-text-input">Organisation address</label>
              

              <textarea id="orgaddress" name="orgaddress" class="form-control"
                 rows="3" style="width:100%;" disabled
                [(ngModel)]="asrData.orgaddress" #orgaddress="ngModel"></textarea>
            </div>
          </div>
        </div>

      </div>

    </div>
  </ng-template>
  <ng-template #location>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-xl-12">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input"> State</label>
              
              
              <input class="form-control" type="text" id="stateid" disabled name="stateid" [(ngModel)]="asrData.stateid"
                #stateid="ngModel">

            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input"> City</label>
              
              

              <input class="form-control" type="text" id="city" disabled name="city"
                #city="ngModel" [(ngModel)]="asrData.city">
             
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">Pin code</label>
              

              <input class="form-control" type="text" id="pin" #pin="ngModel" name="pin"
                [(ngModel)]="asrData.pin" disabled
                >

             

            </div>
          </div>



        </div>

        <div class="row">
          <div class="col-xs-12 col-md-8 col-xl-12">
            <div class="form-group  mb-3">
              <label for="example-text-input"> Residential Address</label>
              <textarea id="residentialaddress" name="residentialaddress" class="form-control"
                 rows="3" style="width:100%;" disabled
                [(ngModel)]="asrData.residentialaddress" #residentialaddress="ngModel"
                ></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ng-template>
  <ng-template #bank_detals>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-xl-12">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">Bank Name</label>
              

              <input class="form-control" type="text" id="bankname" name="bankname" 
                [(ngModel)]="asrData.bankname" #bankname="ngModel" disabled>
              
            </div>
          </div>

          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">Bank Branch Name</label>
        

              <input class="form-control" type="text" id="bankbranchname"
                 name="bankbranchname" #bankbranchname="ngModel" disabled
                [(ngModel)]="asrData.bankbranchname">
              
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">Bank Account Number</label>
              

              <input class="form-control" type="number" id="bankaccountnumber"
                #bankaccountnumber="ngModel" name="bankaccountnumber" disabled
                [(ngModel)]="this.asrData.bankaccountnumber">
              
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">Name of Account Holder</label>
              <small class="pl-1">as given at bank</small>
              

              <input class="form-control" type="text" id="accountholdername" #accountholdername="ngModel"
                name="accountholdername" disabled [(ngModel)]="asrData.accountholdername"
                >
              
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">IFSC Code</label>
              

              <input class="form-control" type="text" name="ifsc_code" #ifsc_code="ngModel"
                [(ngModel)]="this.asrData.ifsc_code" disabled
                id="ifsc_code">
              
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-xl-4">
            <div class="form-group  mb-3">
              <label for="example-text-input">PAN Number</label>
              

              <input class="form-control" type="text" id="pannumber" #pannumber="ngModel"
                 disabled name="pannumber"
                [(ngModel)]="asrData.pannumber">

              

            </div>
          </div>

        </div>


      </div>

    </div>
  </ng-template>
</ng-template>