.color-eye {
    color: #f86c6b;
    font-size: 16px;
    margin-left: 7px;
  }
  
  .after-color-eye {
    color: #0c9c07;
    font-size: 16px;
    margin-left: 7px;
  }
  
  .color-upload {
    color: #336478;
    font-size: 16px;
  }
  .label-bold
  {
    font-weight: bold;
  }
  
.custom-invalid{
  border-color: #f46a6a;
  box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.25);
}
.form-seprator {
  margin-bottom: 10px;
  margin-top: 10px;

}

.color-eye {
  color: #f86c6b;
  font-size: 16px;
  margin-left: 7px;
}

.after-color-eye {
  color: #0c9c07;
  font-size: 16px;
  margin-left: 7px;
}

.color-upload {
  color: #336478;
  font-size: 16px;
}

.databox {
  border-top: 1px solid #c2c2c2;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.labelnote {
  color: blue;
  margin-left: 0px;
  margin-top: 2px;
  font-size: 11px;
  font-style: italic;
}

.labelhighlight {
  color: red;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-title-style {
  padding: 24px 15px 24px;
}


/*----------------------------------
              nav-tabs-custom
-------------------------------------*/
// .with-border-grey {
//   border: 1px solid rgba(183, 183, 183, 0.51);
//   border-top: 0;
// }

.nav-tabs-custom li a {
  padding: 8px 10px;
  font-size: 12px;
}

.nav-tabs-custom .nav-item .nav-link.active {
  color: #009688;
  font-weight: 600;
}

.nav-tabs-custom .nav-item .nav-link::after {
  content: "";
  background: #009688;
}


// .nav-tabs-custom .nav-item .nav-link.active {
//   color: #fff;
// }
::ng-deep .btn-link {
  font-weight: 400;
  color: #343a40;
  text-decoration: none;
  font-weight: 600;
}

::ng-deep .btn-link:hover {
  color: #343a40;
  text-decoration: none !important;
  font-weight: 600;
}

// ::ng-deep .card {
//   border-radius: 0;
// }
// ::ng-deep .card-header {
//   padding: 4px 8px !important;
//   margin-bottom: 4px !important;
//   background-color: #f6f6f6 !important;
// }
::ng-deep .accordion>.card:not(:last-of-type) {
  border-bottom: 1px solid #f6f6f6;
}

::ng-deep .card {
  margin-bottom: 4px !important;
  border: 1px solid #f6f6f6;
  box-shadow: none !important;
}

::ng-deep .card {
  margin-bottom: 20px;
}

::ng-deep .infectedControl .card {
  border: none;
}

::ng-deep .infectedControl .card-header {
  background: #fff;
  margin-top: -20px;
  padding: 0;
}

.form-group label {
  font-weight: 600;
}

.custom-control-label {
  font-weight: normal !important;
  color: #495057 !important;
}

.mouse-pointer {
  cursor: pointer;
}

/*---Table------*/
.customTable {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
  border: 1px solid #cacfe7;

}

.customTable>thead>tr>th {
  background: #009688;
  color: #fff;
  font-weight: 500;
  border: 1px solid #bbd2d0;
  border-bottom: 1px solid #cacfe7;
}

.customTable>thead>tr>th {
  padding: 0.3rem;
}

.customTable>tbody>tr>td {
  padding: 0.3rem !important;
  border: 1px solid #cacfe7;
}

.table-titleM {
  position: relative;
  top: 10px
}

/*-----------------------------------
       For Question style -- start
-------------------------------------*/

.quest-count {
  position: absolute;
}

.question-desc {
  margin-left: 20px;
}

.question-child {
  margin-left: 30px;
}

.question-child .question-desc {
  margin-left: 25px;
}

.tbltext {
  font-weight: bold;
  margin-bottom: 8px;
}

.table th,
.table td {
  padding: 6px 6px !important;
  vertical-align: baseline;
}

.color-upload {
  margin-top: 10px;
}

.customTable .form-control {
  height: 32px;
}

.blueIcon {
  color: #50a5f1;
}

.redIcon {
  color: #f46a6a;
}

.pull-right {
  float: right;
  margin-left: 10px;
}

/*-----------------------------------
     For Question style -- End
-------------------------------------*/

/*-------------------------------
          ngb-accordion
----------------------------------*/
.range-accordion .btn-link {
  width: 100%;
  text-decoration-line: none;
}

.range-accordion .btn-link {
  width: 100%;
}

.accordionToggleIcon {
  font-size: 20px;
  position: absolute;
  right: 8px;
  top: 4px;
}

/*-----------Scope of Services-------------*/
.scopeOfServices-accordion {
  width: 100%;
  text-decoration-line: none;
}

.scopeOfServices-accordion .btn-link {
  width: 100%;
}

/*-----------Scope of Services-------------*/


// .IconRight a i,
// fieldset a i{
//   color: #556ee6 !important;
//   font-size: 16px;
// }
.bx-upload {
  color: #556ee6 !important;
  font-size: 16px;
}

.bx-file {
  color: #34c38f !important;
  font-size: 16px;
}

.OthersIcon a i {
  margin-top: 20px;
}

select:disabled {
  background: #f2f2f2;
}

input[type="text"]:disabled {
  background: #f2f2f2;
}

input[type="radio"]:disabled {
  background: #f2f2f2;
}

input[type="checkbox"]:disabled {
  background: #f2f2f2;
}

.addServices {
  margin-bottom: 0;
  text-align: center;
  min-height: 28px;
  font-weight: 600;
  padding: 4px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.ncStatusleftPadding {
  margin-left: 20px;
}

.custom-inner-title-grey {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  font-size: 13px;
  color: #009688;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.2em;
}

.nc_log_grid {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}

.nc_log_grid>thead>tr>th {
  background-color: #f8f9fa;
  border: none !important;
}

.nc_log_grid>tbody>tr>td {
  border: none !important;
}


