words
<form #dicisionForm="ngForm">
  <ng-template #ccModel let-modal>
    <div class="modal-header">
      <h4 class="mb-0 font-size-16 ml-3">Committee Descisiom</h4>

      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">

              <ul ngbNav #customNav="ngbNav" class="nav-tabs nav-tabs-custom" [destroyOnHide]="false" role="tablist">
                <li [ngbNavItem]="1">
                  <a ngbNavLink class="border-left-0">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block" style="font-size: 13px">
                      Organisation
                    </span>
                  </a>
                  <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="dddd"></ng-template>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink class="border-left-0">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block" style="font-size: 13px">
                      Desktop Assessor
                    </span>
                  </a>
                  <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="aaa"></ng-template>
                  </ng-template>
                </li>
                <li [ngbNavItem]="3">
                  <a ngbNavLink class="border-left-0">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block" style="font-size: 13px">
                      On-site Assessor
                    </span>
                  </a>
                  <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="aaa"></ng-template>
                  </ng-template>
                </li>

              </ul>
              <div class="p-3" [ngbNavOutlet]="customNav"></div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <ng-template #dddd>
      <div class="media">
        <div class="mr-3"><b>Decision</b></div>
        <div class="media-body">
          <div class="row">
            <div class="custom-control custom-checkbox" style="display: inline;">
              <input class="custom-control-input" type="checkbox" id="recommended" name="recommended"
                [(ngModel)]="recommended">
              <label class="custom-control-label" for="recommended">Recommended</label>

              <input class="custom-control-input" type="checkbox" id="not_recommended" name="not_recommended"
                [(ngModel)]="non_recommended">
              <label class="custom-control-label" for="not_recommended">Not Recommended</label>

              <input class="custom-control-input" type="checkbox" id="pending" name="pending"
                [(ngModel)]="pending_recommended">
              <label class="custom-control-label" for="pending">Pending</label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="" style="margin-top: 10px;">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Recommendation Remarks</label>
            </div>
          </div>
        </div>
      </div>


    </ng-template>
    <ng-template #aaa>
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="form-group">
            <label>Desktop Assessor Advisory</label>
            <textarea rows="3" id="destop_arressr" name="destop_arressr"></textarea>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #aaa>
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="form-group">
            <label>Desktop Assessor Advisory</label>
            <textarea rows="3" id="destop_arressr" name="destop_arressr"></textarea>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- <ng-template #aaa>
      <div class="row mt-2 mb-2">
        <div class="col-md-4">
          <h4 class="font-size-14"><strong>Assessor Name:</strong>
            <span> Dr Bruce Banner</span>
          </h4>
        </div>

        <div class="col-md-8">
          <h4 class="font-size-14 float-right pr-5"><strong>Assessment Date:</strong>
            <span> 12-Mar-2021</span>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 table-responsive">
          <table id="basic-datatable"
            class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline grid-ayush">
            <tr style="font-weight: 800;">
              <td>#</td>
              <td>Parameter</td>
              <td class="text-center">Rating</td>
              <td class="text-center">Comments</td>
            </tr>
            <tr style="font-weight: 800;">
              <td>1.</td>
              <td colspan="3">Knowledge of HCO practice and NABH requirements</td>
            </tr>
            <tr>
              <td>a</td>
              <td style="width: 40%;">Has in depth knowledge of standards and objective elements (OEs)</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="elements">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="elements">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="elements">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="elements">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="elements">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>b</td>
              <td>Competent in required assessment skills</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="assessment">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="assessment">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="assessment">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="assessment">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="assessment">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>c</td>
              <td>Exhibits ability to learn and apply new skills</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="skills">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="skills">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="skills">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="skills">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="skills">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>d</td>
              <td>Keeps abreast of current developments</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="developments">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="developments">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="developments">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="developments">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="developments">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr style="font-weight: 800;">
              <td>2.</td>
              <td colspan="3">Assessment Skills</td>
            </tr>
            <tr>
              <td>a</td>
              <td>Interpret and apply appropriate objective elements</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Interpret">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Interpret">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Interpret">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Interpret">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Interpret">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>b</td>
              <td>Is flexible and open to accept HCO method of implementation of standards within resources and
                infrastructure constraints, as long as the intent is met.</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="infrastructure">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="infrastructure">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="infrastructure">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="infrastructure">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="infrastructure">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>c</td>
              <td>Gathers and analyses information skilfully without any bias and pre-conceived notions</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pre-conceived">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pre-conceived">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pre-conceived">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pre-conceived">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pre-conceived">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>d</td>
              <td>Adhere to ethical principles</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="principles">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="principles">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="principles">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="principles">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="principles">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr style="font-weight: 800;">
              <td>3.</td>
              <td colspan="3">Adaptability</td>
            </tr>
            <tr>
              <td>a</td>
              <td>Adapts to change during assessment</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="during_assessment">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="during_assessment">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="during_assessment">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="during_assessment">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="during_assessment">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>b</td>
              <td>Manages conflicting demands during the assessment within time frame</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="frame">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="frame">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="frame">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="frame">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="frame">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>c</td>
              <td>Accepts instruction and/or constructive feedback</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="constructive_feedback">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="constructive_feedback">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="constructive_feedback">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="constructive_feedback">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="constructive_feedback">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>d</td>
              <td>Changes approach or method to best fit the situation</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="situation">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="situation">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="situation">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="situation">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="situation">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr style="font-weight: 800;">
              <td>4.</td>
              <td colspan="3">Time Management</td>
            </tr>
            <tr>
              <td>a</td>
              <td>arrives at HCO and meetings/discussion on time</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="on_time">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="on_time">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="on_time">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="on_time">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="on_time">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>b</td>
              <td>Begins working on time and uses time effectively</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="effectively">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="effectively">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="effectively">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="effectively">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="effectively">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>c</td>
              <td>Reviews documents and prepares points for observations</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>d</td>
              <td>Communicates any delay</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="delay">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="delay">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="delay">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="delay">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="delay">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr style="font-weight: 800;">
              <td>5.</td>
              <td colspan="3">Communication and information collection skills</td>
            </tr>
            <tr>
              <td>a</td>
              <td>Expresses findings and observations well verbally</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="verbally">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="verbally">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="verbally">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="verbally">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="verbally">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>b</td>
              <td>Expresses findings and observations well in written form</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations_well">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations_well">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations_well">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations_well">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="observations_well">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>c</td>
              <td>Exhibits good listening and
                comprehension skills</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="comprehension_skills">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="comprehension_skills">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="comprehension_skills">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="comprehension_skills">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="comprehension_skills">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>d</td>
              <td>Proficient in computer skills</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="computer_skills">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="computer_skills">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="computer_skills">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="computer_skills">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="computer_skills">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>e</td>
              <td>The NCs/ Observations are clearly documented and HCO is able to use these for CAPA</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Observations_clearly">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Observations_clearly">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Observations_clearly">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Observations_clearly">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="Observations_clearly">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>

            <tr style="font-weight: 800;">
              <td>6.</td>
              <td colspan="3">Team Player and inter-personal management skills</td>
            </tr>
            <tr>
              <td>a</td>
              <td>works cooperatively in group discussions</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="group_discussions">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="group_discussions">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="group_discussions">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="group_discussions">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="group_discussions">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>b</td>
              <td>Exhibits diplomacy and consideration</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="consideration">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="consideration">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="consideration">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="consideration">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="consideration">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>c</td>
              <td>Displays positive outlook and pleasant manner</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pleasant_manner">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pleasant_manner">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pleasant_manner">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pleasant_manner">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="pleasant_manner">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>d</td>
              <td>Offers assistance and support to co-assessors and to develop trainee assessors</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="trainee_assessors">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="trainee_assessors">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="trainee_assessors">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="trainee_assessors">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="trainee_assessors">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>e</td>
              <td>Works actively to prevent and if necessary resolve conflicts</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="resolve_conflicts">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="resolve_conflicts">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="resolve_conflicts">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="resolve_conflicts">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="resolve_conflicts">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr style="font-weight: 800;">
              <td>7.</td>
              <td colspan="3">Planning and organization capability</td>
            </tr>
            <tr>
              <td>a</td>
              <td>Prioritize and plans work activities</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="work_activities">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="work_activities">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="work_activities">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="work_activities">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="work_activities">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>b</td>
              <td>Plans for additional resources</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="additional_resources">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="additional_resources">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="additional_resources">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="additional_resources">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="additional_resources">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr>
              <td>c</td>
              <td>Works in an organized manner</td>
              <td class="text-center pl-2">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="organized_manner">

                  <label class="form-check-label">Poor</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="organized_manner">

                  <label class="form-check-label">Fair</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="organized_manner">

                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="organized_manner">

                  <label class="form-check-label">Very Good</label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="organized_manner">

                  <label class="form-check-label">Excellent</label>
                </div>
              </td>
              <td class="text-center">


                <textarea class="form-control" rows="2" id="comment"></textarea>

              </td>
            </tr>
            <tr style="font-weight: 800;">
              <td>8.</td>
              <td colspan="3">Any other significant observation</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="3">
                <input type="text" class="form-control">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </ng-template>  -->
  </ng-template>
</form>