.button-icon
{
    background: transparent;
    border: none;
}

.dateControlL{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dateControlR{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;

}

.hospitalTrackGrid{
    width: 100%;
}

.hospitalTrackGrid > thead > tr > th{
    vertical-align: bottom;
    border: 1px solid #e2e2e2;
    background: #f8f9fa;
    padding: 8px 12px;
    font-size: 13px;
}

.hospitalTrackGrid > tbody > tr > td{
    padding: 6px 12px;
    font-size: 13px;
    border: 1px solid #e2e2e2;
}
// .hospitalTrackGrid tbody tr:nth-of-type(odd) {
//     background-color: #f2f2f2;
// }