.logo-nabh{
    float: left;
}
.logo-nabh img{
    height: 35px;
    float: left;
    margin-top: 4px;
}
.title-nabh{
    font-size: 17px;
    color: #ffff;
    float: left;
    position: relative;
    top: 12px;
    left: 12px;
    font-weight: normal;
}
.header-profile-user {
    background-color: rgba(255, 255, 255, 0.25) !important;
}
#page-topbar {
    background-color: #009688 !important;
}
.header-profile-user {
    height: 36px;
    width: 36px;
    padding: 1px;
    border: 2px solid #a4d2c9;
}
.text-red{
    color: #db3700 !important;
}


