    .footer {
        bottom: 0;
        padding: 20px calc(24px / 2);
        position: absolute;
        right: 0;
        color: #74788d;
        left: 250px;
        height: 60px;
        background-color: #f2f2f5;
    }
.text-white{
    color: #74788d !important;
}