.right-margin {
    margin-right: 9px;
  }
  
  .box-icon {
    font-size: 20px;
  }
  .addServices{
    margin-bottom: 0;
    text-align: center;
    min-height: 28px;
    font-weight: 600;
    padding: 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .table-text
{
    text-align: center
}