<div class="register_container">
  <header id="page-topbar">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->


        <div class="navbar-brand-box" style="width: auto;">



          <a href="https://www.nabh.co/" target="_blank">

            <span class="logo-lg logo-nabh">
              <img src="assets/images/ayush-img/nabh_logo_top.png" />
            </span>

            <h3 class="title-nabh" style="font-weight: 400;font: Poppins,sans-serif;">ReEnergy Pass Application
            </h3>
          </a>
        </div>

        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" (click)="toggleMenubar()">
          <i class="fa fa-fw fa-bars"></i>
        </button>


      </div>

      <div class="d-flex">



        <div class="dropdown d-inline-block" ngbDropdown>


          <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle
            style="background-color:  #009688 !important;">
            <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.png" alt="Header Avatar">
            <span class="d-none d-xl-inline-block ml-1"
              style="font-size: 14px; color: #fff; position: relative; top:2px">{{username}}</span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"
              style="position: relative; top: 4px; margin-left: 3px;"></i>
          </button>
          <!-- <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle>
            <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.png" alt="Header Avatar">
            <span class="d-none d-xl-inline-block ml-1"
              style="font-size: 14px; color: #fff; position: relative; top:2px">{{username}}</span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block" style="position: relative; top: 4px; margin-left: 3px;"></i>
          </button> -->
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>

            <!-- <a class="dropdown-item" routerLink="/password-change" routerLinkActive="active" ><i class="bx bx-user font-size-16 align-middle mr-1"></i>
              Change Password</a>
           
            <div class="dropdown-divider"></div> -->
            <a class="dropdown-item text-red" href="javascript: void(0);" (click)="logout()"><i
                class=" bx bx-power-off font-size-16 align-middle mr-1 text-red"></i> Logout</a>
          </div>
        </div>


      </div>
    </div>
  </header>

  <div>

    <!--./logo-qci-->

    <!-- <br> -->
    <div style="margin-top: 85px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 col-lg-5 col-xl-5">
            <div class="card overflow-hidden trans-bg">
              <!-- <div class="bg-soft-primary">
                <div class="row">
                  <div class="app-title-main text-primary p-1">
                    <h5 class="text-primary">Basic Certification Details</h5>
                  </div>
                </div>
              </div> -->
              <div class="card-body pt-0">
                <div class="p-2">

                  <form name="basicCertForm" [formGroup]="basicCertForm" (ngSubmit)="onSubmit()">
                    <div class="row">

                      <!--./col-xl-6-->
                      <!-- <div class="col-xs-12 col-md-6 col-xl-6"> -->

                      <div>
                        <label class="alabelfone"><b>Organisation Type</b></label>
                        <i class="fa fa-info-circle text-primary ml-1" placement="right" container="body"
                          [ngbPopover]="popContent" triggers="mouseenter:mouseleave" #p3="ngbPopover"
                          (mouseover)="toggleWithGreeting(p3, 'Hospital', 'Healthcare Organisation with In-Patient Department (IPD) service')"></i>
                        <!-- <i *ngIf=" f.SelectOrganizationType.value=='Centre'" class=" fa fa-info-circle
                          text-primary ml-1" data-toggle="tooltip" placement="bottom" aria-hidden="true"
                          ngbTooltip="Healthcare Organisation with Out-Patient Department (OPD) service / Day Care Centre"></i>
                        -->
                      </div>
                      <!-- </div> -->
                      <!-- <div class="col-xs-12 col-md-6 col-xl-6" style="padding: 0%;"> -->
                      <select class="form-control" required formControlName="SelectOrganizationType"
                        id="SelectOrganizationType"
                        [ngClass]="{ 'custom-invalid': submitted && f.SelectOrganizationType.errors }">
                        <option value="">Select</option>
                        <option value="Hospital">Hospital</option>
                        <option value="Centre">Centre</option>
                      </select>
                      <div *ngIf="submitted && f.SelectOrganizationType.errors" class="text-danger">
                        <div *ngIf="f.SelectOrganizationType.errors.required">Organisation Type is required</div>
                      </div>

                      <!-- </div> -->
                      <!--./col-xl-6-->



                    </div>
                    <br>
                    <!--yoyo-->

                    <div class="row">

                      <!--./col-xl-6-->
                      <!-- <div class="col-xs-12 col-md-6 col-xl-6"> -->

                      <div>
                        <label class="alabelfone"><b>Sanctioned Beds Category</b></label>
                      </div>
                      <!-- </div> -->
                      <!-- <div class="col-xs-12 col-md-6 col-xl-6" style="padding: 0%;"> -->
                      <select class="form-control" required formControlName="SelectSanctionedBed"
                        id="SelectSanctionedBed"
                        [ngClass]="{ 'custom-invalid': submitted && f.SelectSanctionedBed.errors }">
                        <option [ngValue]="null">Select</option>
                        <option value="Less than or equal to 50">Less than or equal to 50</option>
                        <option value="51 and above">51 and above</option>
                      </select>
                      <div *ngIf="submitted && f.SelectSanctionedBed.errors" class="text-danger">
                        <div *ngIf="f.SelectSanctionedBed.errors.required">Sanctioned Beds Category is required</div>
                      </div>
                    </div>
                    <br>
                    <div class="row">

                      <!--./col-xl-6-->
                      <!-- <div class="col-xs-12 col-md-6 col-xl-6"> -->

                      <div>
                        <label class="alabelfone"><b>Number of Sanctioned Beds</b></label>
                        <small class="pl-1">as registered with regulatory agencies </small>
                      </div>
                      <!-- </div> -->
                      <!-- <div class="col-xs-12 col-md-6 col-xl-6" style="padding: 0%;"> -->
                      <input (keypress)="onlyNumberKey($event)" maxlength="5" type="text" class="form-control" required
                        formControlName="SanctionedBedno" id="SanctionedBedno"
                        [ngClass]="{ 'custom-invalid': submitted && f.SanctionedBedno.errors }">

                      <div *ngIf="submitted && f.SanctionedBedno.errors" class="text-danger">
                        <div *ngIf="f.SanctionedBedno.errors.required">Number of Sanctioned Beds is required</div>
                        <div *ngIf="f.SanctionedBedno.errors.sanctionBedMaxError">Must be Equal or Greater than 51</div>


                      </div>

                      <!-- </div> -->

                    </div>
                    <br>
                    <!---->
                    <div class="row">
                      <!-- <div class="col-xs-12 col-md-6 col-xl-6"> -->
                      <div>
                        <label class="alabelfone"><b>Organisation Specialities</b></label>
                        <small class="pl-1">as per the scope of services provided </small>

                      </div>

                    </div>

                    <!-- <li style="list-style-type:none;"> -->
                    <div class="col-md-12 custom-control custom-checkbox mb-3" formArrayName="organization"
                      *ngFor="let data of getOrganizationFormArray();let i=index">
                      <div [formGroupName]="i">
                        <input type="checkbox" class="custom-control-input" formControlName="isselected" id="{{i+1}}">
                        <label class="custom-control-label" for="{{i+1}}">
                          {{data.controls.text.value}}</label>
                      </div>

                    </div>
                    <div *ngIf=" submitted && f.organization.errors && f.organization.invalid" class="text-danger">
                      <div *ngIf=" f.organization.errors.minOneChecked">
                        Please select atleast one area</div>
                    </div>
                    <!-- <div class="row" style="margin-left: -30px;">
                        <div class="col-md-12 custom-control custom-checkbox mb-1">
                        <div class="form-check mb-1">
                          <input type="checkbox" class="custom-control-input" name="ayushSystems" id="Ayurveda"
                            value="Ayurveda">
                          <label class="custom-control-label" for="Ayurveda">Ayurveda</label>
                        </div>
                        <div class="form-check mb-1">
                          <input type="checkbox" class="custom-control-input" name="ayushSystems" id="Yoga"
                            value="Yoga">
                          <label class="custom-control-label alabelfone" for="Yoga">Yoga</label>
                        </div>
                        <div class="form-check mb-1">
                          <input type="checkbox" class="custom-control-input" name="ayushSystems" id="Naturopathy"
                            value="Naturopathy">
                          <label class="custom-control-label alabelfone" for="Naturopathy">Naturopathy</label>
                        </div>
                        <div class="form-check mb-1">
                          <input type="checkbox" class="custom-control-input" name="ayushSystems" id="Unani"
                            value="Unani">
                          <label class="custom-control-label alabelfone" for="Unani"> Unani</label>
                        </div>
                        <div class="form-check mb-1">
                          <input type="checkbox" class="custom-control-input" name="ayushSystems" id="Siddha"
                            value="Siddha">
                          <label class="custom-control-label alabelfone" for="Siddha"> Siddha</label>
                        </div>
                        <div class="form-check mb-1">
                          <input type="checkbox" class="custom-control-input" name="ayushSystems" id="Homeopathy"
                            value="Homeopathy">
                          <label class="custom-control-label alabelfone" for="Homeopathy"> Homeopathy</label>
                        </div>
                        <div class="form-check mb-1">
                          <input type="checkbox" class="custom-control-input" name="ayushSystems" id="SowaRigpa"
                            value="SowaRigpa">
                          <label class="custom-control-label alabelfone" for="SowaRigpa"> Sowa-Rigpa</label>
                        </div>
                      </div>
                    </div> -->

                    <br>
                    <div class="mt-1">
                      <button class="btn btn-primary btn-block" style="width:105%; margin-left: -10px;"
                        [ladda]="loading">Submit</button>
                    </div>
                  </form>
                  <!-- </form> -->
                </div>
              </div>
            </div>
            <!-- end card -->
            <div class="text-center text-dark">
              © 2021 NABH. All Rights Reserved.

            </div>


          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div>



      <!-- end container -->
    </div>

  </div>

</div>
<ng-template #popContent let-greeting="greeting" let-language="language">
  <p><b>{{greeting}}</b> - {{language}} <br> <br>
    <b>Centre</b> - Healthcare Organisation with Out-Patient Department (OPD) service / Day Care Centre only </p>
</ng-template>
