.color-eye {
    color: #f86c6b;
    font-size: 16px;
    margin-left: 7px;
  }
  
  .after-color-eye {
    color: #0c9c07;
    font-size: 16px;
    margin-left: 7px;
  }
  
  .color-upload {
    color: #336478;
    font-size: 16px;
  }
  .label-bold
  {
    font-weight: bold;
  }
  
.custom-invalid{
  border-color: #f46a6a;
  box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.25);
}
