<!-- rrc -->
<form #form ngNoForm id="nonseamless" method="post" name="redirect" *ngIf="PaymentFor == 'live' "
  action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
  <input type="hidden" id="encRequest" name="encRequest" value="{{encRequest}}">
  <input type="hidden" name="access_code" id="access_code" value="{{accessCode}}">
</form>
<!--target="_blank"-->
<form #form ngNoForm id="nonseamless" method="post" name="redirect" *ngIf="PaymentFor == 'test' "
  action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
  <input type="hidden" id="encRequest" name="encRequest" value="{{encRequest}}">
  <input type="hidden" name="access_code" id="access_code" value="{{accessCode}}">
</form>

<form #form ngNoForm id="nonseamless" method="post" name="redirect" *ngIf="PaymentFor == 'local' "
  action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
  <input type="hidden" id="encRequest" name="encRequest" value="{{encRequest}}">
  <input type="hidden" name="access_code" id="access_code" value="{{accessCode}}">
</form>
<!-- rrc -->

<div class="">
  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-11 col-xl-11">


      <div class="alert alert-success  fade show"><i class="bx bx-info-circle" style="margin-right: 8px;"></i>The
        application form has been submitted successfully.Kindly enter the details and pay the certification fees.</div>

      <div class="card overflow-hidden mb-3">


        <div class="card-body pt-0">

          <div class="row">
            <div class="col-md-4">
              <label class="mt-2"> <strong> Payment</strong> </label>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1">
              <span>
                <i class="fa fa-spinner fa-spin fa-2x mt-2" style="color:green" [hidden]="hidden_spinner"></i>
              </span>
            </div>
          </div>

          <!-- <label class="mt-2"> <strong> Payment</strong> </label> -->

          <form #PaymentForm="ngForm" class="form-horizontal">

            <label class="label-bold  mt-2" style="color: #009688;"><strong>BILLING INFORMATION</strong></label>
            <hr class="form-seprator" style="margin-top: 2px;" />

            <div class="row">

              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-4 col-xl-4">

                <label class="label-bold" for="name">Organisation Name: </label>
                <span style="color: gray;"> {{payment_details.billing_info.org_name}}</span>




              </div>
              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-4 col-xl-4">


                <label class="label-bold" for="Country">Country:</label>
                <span style="color: gray;"> {{payment_details.billing_info.country}}</span>

              </div>
              <div class="col-xs-12 col-md-4 col-xl-4">
                <label class="label-bold" for="Country">State: </label>
                <span style="color: gray;"> {{payment_details.billing_info.state}}</span>

              </div>



            </div>

            <div class="row">

              <div class="col-xs-12 col-md-4 col-xl-4">
                <label class="label-bold" for="district">District: </label>
                <span style="color: gray;"> {{payment_details.billing_info.district}}</span>
              </div>


              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-4 col-xl-4">


                <label class="label-bold" for="email">Email: </label>
                <span style="color: gray;"> {{payment_details.billing_info.email}}</span>




              </div>
              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-4 col-xl-4">


                <label class="label-bold" for="Mobile">Mobile Number: </label>
                <span style="color: gray;"> {{payment_details.billing_info.mobileno}}</span>



              </div>

            </div>

            <div class="row">

              <div class="col-xs-12 col-md-4 col-xl-4">

                <label class="label-bold" for="pincode">Pincode: </label>
                <span style="color: gray;"> {{payment_details.billing_info.pincode}}</span>

              </div>

              <div class="col-xs-12 col-md-4 col-xl-4">
                <label class="label-bold" for="address">Address: </label>

                <span style="color: gray;"> {{payment_details.billing_info.address}}</span>


              </div>




            </div>

            <div class="row">


              <div class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="Mobile">PAN</label>
                  <i class="text text-danger">*</i>

                  <input required pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}" type="text" class="form-control input_text"
                    [(ngModel)]="payment_details.billing_info.pan" name="panno" #panno="ngModel"
                    [ngClass]="{ 'custom-invalid': (panno.dirty || panno.touched) && panno.errors }" />
                  <div *ngIf="panno.errors && (panno.dirty || panno.touched)" class="text-danger">


                    <div [hidden]="!panno.errors.pattern">
                      Invalid PAN No.
                    </div>
                    <div [hidden]="!panno.errors.required">
                      Required
                    </div>

                  </div>


                </div>

              </div>
              <div class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="pincode">TAN</label>
                  <i class="text text-danger" *ngIf="payment_details.payment_summary.tds_amount==true">*</i>
                  <input type="text" pattern="[A-Za-z]{4}[0-9]{5}[A-Za-z]{1}" class="form-control input_text"
                    [(ngModel)]="payment_details.billing_info.tan" name="tanno" #tanno="ngModel"
                    [ngClass]="{ 'custom-invalid': (tanno.dirty || tanno.touched) && tanno.errors }" />
                  <div *ngIf="tanno.errors && (tanno.dirty || tanno.touched)" class="text-danger">


                    <div [hidden]="!tanno.errors.pattern">
                      Invalid TAN No.
                    </div>


                  </div>
                </div>

                <!-- <div class="form-group mb-2" *ngIf="this.payment_details.payment_summary.tds_amount == true">
                  <label class="label-bold" for="pincode">TAN</label>

                  <input type="text" pattern="[A-Za-z]{4}[0-9]{5}[A-Za-z]{1}" class="form-control input_text"
                    [(ngModel)]="payment_details.billing_info.tan" name="tanno" #tanno="ngModel"
                    [ngClass]="{ 'custom-invalid': (tanno.dirty || tanno.touched) && tanno.errors }" />
                  <div *ngIf="tanno.errors && (tanno.dirty || tanno.touched)" class="text-danger">


                    <div [hidden]="!tanno.errors.pattern">
                      Invalid TAN No.
                    </div>

                    <div [hidden]="!tanno.errors.required">
                      Required
                    </div>
                  </div>
                </div> -->
              </div>

              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="tradename">Trade Name</label>
                  <small> as displayed on GSTIN/PAN/TAN</small>

                  <input type="text" class="form-control input_text"
                    [(ngModel)]="payment_details.billing_info.tradename" name="tradename" #tradename="ngModel" />

                </div>

              </div>
              <!--./col-xl-6-->

            </div>

            <div class="row">


              <div class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstin">GSTIN</label>
                  <i class="text text-danger">*</i>

                  <select required class="form-control" [(ngModel)]="payment_details.billing_info.gstin" name="gstin"
                    #gstin="ngModel" [ngClass]="{ 'custom-invalid': (gstin.dirty || gstin.touched) && gstin.errors }">
                    <option [ngValue]="null">--Select--</option>
                    <option value="Registered">Registered</option>
                    <option value="Not Registered">Not Registered</option>
                    <option value="Exempted">Exempted</option>
                  </select>

                  <div *ngIf="gstin.errors && (gstin.dirty || gstin.touched)" class="text-danger">


                    <div [hidden]="!gstin.errors.required">
                      GSTIN is required
                    </div>


                  </div>

                </div>

              </div>
              <div *ngIf="payment_details.billing_info.gstin=='Registered'" class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">GST Number</label>

                  <input type="text" class="form-control input_text" [(ngModel)]="payment_details.billing_info.gstno"
                    name="gstno" #gstno="ngModel" />
                </div>

              </div>


              <div *ngIf="payment_details.billing_info.gstin=='Registered'" class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstcert">GST Certificate</label>

                  <fieldset class="form-control" style="border: none;">
                    <a title="Upload file" class="mr-2 mt-4" (click)="doc1.click()">
                      <i class="bx bx-upload fa-3x color-upload"></i>
                    </a>
                    <input hidden type="file" #doc1
                      (change)="previewImage($event.target.files,payment_details.billing_info,'gstcertficate')" />
                    <a title="View Uploaded file" class="mt-4"
                      (click)="openUploadedDocsModal(uploadViewModel,payment_details.billing_info,'gstcertficate')">
                      <i
                        [ngClass]="(payment_details.billing_info!=null?payment_details.billing_info.gstcertficate:'')|uploadbtnpipe"></i>
                    </a>
                    <input hidden type="text" name="gstcert_url" #gstcert_url="ngModel"
                      [(ngModel)]="payment_details.billing_info.gstcertficate">

                  </fieldset>



                </div>

              </div>
              <!--./col-xl-6-->

            </div>

            <label class="label-bold  mt-2 mb-2" style="color: #009688;"><strong>SHIPPING INFORMATION
                (OPTIONAL)</strong></label>
            <hr class="form-seprator" style="margin-top: 2px;" />
            <div class="row">


              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="nam">Name</label>


                  <input type="text" class="form-control input_text" [(ngModel)]="payment_details.shipping_info.name"
                    name="shpdet_name" #shpdet_name="ngModel">


                </div>

              </div>
              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">Country </label>

                  <input type="text" class="form-control input_text" [(ngModel)]="payment_details.shipping_info.country"
                    name="shpinfo_country" #shpinfo_country="ngModel" />
                </div>

              </div>

              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstcert">State</label>

                  <ng-select [items]="state" bindLabel="statename" (change)="selectState($event)"
                    placeholder="Select State" name="shipinfo_state" #shipinfo_state="ngModel"
                    [(ngModel)]="payment_details.shipping_info.state"></ng-select>

                </div>

              </div>
              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="nam">District</label>


                  <ng-select [items]="district" bindLabel="districtname" (change)="selectDistrict($event)"
                    placeholder="Select District" name="shipinfo_district" #shipinfo_district="ngModel"
                    [(ngModel)]="payment_details.shipping_info.district"></ng-select>


                </div>

              </div>

            </div>

            <div class="row">



              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">Contact Number</label>

                  <input type="text" class="form-control input_text"
                    [(ngModel)]="payment_details.shipping_info.contactno" name="shpinfo_contactno"
                    #shpinfo_contactno="ngModel" />
                </div>

              </div>

              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstcert">Pin code</label>

                  <input type="text" class="form-control input_text" [(ngModel)]="payment_details.shipping_info.pincode"
                    name="pincode" #pincode="ngModel" />

                </div>

              </div>
              <!--./col-xl-6-->
              <div class="col-xs-12 col-md-6 col-xl-6">

                <div class="form-group mb-2">
                  <label class="label-bold" for="address">Address</label>

                  <input type="text" class="form-control input_text" [(ngModel)]="payment_details.shipping_info.address"
                    name="shipinfo_address" #shipinfo_address="ngModel" />

                </div>

              </div>
              <!--./col-xl-6-->

            </div>

            <label class="label-bold" class=" mt-2" style="color: #009688;"><strong>PAYMENT SUMMARY</strong></label>
            <hr class="form-seprator" style="margin-top: 2px;" />

            <div class="row" *ngIf="this.base_amount>=52000">
              <div class="col-xs-12 col-md-6 col-xl-6">
                <label class="label-bold" for="tdsdeduct">Do you want to deduct TDS amount from the certification
                  fees?</label>

              </div>
              <div class="col-md-6 custom-control custom-checkbox mb-1">
                <div class="form-check mb-3">

                  <input type="checkbox" class="custom-control-input"
                    [(ngModel)]="payment_details.payment_summary.tds_amount" (change)="tdsDeductedStatusChange()"
                    name="tdsdeducted" id="tdsdeducted" #tds="ngModel">

                  <label class="custom-control-label" for="tdsdeducted"> Yes</label>
                </div>
              </div>

            </div>


            <!-- <div *ngIf="payment_details.payment_summary.tds_amount==true" class="row">



              <div class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">QCI PAN Number: </label>
                  <span style="color: gray;">{{payment_details.payment_summary.qci_pan}}</span>



                </div>

              </div>

              <div class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">QCI TAN Number: </label>
                  <span style="color: gray;">{{payment_details.payment_summary.qci_tan}}</span>


                </div>

              </div>

              <div class="col-xs-12 col-md-4 col-xl-4">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">QCI GSTIN: </label>
                  <span style="color: gray;">{{payment_details.payment_summary.qci_gstin}}</span>

                </div>

              </div>

            </div> -->
            <div class="row" *ngIf="payment_details.payment_summary.tds_amount==true">
              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">QCI PAN Number: </label>
                  <span style="color: gray; padding-left: 3px;">{{payment_details.payment_summary.qci_pan}}</span>



                </div>

              </div>

              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">QCI TAN Number: </label>
                  <span style="color: gray;padding-left: 3px;">{{payment_details.payment_summary.qci_tan}}</span>


                </div>

              </div>

              <div class="col-xs-12 col-md-3 col-xl-3">

                <div class="form-group mb-2">
                  <label class="label-bold" for="gstnumb">QCI GSTIN: </label>
                  <span style="color: gray;padding-left: 3px;">{{payment_details.payment_summary.qci_gstin}}</span>

                </div>

              </div>
            </div>


          </form>

          <div class="table-responsive">
            <table class="table table-centered table-stripped table-nowrap">
              <thead>
                <tr>
                  <th class="" style="width: 5%;">No.</th>
                  <th>Description</th>
                  <th class="text-right" style="width: 5%;">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 5%;">01</td>
                  <td class="">AYUSH Entry Level Application Fees</td>
                  <td class="text-right" style="width: 5%;">Rs {{base_amount}}</td>
                </tr>
                <tr *ngIf="this.payment_details.payment_summary.tds_amount==true">
                  <td>02</td>
                  <td class="">TDS(7.5%)</td>
                  <td class="text-right">Rs -{{tds_deducted}}</td>
                </tr>

              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-xs-8 col-md-8 col-xl-8">
            </div>
            <div class="col-xs-4 col-md-4 col-xl-4">
              <table style="width: 100%;">
                <tr>
                  <td style="width: 50%" class="text-right"> <label class="label-bold">Sub Total:</label></td>
                  <td style="width: 50% ;padding-right: 10px;" class="text-right"><label>Rs.{{total_amount}}</label>
                  </td>
                </tr>
                <tr *ngIf="this.payment_details.billing_info.state.trim() !='Delhi'">
                  <td style="width: 50%" class="text-right"> <label class="label-bold">IGST(18%):</label></td>
                  <td style="width: 50%;padding-right: 10px;" class="text-right"><label>Rs.{{gst_amount}}</label></td>
                </tr>
                <tr *ngIf="this.payment_details.billing_info.state.trim() =='Delhi'">
                  <td style="width: 50%" class="text-right"> <label class="label-bold">CGST(9%):</label></td>
                  <td style="width: 50%;padding-right: 10px;" class="text-right">
                    <label>Rs.{{this.gst_amount_del}}</label></td>
                </tr>
                <tr *ngIf="this.payment_details.billing_info.state.trim() =='Delhi'">
                  <td style="width: 50%" class="text-right"> <label class="label-bold">SGST(9%):</label></td>
                  <td style="width: 50%;padding-right: 10px;" class="text-right"><label>Rs.{{ this.sgst_amount}}</label>
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-right"><label class="label-bold">Total:</label></td>
                  <td style="width: 50%;padding-right: 10px;" class="text-right"><label
                      style="font-weight:bolder;font-size: medium;">Rs.{{final_amount}}</label></td>
                </tr>
              </table>
            </div>
          </div>

          <!-- rrc -->
          <div class="row">
            <div class="col-xs-8 col-md-8 col-xl-8">
            </div>
            <div class="col-xs-4 col-md-4 col-xl-4">
              <table style="width: 100%;">
                <tr>
                  <td style="width: 50%" class="text-right"> </td>
                  <td style="width: 50%" class="text-right">
                    <div class="text-right" *ngIf="ShowPayBtn == true">
                      <button *ngIf="payment_details.payment_summary.tds_amount!=true " type="button"
                        class="btn btn-xs btn-primary pull-right" [disabled]=" payment_details.billing_info.pan == undefined || payment_details.billing_info.pan == null || 
                                  payment_details.billing_info.pan == '' || payment_details.billing_info.gstin == undefined || 
                                  payment_details.billing_info.gstin == null || 
                                  payment_details.billing_info.gstin == '' " (click)="InitiatePayment()">Pay</button>

                      <button *ngIf="payment_details.payment_summary.tds_amount==true" type="button"
                        class="btn btn-xs btn-primary pull-right"
                        [disabled]=" payment_details.billing_info.pan == undefined || payment_details.billing_info.pan == null || 
                                  payment_details.billing_info.pan == '' || payment_details.billing_info.gstin == undefined || 
                                  payment_details.billing_info.gstin == null || 
                                  payment_details.billing_info.gstin == '' || payment_details.billing_info.tan == undefined || payment_details.billing_info.tan == null  ||  payment_details.billing_info.tan == ''"
                        (click)="InitiatePayment()">Pay</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- rrc -->

        </div>


      </div>
    </div>
  </div>

</div>


<!-- image view model -->
<ng-template #uploadViewModel role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Uploaded doc(s)</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">

    <div *ngIf="!(ary_uploadedDocs===null || ary_uploadedDocs===undefined)" class="table-responsive">

      <table class="table table-bordered table-striped customTable">
        <thead>
          <tr>
            <th class="text-center"> Name </th>
            <th class="text-center">Action </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ary_uploadedDocs">
            <td class="text-center">{{item.fn}}</td>
            <td class="text-center">

              <a class="text-success mouse-pointer" title="Download file" (click)="downloadUploadFile(item)">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>

              <a style="margin-left: 10px;" class="text-danger mouse-pointer" title="Delete file"
                (click)="deleteUploadFile(item)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</ng-template>
<!-- image view model -->
