/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loginBg_container {
  background: url("../../../../assets/images/ayush-img/login_bg_ayush.jpg") no-repeat;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo_qci a img {
  float: left;
  position: absolute;
  right: 25px;
  top: 15px;
}

.app-title-main {
  width: 100%;
}

.app-title-main h5 {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;

}

.account-pages {
  position: relative;
  top: 67px;
}

.trans-bg {
  background-color: rgba(255, 255, 255, .9);
  margin-bottom: 5px;
}

.btn-green {
  color: #fff;
  background-color: #34c38f;
  border-color: #34c38f;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
  color: #fff;
  background-color: #148f62;
  border-color: #148f62;
}

.ft-text {
  font-size: 13px;
    color: #343a40;
    font-weight: 600;
    text-shadow: 8px 13px 15px #ffffff;
    margin-bottom: 0;
  
}
.loginErrorText{
  font-size: 12px;
  font-weight: 500;
}

.form-group label {
  font-weight: 600;
  font-size: 14px;
}

.nabh_logo
{
  position: absolute;
  top: 15px;
  left:25px ;
  
}
.support_dropdown
{
  position: absolute;
  top: 38px;
  right:100px ;
  font-weight: bolder;
}
// #password
// {
//   font-weight: 600;
// }
// #email
// {
//   font-weight: 600;
// }
#email_label
{
font-size: 13px;
font-weight: 600;
}
#password_label
{
  font-size: 13px;
  font-weight: 600;
}

.application-helper p{
  font-size: 11px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: normal;  
}
.custom-invalid{
  border-color: #f46a6a;
  box-shadow: 0 0 0 0.15rem rgba(244, 106, 106, 0.25);
}