<div class="card-body p-0">
  <form #censtatutaryform="ngForm">





    <!--Question  start region-->
    <!-- ques 1 -->
    <div class="row">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>1.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.censtatutarylicense.document_portraying_its_affiliations_and_accreditation.ques_text}}
          </div>
        </div>
      </div>
      <!-- <div class="col-xs-12 col-md-8 col-xl-8">
              <div class="frm-question">
                <span class="quest-count"><b>1.</b></span>
                <div class="question-desc">
              <label>{{cenhospitalPagesQueBank.censtatutarylicense.document_portraying_its_affiliations_and_accreditation.ques_text}}</label>
</div>
</div>
            </div> -->

      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="censtatutarylicense.document_portraying_its_affiliations_and_accreditation.ques_selected_opt"
          name="document_portraying_its_affiliations_and_accreditation"
          #document_portraying_its_affiliations_and_accreditation="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <div *ngIf="document_portraying_its_affiliations_and_accreditation.invalid">
          <div
            *ngIf="censtatutaryformSubmitted && document_portraying_its_affiliations_and_accreditation.errors.required"
            class="text-danger">
            Required
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset
          [hidden]="censtatutarylicense.document_portraying_its_affiliations_and_accreditation.ques_selected_opt!=true">

          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(censtatutarylicense.document_portraying_its_affiliations_and_accreditation,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>

          <!-- <input hidden type="file" #doc1
            (change)="previewImage(doc1,$event.target.files,censtatutarylicense.document_portraying_its_affiliations_and_accreditation,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,censtatutarylicense.document_portraying_its_affiliations_and_accreditation,'ques_doc_url')">
            <!-- (click)="openUploadedDocsModal(censtatutarylicense.document_portraying_its_affiliations_and_accreditation,'ques_doc_url')" -->
            <i
              [ngClass]="(censtatutarylicense.document_portraying_its_affiliations_and_accreditation!=null?censtatutarylicense.document_portraying_its_affiliations_and_accreditation.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="document_portraying_its_affiliations_and_accreditation_doc"
            #document_portraying_its_affiliations_and_accreditation_doc="ngModel" required
            [disabled]="censtatutarylicense.document_portraying_its_affiliations_and_accreditation.ques_selected_opt!=true"
            [(ngModel)]="censtatutarylicense.document_portraying_its_affiliations_and_accreditation.ques_doc_url"
            required>
          <div *ngIf="document_portraying_its_affiliations_and_accreditation_doc.invalid">
            <div
              *ngIf="censtatutaryformSubmitted && document_portraying_its_affiliations_and_accreditation_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.document_portraying_its_affiliations_and_accreditation:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.document_portraying_its_affiliations_and_accreditation:'')|DaNcbtnColorPipe"
          (click)="openNcModel('censtatutarylicense','document_portraying_its_affiliations_and_accreditation',cenhospitalPagesQueBank.censtatutarylicense.document_portraying_its_affiliations_and_accreditation)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense?.document_portraying_its_affiliations_and_accreditation?.nc_cycle_count:''}}
        </button>
      </div>



    </div>
    <!-- ques 1 end-->

    <hr class="form-seprator" />
    <!-- ques 2 -->
    <div class="row">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>2.</b></div>
          <div class="media-body">
            {{cenhospitalPagesQueBank.censtatutarylicense.centre_have_a_certificate_of_incorporation.ques_text}}</div>
        </div>
      </div>
      <!-- <div class="col-xs-12 col-md-8 col-xl-8">
              <div class="frm-question">
                <span class="quest-count"><b>2.</b></span>
                <div class="question-desc">
              <label>{{cenhospitalPagesQueBank.censtatutarylicense.centre_have_a_certificate_of_incorporation.ques_text}}</label>
</div>
</div>
            </div> -->

      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control" required
          [(ngModel)]="censtatutarylicense.centre_have_a_certificate_of_incorporation.ques_selected_opt"
          name="centre_have_a_certificate_of_incorporation" #centre_have_a_certificate_of_incorporation="ngModel">
          <option [ngValue]="null">Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <div *ngIf="centre_have_a_certificate_of_incorporation.invalid">
          <div *ngIf="censtatutaryformSubmitted && centre_have_a_certificate_of_incorporation.errors.required"
            class="text-danger">
            Required
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">

        <fieldset [hidden]="censtatutarylicense.centre_have_a_certificate_of_incorporation.ques_selected_opt!=true">

          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
            (click)="openDocModel(censtatutarylicense.centre_have_a_certificate_of_incorporation,'ques_doc_url')">
            <i class="bx bx-upload"></i>
          </a>


          <!-- <input hidden type="file" #doc2
            (change)="previewImage(doc2,$event.target.files,censtatutarylicense.centre_have_a_certificate_of_incorporation,'ques_doc_url')" /> -->


          <a title="View Document" class="mt-4"
            (click)="openUploadedDocsModal(uploadViewModel,censtatutarylicense.centre_have_a_certificate_of_incorporation,'ques_doc_url')">
            <!-- (click)="openUploadedDocsModal(censtatutarylicense.centre_have_a_certificate_of_incorporation,'ques_doc_url')" -->
            <i
              [ngClass]="(censtatutarylicense.centre_have_a_certificate_of_incorporation!=null?censtatutarylicense.centre_have_a_certificate_of_incorporation.ques_doc_url:'')|uploadbtnpipe"></i>
          </a>
          <input hidden type="text" name="centre_have_a_certificate_of_incorporation_doc"
            #centre_have_a_certificate_of_incorporation_doc="ngModel" required
            [disabled]="censtatutarylicense.centre_have_a_certificate_of_incorporation.ques_selected_opt!=true"
            [(ngModel)]="censtatutarylicense.centre_have_a_certificate_of_incorporation.ques_doc_url" required>
          <div *ngIf="centre_have_a_certificate_of_incorporation_doc.invalid">
            <div *ngIf="censtatutaryformSubmitted && centre_have_a_certificate_of_incorporation_doc.errors.required"
              class="text-danger">
              Required
            </div>
          </div>



        </fieldset>



      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.centre_have_a_certificate_of_incorporation:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.centre_have_a_certificate_of_incorporation:'')|DaNcbtnColorPipe"
          (click)="openNcModel('censtatutarylicense','centre_have_a_certificate_of_incorporation',cenhospitalPagesQueBank.censtatutarylicense.centre_have_a_certificate_of_incorporation)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense?.centre_have_a_certificate_of_incorporation?.nc_cycle_count:''}}
        </button>
      </div>


    </div>
    <!-- ques 2 end-->

    <hr class="form-seprator" />

    <!-- ques 3 -->
    <!--Question Removed-->
    <!-- <div class="row">
            <div class="col-xs-12 col-md-8 col-xl-8">
              <div class="frm-question">
                <span class="quest-count"><b>3.</b></span>
                <div class="question-desc">
              <label>{{cenhospitalPagesQueBank.censtatutarylicense.centre_comply_to_applicable_statutory_requirements.ques_text}}</label>
</div>
              </div>
            </div>

            <div class="col-xs-12 col-md-3 col-xl-3">
              <select class="form-control" required
                [(ngModel)]="censtatutarylicense.centre_comply_to_applicable_statutory_requirements.ques_selected_opt"
                name="centre_comply_to_applicable_statutory_requirements"
                #centre_comply_to_applicable_statutory_requirements="ngModel">
                <option [ngValue]="null">Select</option>
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>

            </div>
            <div *ngIf="centre_comply_to_applicable_statutory_requirements.invalid">
              <div *ngIf="censtatutaryformSubmitted &&
                       centre_comply_to_applicable_statutory_requirements.errors.required" class="text-danger">
                Required
              </div>
            </div>
           

          </div>
        

          <div class="row">
            <div class="col-xs-12 col-md-8 col-xl-8">
              <div class="frm-question">
                <span class="quest-count"><b></b></span>
                <div class="question-desc">
              <label>Registration License</label>
</div>
</div>
            </div>

            <div class="col-xs-12 col-md-2 col-xl-2">
              
            </div>
           
          </div>

          <div class="row" *ngFor="let tab of this.censtatutarylicense.registration_license_list; let i=index;">
        
            <div class="col-xs-12 col-md-12 col-xl-12">
              <div class="row">
                <div  class="col-xs-12 col-md-2 col-xl-2">
                  <div class="form-group  mb-3">
                    <label for="example-text-input">Name/Type of Legislation</label>
                   
  
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-xl-4">
                  <select class="form-control" [(ngModel)]="tab.name_of_lagislation" name="agency_name{{i}}"
                  id="agency_name{{i}}" #agency_name="ngModel" required>
                  <option [ngValue]="null">Select</option>
                  <option value="Shops & Establishment Act">Shops & Establishment Act</option>
                  <option value="Clinical Establishment Act">Clinical Establishment Act</option>
                  <option value="State or Local Statutory">State or Local Statutory</option>
                  <option value="Other">Other</option>
                </select>
                <div *ngIf="agency_name.invalid">
                  <div *ngIf="censtatutaryformSubmitted && agency_name.errors.required" class="text-danger">
                    Required
                  </div>
                </div>
                </div>
              </div>  
          
              
                <div *ngIf="tab.name_of_lagislation!=null && tab.name_of_lagislation!='null'" class="databox">
                      
                  <div class="row">
  
                    <div class="col-xs-12 col-md-6 col-xl-6" *ngIf="tab.name_of_lagislation=='Other'">
                      <div class="form-group  mb-3">
                        <label for="example-text-input">Others</label>
                        <input class="form-control" type="text" id="others{{i}}" name="others{{i}}"
                          [(ngModel)]="tab.other" #others="ngModel" required>
                        <div *ngIf="others.invalid">
                          <div *ngIf="censtatutaryformSubmitted && others.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-xl-6">
                      <div class="form-group  mb-3">
                        <label for="example-text-input">Name of authority issuing the licence</label>
                        <input class="form-control" type="text" id="name_of_authority" name="name_of_authority"
                          [(ngModel)]="tab.name_of_authority" #name_of_authority="ngModel" required>
                        <div *ngIf="name_of_authority.invalid">
                          <div *ngIf="censtatutaryformSubmitted && name_of_authority.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
                      </div>
                    </div>

  
                   
                    <div class="col-xs-12 col-md-6 col-xl-6">
                      <div class="form-group  mb-3">
                        <label for="example-text-input">Status</label>
  
  
                        <select class="form-control" [(ngModel)]="tab.status" name="status{{i}}" id="status{{i}}"
                          #status="ngModel" required>
                          <option value=null>Select</option>
                          <option value="Valid">Valid</option>
                          <option value="Expired">Expired</option>
                        </select>
                        <div *ngIf="status.invalid">
                          <div *ngIf="censtatutaryformSubmitted && status.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
  
                      </div>
                    </div>
  
                   
                    <div class="col-xs-12 col-md-6 col-xl-6">
                      <div class="form-group  mb-3">
                        <label for="example-text-input">License Number</label>
                        <input class="form-control" type="text" id="license_number{{i}}" name="license_number{{i}}"
                          [(ngModel)]="tab.license_number" #license_number="ngModel" required>
  
                        <div *ngIf="license_number.invalid">
                          <div *ngIf="censtatutaryformSubmitted && license_number.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
  
                      </div>
                    </div>
  
  
  
                    <div class="col-xs-12 col-md-6 col-xl-6">
                      <div class="form-group  mb-3">
                        <label for="example-text-input">Valid From</label>
                        <input class="form-control" type="date" id="valid_from{{i}}" name="valid_from{{i}}"
                          [(ngModel)]="tab.valid_from" #valid_from="ngModel" required>
  
                        <div *ngIf="valid_from.invalid">
                          <div *ngIf="censtatutaryformSubmitted && valid_from.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="col-xs-12 col-md-6 col-xl-6">
                      <div class="form-group  mb-3">
                        <label for="example-text-input">Valid Till</label>
                        <input class="form-control" type="date" id="valid_till{{i}}" name="valid_till{{i}}"
                          [(ngModel)]="tab.valid_till" #valid_till="ngModel" required>
                        <div *ngIf="valid_till.invalid">
                          <div *ngIf="censtatutaryformSubmitted && valid_till.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
                      </div>
                    </div>
  
  
                    <div class="col-xs-12 col-md-6 col-xl-6">
                      <div class="form-group  mb-3">
                        <label for="example-text-input">Upload Document</label>
                        <fieldset class="form-control">
                          <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4" (click)="doc17.click()">
                           <i class="bx bx-upload"></i>
                          </a>
                          <input hidden type="file" #doc17
                            (change)="previewImage($event.target.files,tab,'license_url')" />
                          <a title="View Document" class="mt-4"
                            (click)="openUploadedDocsModal(uploadViewModel,tab,'license_url')">
                            <i [ngClass]="(tab!=null?tab.license_url:'')|uploadbtnpipe"></i>
                          </a>
                          <input hidden type="text" name="license_url" #license_url="ngModel"
                            [(ngModel)]="tab.license_url">
                          
                        </fieldset>
                      </div>
                    </div>
  
                    <div class="col-xs-12 col-md-6 col-xl-6" *ngIf="tab.status=='Expired'">
                      <div class="form-group  mb-3">
                        <label for="example-text-input">Application number of renewal application</label>
                        <input class="form-control" type="text" id="application_number_renewal{{i}}"
                          name="application_number_renewal{{i}}" [(ngModel)]="tab.application_number_renewal"
                          #application_number_renewal="ngModel" required />
                        <div *ngIf="application_number_renewal.invalid">
                          <div *ngIf="censtatutaryformSubmitted && application_number_renewal.errors.required"
                            class="text-danger">
                            Required
                          </div>
                        </div>
                      </div>
                    </div>
  
  
                  </div>
                 
                 
                  <div class="text-right mt-2">
                    <button *ngIf="censtatutarylicense.registration_license_list.length>1" class="btn btn-danger" (click)="removeRegistrationLicense(tab)">Delete</button>
                  </div>
  
                </div>
              
            </div>
            </div>

        
          <div class="text-right mt-2">
            <button class="btn btn-success" (click)="AddRegistrationLicense()">Add License Details</button>
          </div>


           <hr class="form-seprator" />  -->
    <!--Question Removed Region End-->
    <!---->
    <div class="row mb-1">
      <div class="col-sm-8">
        <div class="media">
          <div class="mr-3"><b>3.</b></div>
          <div class="media-body">Does the Centre have MoU with Bio-Medical Waste (BMW) Collecting Agency?</div>
        </div>
      </div>
      <!-- <div class="col-xs-12 col-md-8 col-xl-8">
              <div class="frm-question">
                <span class="quest-count"><b>3.</b></span>
                <div class="question-desc">
                
                  <label>Does the Centre have MoU with Bio-Medical Waste (BMW) Collecting Agency?</label>
                </div>
                </div>
              

             

            </div> -->

      <div class="col-xs-12 col-md-2 col-xl-2">
        <select class="form-control"
          [(ngModel)]="censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.ques_selected_opt" name="hvmoubiological"
          id="hvmoubiological" #hvmoubiological="ngModel" required>
          <option [ngValue]=null>Select</option>
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
        <div *ngIf="hvmoubiological.invalid">
          <div *ngIf="censtatutaryformSubmitted && hvmoubiological.errors.required" class="text-danger">
            Required
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-1 col-xl-1 text-center text-center">




      </div>
      <div class="col-sm-1 text-center">
        <button type="button"
          *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.hospital_hv_mou_wt_bilogical_waste:'')|DaNcBtnHideShow: Stage_id"
          [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.hospital_hv_mou_wt_bilogical_waste:'')|DaNcbtnColorPipe"
          (click)="openNcModel('censtatutarylicense','hospital_hv_mou_wt_bilogical_waste',cenhospitalPagesQueBank.censtatutarylicense.hospital_hv_mou_wt_bilogical_waste)">NC
          {{ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense?.hospital_hv_mou_wt_bilogical_waste?.nc_cycle_count:''}}
        </button>
      </div>



    </div>


    <div class="databox1" *ngIf="censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.ques_selected_opt==true">
      <!---->
      <div class="row">
        <!-- cbs -->
        <div class="col-xs-12 col-md-4 col-xl-4">
          <div class="form-group">
            <label><b>Agency Name</b></label>
            <input required [(ngModel)]="censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.agency_name"
              name="moubiologicalagncyname" #moubiologicalagncyname="ngModel" type="text" class="form-control">
            <div *ngIf="moubiologicalagncyname.invalid">
              <div *ngIf="censtatutaryformSubmitted && moubiologicalagncyname.errors.required" class="text-danger">
                Required
              </div>
            </div>
          </div>

        </div>
        <!-- <div class="col-xs-12 col-md-4 col-xl-4"> 
                <div class="form-group  mb-3">
                  <label> Available</label>

                  <select class="form-control"
                  [disabled]="censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.ques_selected_opt!=true"
                  [(ngModel)]="censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.available"
                    name="moubiologicalavailabel" id="moubiologicalavailabel" #moubiologicalavailabel="ngModel">
                    <option [ngValue]="null">Select</option>
                    <option [ngValue]="true">Yes</option>
                    <option [ngValue]="false">No</option>
                  </select>
                  <div *ngIf="moubiologicalavailabel.invalid">
                    <div *ngIf="censtatutaryformSubmitted && moubiologicalavailabel.errors.required" class="text-danger">
                      Required
                    </div>
                  </div>
                </div>
            </div> -->
        <div class="col-xs-12 col-md-4 col-xl-4">
          <div class="form-group">
            <label><b>Valid From</b></label>
            <!-- <input [disabled]="statutory_compliance.hospital_has_imaging_services.ques_selected_opt!='Outsourced' && statutory_compliance.hospital_has_imaging_services.ques_selected_opt!='Both'"
                     required [(ngModel)]="statutory_compliance.hospital_hv_mou_wt_bilogical_waste.valid_from" name="imgmouvalidfrom" #imgmouvalidfrom="ngModel" type="text" class="form-control"> -->
            <div class="input-group clockpicker">
              <input required [(ngModel)]="censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.valid_from"
                name="moubiologicalvalidfrom" #moubiologicalvalidfrom="ngModel" ngbDatepicker class="form-control"
                readonly placeholder="DD/MM/YYYY" [minDate]="{year: 1950, month:1, day: 1}" #d6="ngbDatepicker">
              <div class="input-group-append" (click)="d6.toggle()">
                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
              </div>
            </div>

            <div *ngIf="moubiologicalvalidfrom.invalid">
              <div *ngIf="censtatutaryformSubmitted && moubiologicalvalidfrom.errors.required" class="text-danger">
                Required
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 col-xl-4">
          <div class="form-group">
            <label><b>Valid Till</b></label>
            <!-- <input [disabled]="statutory_compliance.hospital_has_imaging_services.ques_selected_opt!='Outsourced' && statutory_compliance.hospital_has_imaging_services.ques_selected_opt!='Both'"
                   required [(ngModel)]="statutory_compliance.hospital_hv_mou_wt_bilogical_waste.valid_till" name="imgmouvalidtill" #imgmouvalidtill="ngModel" type="text" class="form-control"> -->
            <div class="input-group clockpicker">
              <input required [(ngModel)]="censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.valid_till"
                name="moubiologicalvalidtill" #moubiologicalvalidtill="ngModel" ngbDatepicker class="form-control"
                readonly placeholder="DD/MM/YYYY" [minDate]="{year: 1950, month:1, day: 1}" #d10="ngbDatepicker">
              <div class="input-group-append" (click)="d10.toggle()">
                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
              </div>
            </div>
            <div *ngIf="moubiologicalvalidtill.invalid">
              <div *ngIf="censtatutaryformSubmitted && moubiologicalvalidtill.errors.required" class="text-danger">
                Required
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="row">

        <div class="col-xs-12 col-md-4 col-xl-4">
          <div>
            <label><b>Upload MoU</b></label>
            <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
              (click)="openDocModel(censtatutarylicense.hospital_hv_mou_wt_bilogical_waste,'ques_doc_url')">
              <i class="bx bx-upload"></i>
            </a>

            <!-- <input hidden type="file" #doc13
              (change)="previewImage(doc13,$event.target.files,censtatutarylicense.hospital_hv_mou_wt_bilogical_waste,'ques_doc_url')" /> -->


            <a title="View Document"
              (click)="openUploadedDocsModal(uploadViewModel,censtatutarylicense.hospital_hv_mou_wt_bilogical_waste,'ques_doc_url')"
              class="mt-4">

              <i
                [ngClass]="(censtatutarylicense.hospital_hv_mou_wt_bilogical_waste!=null?censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.ques_doc_url:'')|uploadbtnpipe"></i>
            </a>
            <input hidden type="text" name="moubiologicaldoc" #moubiologicaldoc="ngModel" required
              [(ngModel)]="censtatutarylicense.hospital_hv_mou_wt_bilogical_waste.ques_doc_url" required>
            <div *ngIf="moubiologicaldoc.invalid">
              <div *ngIf="censtatutaryformSubmitted && moubiologicaldoc.errors.required" class="text-danger">
                Required
              </div>
            </div>

          </div>

        </div>
        <div class="col-xs-12 col-md-4 col-xl-4">
        </div>

      </div>





      <!---->
    </div>

    <!---->

    <ngb-accordion class="range-accordion" [destroyOnHide]="false" #acc="ngbAccordion"
      (panelChange)="panelChange($event)">
      <ngb-panel id="static-1">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="btn btn-link text-left">Details of Licenses
            <div class="w-100">

              <div class="d-flex accordionToggleIcon" *ngIf="openById['static-1']">
                <i class="mdi mdi-minus"></i>
              </div>
              <div class="d-flex accordionToggleIcon" *ngIf="!openById['static-1']">
                <i class="mdi mdi-plus"></i>
              </div>
            </div>
          </button>
        </ng-template>
        <!-- <ng-template ngbPanelHeader>
                Details of Licenses
              </ng-template><br> -->
        <ng-template ngbPanelContent>

          <div class="row" *ngFor="let data of censtatutarylicense.details_of_licience;let i=index">
            <div class="col-md-12 col-xl-12 col-xs-12">


              <div class="row">
                <div class="col-sm-8">
                  <div class="media">
                    <div class="mr-3"><b>{{i+1}}.</b></div>
                    <div class="media-body">{{data.lic_name}}</div>
                  </div>
                </div>
                <!-- <div class="col-xs-12 col-md-8 col-xl-8">
                <div class="frm-question">
                  <span class="quest-count"><b>{{i+1}}</b></span>
                  <div class="question-desc">
                    <label>{{data.lic_name}}</label>
                  
                  </div>
                  </div>
                 
              </div>
           -->
                <div class="col-xs-12 col-md-2 col-xl-2">
                  <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                    <select class="form-control" required [(ngModel)]="data.isapplicable" name="isapplicable{{i}}"
                      #isapplicable="ngModel">
                      <option [ngValue]="null">Select</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                      <option *ngIf="data.id==5||data.id==12||data.id==13" value="not applicable">Not Applicable
                      </option>
                    </select>
                    <div *ngIf="isapplicable.invalid">
                      <div *ngIf="censtatutaryformSubmitted &&
                isapplicable.errors.required" class="text-danger">
                        Required
                      </div>
                    </div>
                  </fieldset>


                </div>



                <div class="col-xs-12 col-md-2 col-xl-2">
                  <!-- <a *ngIf="i>=5" (click)="removeMoreLicense(data)">
                  <i class="bx bx-x-circle text-danger box-icon"></i>
                </a> -->

                  <button type="button"
                    *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense['details_of_licience_' + data.id]:'')|DaNcBtnHideShow: Stage_id"
                    [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense['details_of_licience_' + data.id]:'')|DaNcbtnColorPipe"
                    (click)="openNcModel('censtatutarylicense','details_of_licience_'+ data.id,data)">NC
                    <!-- {{ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.'details_of_licience_' + data.id?.nc_cycle_count:''}} -->
                    <!-- {{ncFormTabInfo.censtatutarylicense. +'details_of_licience_'+data.id. +nc_cycle_count}} -->
                  </button>

                </div>
                <!-- <div class="col-sm-1 text-center">
                <button type="button"
                  *ngIf="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.details_of_licience:'')|DaNcBtnHideShow: Stage_id"
                  [ngClass]="(ncFormTabInfo!=null?ncFormTabInfo.censtatutarylicense.details_of_licience:'')|DaNcbtnColorPipe"
                  (click)="openNcModel('censtatutarylicense','censtatutarylicense.details_of_licience',cenhospitalPagesQueBank.censtatutarylicense.details_of_licience[i])">NC</button>
          
              </div> -->


              </div>

              <div class="databox" *ngIf="data.isapplicable=='yes'">

                <!-- row -->
                <div class="row">

                  <!-- <div class="col-xs-12 col-md-6 col-xl-6">
                <div class="form-group  mb-3">
                  <label for="example-text-input">Licience Name</label>
                  <input class="form-control" type="text" id="licc_nam{{i}}" name="licc_nam{{i}}"
                  [(ngModel)]="data.lic_detail.licience_name" #licc_nam="ngModel" required>
          
                  <div *ngIf="licc_nam.invalid">
                    <div *ngIf="censtatutaryformSubmitted && licc_nam.errors.required" class="text-danger">
                      Required
                    </div>
                  </div>
          
                </div>
              </div> -->

                  <!--  -->


                  <!--  -->

                  <div class="col-xs-12 col-md-6 col-xl-6">
                    <div class="form-group  mb-3">
                      <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                        <label for="example-text-input">Licensing Body</label>
                        <input class="form-control" type="text" id="licc_body{{i}}" name="licc_body{{i}}"
                          [(ngModel)]="data.lic_detail.agent_licensing_name" #licc_body="ngModel" required>

                        <div *ngIf="licc_body.invalid">
                          <div *ngIf="censtatutaryformSubmitted && licc_body.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>

                      </fieldset>

                    </div>
                  </div>

                  <!--  -->
                  <!--  -->
                  <div class="col-xs-12 col-md-6 col-xl-6">
                    <div class="form-group  mb-3">
                      <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                        <label for="example-text-input">Status</label>


                        <select class="form-control" [(ngModel)]="data.lic_detail.status" name="liccstatus{{i}}"
                          id="liccstatus{{i}}" #liccstatus="ngModel" required>
                          <option value=null>Select</option>
                          <option value="Valid">Valid</option>
                          <option value="Expired">Expired</option>
                        </select>
                        <div *ngIf="liccstatus.invalid">
                          <div *ngIf="censtatutaryformSubmitted && liccstatus.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
                      </fieldset>


                    </div>
                  </div>

                  <!--  -->
                  <div class="col-xs-12 col-md-6 col-xl-6" *ngIf="data.lic_detail.status=='Expired'">
                    <div class="form-group  mb-3">
                      <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                        <label for="example-text-input">Application Number of Renewal Application</label>
                        <input class="form-control" type="text" id="app_num_renew{{i}}" name="app_num_renew{{i}}"
                          [(ngModel)]="data.lic_detail.application_number_renewal" #app_num_renew="ngModel" required>

                        <div *ngIf="app_num_renew.invalid">
                          <div *ngIf="censtatutaryformSubmitted && app_num_renew.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
                      </fieldset>


                    </div>
                  </div>

                  <!--  -->
                  <div class="col-xs-12 col-md-6 col-xl-6">
                    <div class="form-group  mb-3">
                      <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                        <label for="example-text-input">License Number</label>
                        <input class="form-control" type="text" id="licns_number{{i}}" name="licns_number{{i}}"
                          [(ngModel)]="data.lic_detail.license_number" #licns_number="ngModel" required>

                        <div *ngIf="licns_number.invalid">
                          <div *ngIf="censtatutaryformSubmitted && licns_number.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
                      </fieldset>


                    </div>
                  </div>

                  <div class="col-xs-12 col-md-6 col-xl-6">
                    <div class="form-group  mb-3">
                      <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                        <label for="example-text-input">Valid From</label>

                        <div class="input-group clockpicker">
                          <input required [(ngModel)]="data.lic_detail.valid_from" #valid_from="ngModel"
                            id="valid_from{{i}}" name="valid_from{{i}}" ngbDatepicker class="form-control" readonly
                            placeholder="DD/MM/YYYY" [minDate]="{year: 1950, month:1, day: 1}" #d8="ngbDatepicker">
                          <div class="input-group-append" (click)="d8.toggle()">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                          </div>
                        </div>

                        <div *ngIf="valid_from.invalid">
                          <div *ngIf="censtatutaryformSubmitted && valid_from.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
                      </fieldset>


                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6 col-xl-6">
                    <div class="form-group  mb-3">
                      <fieldset [disabled]="cenhospitalPages.isFinalSubmit==true">
                        <label for="example-text-input">Valid Till</label>

                        <div class="input-group clockpicker">
                          <input required [(ngModel)]="data.lic_detail.valid_till" #valid_till="ngModel"
                            id="valid_till{{i}}" name="valid_till{{i}}" ngbDatepicker class="form-control" readonly
                            placeholder="DD/MM/YYYY" [minDate]="{year: 1950, month:1, day: 1}" #d9="ngbDatepicker">
                          <div class="input-group-append" (click)="d9.toggle()">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                          </div>
                        </div>
                        <div *ngIf="valid_till.invalid">
                          <div *ngIf="censtatutaryformSubmitted && valid_till.errors.required" class="text-danger">
                            Required
                          </div>
                        </div>
                      </fieldset>

                    </div>
                  </div>


                  <div class="col-xs-12 col-md-6 col-xl-6">
                    <div class="form-group  mb-3">
                      <label for="example-text-input">Upload License</label>
                      <fieldset class="form-control" [disabled]="cenhospitalPages.isFinalSubmit==true">
                        <a title="Upload Document" *ngIf="this.currUsrRole ==3 && Stage_id ==20" class="mr-4 mt-4"
                          (click)="openDocModel(data.lic_detail,'license_url')">
                          <i class="bx bx-upload"></i>
                        </a>
                        <!-- <input hidden type="file" #doc18
                          (change)="previewImage(doc18,$event.target.files,data.lic_detail,'license_url')" /> -->
                        <a title="View Document" class="mt-4"
                          (click)="openUploadedDocsModal(uploadViewModel,data.lic_detail,'license_url')">
                          <i [ngClass]="(data.lic_detail!=null?data.lic_detail.license_url:'')|uploadbtnpipe"></i>
                        </a>
                        <input required hidden type="text" name="license_url{{i}}" #license_url="ngModel"
                          [(ngModel)]="data.lic_detail.license_url">


                      </fieldset>
                      <div *ngIf="license_url.invalid">
                        <div *ngIf="censtatutaryformSubmitted && license_url.errors.required" class="text-danger">
                          Required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- row end -->







              </div>

              <hr class="form-seprator" />


            </div>
          </div>
          <!--           
                <button class="btn btn-success pull-right" (click)="AddMoreLicience()">+Add more</button>
           -->


        </ng-template>
      </ngb-panel>
    </ngb-accordion>










    <br>






  </form>

  <!-- image view model -->
  <ng-template #uploadViewModel role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Uploaded doc(s)</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <!-- ------ -->
      <div *ngIf="!(ary_uploadedDocs===null || ary_uploadedDocs===undefined)" class="table-responsive">


        <table class="table table-bordered table-striped customTable">
          <thead>
            <tr>
              <th class="text-center"> Name </th>
              <th class="text-center">Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ary_uploadedDocs">
              <td class="text-center">{{item.fn}}</td>
              <td class="text-center">

                <a class="text-success mouse-pointer" title="Download file" (click)="downloadUploadFile(item)">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </a>

                <a style="margin-left: 10px;" class="text-danger mouse-pointer" title="Delete file"
                  (click)="deleteUploadFile(item)" *ngIf="this.currUsrRole ==3 && Stage_id ==20">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>



      </div>


    </div>

  </ng-template>
  <!-- image view model -->

</div>
<ng-template #documentuploadModel role="document" let-modal>

  <div class="modal-header">
    <h5 class="modal-title mt-0">Upload Document</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <!-- <div class="row mt-2">
      <ngb-progressbar *ngIf="showUploadMsg!=null" [value]="this.progress" type="progress-bar" showValue="true"
        style="width: 100%;">
      </ngb-progressbar>
    </div> -->
    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <h5 style="margin-left: 10px;"><strong>Document</strong></h5>

    </div>

    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <input style="margin-left: 10px;" type="file" #myFileInput (change)="handleFileInput($event.target.files)" />

    </div>
    <div class="row mt-2">
      <!-- (change)="previewImage(doc1,$event.target.files,admin_record.hospital_maintains_the_documents_brochure,'ques_doc_url')" -->
      <label style="margin-left: 10px;"><b>Note: </b>The following formats are accepted: PDF, JPG, JPEG, PNG. The
        maximum file size allowed in 20 MB.</label>

    </div>
    <div class="row">
      <br>
    </div>
    <div class="row mt-2">
      <!--  -->
      <div class="alert alert-success  fade show" style="width: 100%;" *ngIf="showUploadMsg==true">

        The file has been successfully uploaded
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="Upload2(myFileInput)">Upload</button>
  </div>
</ng-template>
