<div class="container-fluid">
  <!-- <app-page-title title="Calendar" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->

  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary pull-right" (click)="addEvent()">
        Mark Availability on Calendar
      </button>
    </div>
    
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="app-calendar">
            <!-- calendar -->
            <full-calendar #calendar defaultView="dayGridMonth"  [displayEventTime]= "false" [header]="{
              left: 'prev,next today',
              center: 'title',
              right:false
             
            }" [plugins]="calendarPlugins" themeSystem='bootstrap' [weekends]="calendarWeekends"
              [bootstrapFontAwesome]="false" deepChangeDetection="true" [events]="events" deepChangeDetection="true"
              (dateClick)="openModal($event)" (eventClick)="openEditModal($event)" >
            </full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Event Modal -->

<form #myAddDateForm="ngForm">

  <ng-template #addUserModel let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Mark Availability Date</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>

    <div class="modal-body">
     

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Event Date<span class="text text-danger">*</span></label>
        <div class="col-md-9">
          <div class="input-group">
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>

            <input type="text" class="form-control date" (click)="hidden=!hidden" name="daterange" autocomplete="off"
              [(ngModel)]="selected" />

            <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
              outsideDays="hidden" [hidden]="hidden">
            </ngb-datepicker>
          </div>
        
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label style="color: green">{{responseData.good}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label style="color: red">{{responseData.bad}}</label>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" [disabled]="!myAddDateForm.form.valid" class="btn btn-success"
        (click)="Save(editCalendarInfo)">Save</button>
    </div>
  </ng-template>

</form>


